                <div class="links">
                    <div class="group">
                        <h2>ViethanIT</h2>
                        <ul>
                            <li>Về chúng tôi</li>
                            <li>Đội ngũ nhân sự</li>
                            <li><a href="http://viethanit.edu.vn/2017/12/07/nhan-su-bch-dang-bo-truong-cao-dang-cntt-huu-nghi-viet-han/">Đảng bộ</a></li>
                            <li><a href="http://viethanit.edu.vn/2018/01/07/danh-sach-nhan-su-bch-cong-doan-truong-cao-dang-cntt-huu-nghi-viet-han/">Công đoàn &amp; Đoàn thành niên</a></li>
                            <li>Nghiên cứu khoa học</li>
                            <li>Hợp tác quốc tế</li>
                            <li>Hợp tác doanh nghiệp</li>
                        </ul>
                    </div>
                    <div class="group">
                        <h2>Học với chúng tôi</h2>
                        <ul>
                            <li><a href="https://tuyensinh.viethanit.edu.vn">Tuyển sinh 2018</a></li>
                            <li>Học bổng</li>
                            <li>Cơ sở vật chất</li>
                            <li>Cơ hội việc làm</li>
                            <li>Khóa học ngắn hạn</li>
                        </ul>
                    </div>
                    <div class="group">
                        <h2>Các ngành đào tạo</h2>
                        <ul>
                            <li><a href="http://viethanit.edu.vn/2018/01/03/nhom-nganh-khach-san-nha-hang-ke-toan-kiem-toan/">Nhóm ngành Khách sạn, Nhà hàng, Kế toán, Kiểm toán</a></li>
                            <li><a href="http://viethanit.edu.vn/2018/01/03/nhom-nganh-bao-chi-truyen-thong/">Nhóm ngành Báo chí truyền thông</a></li>
                            <li><a href="http://viethanit.edu.vn/2018/01/03/nhom-nganh-my-thuat-ung-dung-kien-truc/">Nhóm ngành Mỹ thuật, Ứng dụng, Kiến trúc</a></li>
                            <li><a href="http://viethanit.edu.vn/2018/01/03/nhom-nganh-dien-dien-tu-vien-thong/">Nhóm ngành Điện, Điện tử, Viễn thông</a></li>
                            <li><a href="http://viethanit.edu.vn/2018/01/03/nhom-nganh-mang-may-tinh-va-cong-nghe-thong-tin/">Nhóm ngành Mạng máy tính và công nghệ thông tin</a></li>
                            <li><a href="http://viethanit.edu.vn/2018/01/03/nhom-nganh-ngon-ngu/">Nhóm ngành Ngôn ngữ</a></li>

                        </ul>
                    </div>
                    <div class="group">
                        <h2>Kết nối</h2>
                        <ul>
                            <li><a href="http://viethanit.edu.vn/contact/http://viethanit.edu.vn/contact/">Liên hệ</a></li>
                            <li><a href="https://www.facebook.com/viethanicu/"><span class="ic-facebook"></span> Facebook</a></li>
                            <li><a href="https://www.youtube.com/viethanicu">Youtube</a></li>
                            <!-- <li>Bản đồ</li> -->
                            <!-- <li>Tin tức</li> -->
                            <!-- <li>Báo chí</li> -->
                            <li><a href="http://doc.viethanit.edu.vn">Trang Đào tạo</a></li>
                            <li><a href="http://viethanit.edu.vn/thuvien">Trang Thư viện</a></li>
                            <li><a href="http://tqa.viethanit.edu.vn">Trang Trung tâm khảo thí và đảm bảo chất lượng</a></li>
                            <li><a href="https://mail.viethanit.edu.vn">Mail công vụ</a></li>
                            <li><a href="http://esys.viethanit.edu.vn">Trang nội bộ Esys</a> | <a href="http://vhmis.viethanit.edu.vn">Vhmis</a></li>
                        </ul>
                    </div>
                </div>
                <div class="slogan">ViethanIT - Một điểm tựa</div>
                <div class="copyright">&copy; ViethanIT 2016 - Giữ toàn quyền</div>
