                <div class="links">
                    <div class="group">
                        <h2>Giáo trình</h2>
                        <ul>
                            <li><a href="#">Công nghệ thông tin</a></li>
                            <li><a href="#">Thương mại điện tử</a></li>
                            <li><a href="#">Lập trình máy tính</a></li>
                            <li><a href="#">Mạng máy tính</a></li>
                            <li><a href="#">Hệ thống thông tin</a></li>
                            <li><a href="#">Khác</a></li>
                        </ul>
                    </div>
                    <div class="group">
                        <h2>Sách tham khảo</h2>
                        <ul>
                            <li><a href="#">Công nghệ thông tin</a></li>
                            <li><a href="#">Thương mại điện tử</a></li>
                            <li><a href="#">Lập trình máy tính</a></li>
                            <li><a href="#">Mạng máy tính</a></li>
                            <li><a href="#">Hệ thống thông tin</a></li>
                            <li><a href="#">Khác</a></li>
                        </ul>
                    </div>
                    <div class="group">
                        <h2>Đồ án tốt nghiệp</h2>
                        <ul>
                            <li><a href="#">Ngành công nghệ thông tin</a></li>
                            <li><a href="#">Ngành thương mại điện tử</a></li>
                            <li><a href="#">Ngành lập trình máy tính</a></li>
                            <li><a href="#">Ngành mạng máy tính</a></li>
                            <li><a href="#">Ngành hệ thống thông tin</a></li>
                            <li><a href="#">Ngành khác</a></li>
                        </ul>
                    </div>
                    <div class="group">
                        <h2>Luận văn</h2>
                        <ul>
                            <li><a href="#">Tiến sĩ</a></li>
                            <li><a href="#">Thạc sĩ</a></li>
                            <li><a href="#">Khác</a></li>
                        </ul>
                        <h2>Bài báo</h2>
                        <ul>
                            <li><a href="#">Tiếng Việt</a></li>
                            <li><a href="#">Tiếng Anh</a></li>
                            <li><a href="#">Khác</a></li>
                        </ul>
                    </div>
                </div>
                <div class="copyright_lib">
                    Bản quyền tài liệu bởi tác giả, sử dụng có trích dẫn<br>
                    <img src="/client/img/cc.png">
                </div>
                <div class="slogan">ViethanIT - Một điểm tựa</div>
                <div class="copyright">&copy; ViethanIT 2017 - Giữ toàn quyền</div>
