                <div class="links">
                    <div class="group">
                        <h2>ViethanIT</h2>
                        <ul>
                            <li>Về chúng tôi</li>
                            <li>Đội ngũ nhân sự</li>
                            <li>Đảng bộ</li>
                            <li>Đoàn thành niên</li>
                            <li>Nghiên cứu khoa học</li>
                            <li>Hợp tác quốc tế</li>
                            <li>Hợp tác doanh nghiệp</li>
                        </ul>
                    </div>
                    <div class="group">
                        <h2>Học với chúng tôi</h2>
                        <ul>
                            <li><a href="/tuyensinh">Tuyển sinh 2016</a></li>
                            <li>Học bổng</li>
                            <li>Cơ sở vật chất</li>
                            <li>Cơ hội việc làm</li>
                            <li>Khóa học ngắn hạn</li>
                        </ul>
                    </div>
                    <div class="group">
                        <h2>Các ngành đào tạo</h2>
                        <ul>
                            <li>Ngành Công nghệ thông tin</li>
                            <li>Khoa học máy tính</li>
                            <li>Truyền thông và mạng máy tính</li>
                            <li>Quản trị kinh doanh</li>
                            <li>Marketing</li>
                            <li>Công nghệ kĩ thuật điện tử, truyền thông</li>
                            <li>Công nghệ kĩ thuật kiến trúc</li>
                            <li>Thiết kế đồ họa</li>
                            <li>Truyền thông đa phương tiện</li>
                        </ul>
                    </div>
                    <div class="group">
                        <h2>Kết nối</h2>
                        <ul>
                            <li>Liên hệ</li>
                            <li><span class="ic-facebook"></span> Facebook</li>
                            <li>Youtube</li>
                            <li>Bản đồ</li>
                            <li>Tin tức</li>
                            <li>Báo chí</li>
                            <li>Trang Đào tạo</li>
                            <li>Trang Thư viện</li>
                            <li>Trang Trung tâm khảo thí và đảm bảo chất lượng</li>
                            <li>Mail công vụ</li>
                            <li>Trang nội bộ</li>
                        </ul>
                    </div>
                </div>
                <div class="slogan">ViethanIT - Một điểm tựa</div>
                <div class="copyright">&copy; ViethanIT 2016 - Giữ toàn quyền</div>
