.page-header .title .header-title {
  background: url(../img/logo_10nam.jpg) 0 0 no-repeat;
  background-size: 72px 56px;
  /* 100 94 */
  padding-left: 76px;
}

.sc-intro .video-player {
  width: 50%;
  float: left;
  padding: 1rem;
}
.sc-intro .info {
  width: 50%;
  float: left;
  padding: 1rem;
}
.sc-intro .info .box {
  padding: 1rem;
  border: 16px solid transparent;
  border-image: 16 repeating-linear-gradient(-45deg, red 0, red 1em, transparent 0, transparent 2em, #58a 0, #58a 3em, transparent 0, transparent 4em);
}
.sc-intro .info h2 {
  margin-bottom: 15px;
}
.sc-intro .info p {
  text-align: justify;
}
.sc-intro .info p + p {
  margin-top: 10px;
}
.sc-intro .info .sign {
  margin-top: 10px;
  display: block;
  float: right;
  width: 300px;
  text-align: center;
  font-weight: bold;
}
.sc-intro .info .info-link {
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 700;
}

@media (max-width: 801px) {
  .sc-intro .video-player {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .sc-intro .info {
    width: 100%;
  }
}
@media (max-width: 501px) {
  .sc-intro .info .sign {
    width: 100%;
  }
}
.sc-event .photo {
  width: 50%;
  float: left;
  padding: 1rem;
}
.sc-event .info {
  width: 50%;
  float: left;
  padding: 1rem;
}
.sc-event .info .info-link {
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 700;
}
.sc-event .highlight:after, .sc-event .highlight:before {
  content: " ";
  display: table;
}
.sc-event .highlight:after {
  clear: both;
}
.sc-event .highlight > div {
  float: left;
  width: 25%;
  padding: 15px;
}
.sc-event .highlight > div span {
  display: block;
  padding: 3px 5px 0px 5px;
}
.sc-event .highlight > div span.title {
  background-color: #1a77cd;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 10px;
}
.sc-event.even .photo {
  float: right;
}
.sc-event.even .info {
  float: left;
}

@media (max-width: 801px) {
  .sc-event .photo {
    width: 100%;
  }
  .sc-event .info {
    width: 100%;
  }
  .sc-event .highlight > div {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .sc-event .highlight > div {
    width: 100%;
  }
}
.sc-event-info div.info {
  width: 33.3333333%;
  float: left;
  padding: 15px;
}
.sc-event-info div.info h2 {
  margin-bottom: 10px;
}
.sc-event-info div.info p + ul, .sc-event-info div.info p + h2 {
  margin-top: 10px;
}
.sc-event-info div.info ul {
  list-style-type: disc;
  list-style-position: inside;
}
.sc-event-info div.info ul li + li {
  margin-top: 10px;
}
.sc-event-info div.info ul + h2 {
  margin-top: 10px;
}
.sc-event-info div.info ul li ul {
  margin-top: 10px;
  margin-left: 20px;
  list-style-type: circle;
}

@media (max-width: 801px) {
  .sc-event-info div.info {
    width: 100%;
  }
  .sc-event-info div.info + div.info {
    padding-top: 0px;
  }
}
.sc-main-events {
  margin-bottom: 2rem;
}
.sc-main-events h2 {
  margin-bottom: 1rem;
}
.sc-main-events h2 + ul {
  margin-bottom: 1rem;
}
.sc-main-events .main-events {
  float: left;
  width: 50%;
  padding: 1rem;
}
.sc-main-events .main-events ul li:after, .sc-main-events .main-events ul li:before {
  content: " ";
  display: table;
}
.sc-main-events .main-events ul li:after {
  clear: both;
}
.sc-main-events .main-events ul li + li {
  margin-top: 6px;
  border-top: 1px solid #eee;
  padding-top: 6px;
}
.sc-main-events .main-events ul li span {
  display: block;
  float: left;
}
.sc-main-events .main-events ul li span.eday {
  width: 85px;
  margin-right: 15px;
  padding: 3px 3px 0px 7px;
  background-color: #1a77cd;
  color: #fff;
  border-radius: 2px;
}
.sc-main-events .main-events ul li span.etime {
  width: 70px;
  padding: 3px;
}
.sc-main-events .main-events ul li span.etime.noday {
  margin-left: 100px;
}
.sc-main-events .main-events ul li span.etitle {
  padding: 3px 0 0 0;
  width: calc(100% - 170px);
  font-weight: 700;
}
.sc-main-events .other-events {
  float: left;
  width: 50%;
  padding: 1rem;
}
.sc-main-events .other-events ul li:after, .sc-main-events .other-events ul li:before {
  content: " ";
  display: table;
}
.sc-main-events .other-events ul li:after {
  clear: both;
}
.sc-main-events .other-events ul li + li {
  margin-top: 1rem;
  border-top: 1px solid #eee;
  padding-top: 1rem;
}
.sc-main-events .other-events ul li span {
  display: block;
  float: left;
}
.sc-main-events .other-events ul li span.etime {
  width: 130px;
}
.sc-main-events .other-events ul li span.etitle {
  width: calc(100% - 130px);
}

@media (max-width: 801px) {
  .sc-main-events .other-events {
    width: 100%;
    padding-top: 0px;
  }
  .sc-main-events .main-events {
    width: 100%;
  }
  .sc-main-events .main-events + .main-events {
    padding-top: 0px;
  }
}
.sc-timeline-slide .section-container {
  height: 400px;
  position: relative;
  overflow: hidden;
}
.sc-timeline-slide .section-container .slide {
  top: 100%;
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;
  transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.sc-timeline-slide .section-container .slide:after, .sc-timeline-slide .section-container .slide:before {
  content: " ";
  display: table;
}
.sc-timeline-slide .section-container .slide:after {
  clear: both;
}
.sc-timeline-slide .section-container .slide .side_left {
  width: 50%;
  height: 100%;
  float: left;
}
.sc-timeline-slide .section-container .slide .side_right {
  width: 50%;
  height: 100%;
  background-color: #ccc;
  float: left;
}
.sc-timeline-slide .section-container .slide.active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.sc-list-article {
  margin-bottom: 2rem;
}
.sc-list-article .section-container {
  background-color: #efe;
}
.sc-list-article .list-article {
  background-color: #fff;
  float: left;
  width: calc(100% - 300px);
  padding: 1rem;
}
.sc-list-article .list-article ul li .title {
  font-size: 16px;
  font-weight: 700;
  display: block;
}
.sc-list-article .list-article ul li .meta {
  padding-top: 10px;
}
.sc-list-article .list-article ul li + li {
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding-top: 10px;
}
.sc-list-article .magazine {
  width: 300px;
  float: left;
  text-align: center;
  padding: 1rem;
}

.sc-timeline {
  margin-bottom: 30px;
}
.sc-timeline .section-container {
  position: relative;
}
.sc-timeline .section-container .event {
  position: relative;
  margin-bottom: 30px;
}
.sc-timeline .section-container .event:after, .sc-timeline .section-container .event:before {
  content: " ";
  display: table;
}
.sc-timeline .section-container .event:after {
  clear: both;
}
.sc-timeline .section-container .event:last-child {
  margin-bottom: 0;
}
.sc-timeline .section-container .event .icon {
  position: absolute;
  background: #fff;
  top: 0;
  left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sc-timeline .section-container .event .icon img {
  display: block;
  width: 36px;
  height: 36px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -18px;
}
.sc-timeline .section-container .event .content {
  position: relative;
  margin-left: 65px;
  background: #fff;
  border-radius: 0.25em;
  padding: 1em;
}
.sc-timeline .section-container .event .content:after, .sc-timeline .section-container .event .content:before {
  content: " ";
  display: table;
}
.sc-timeline .section-container .event .content:after {
  clear: both;
}
.sc-timeline .section-container .event .content h2 {
  color: #303e49;
  margin-bottom: 10px;
}
.sc-timeline .section-container .event .content img {
  width: 100%;
  margin-bottom: 10px;
}
.sc-timeline .section-container .event .content .date {
  float: left;
  padding: .8em 0;
  font-weight: 700;
}
.sc-timeline .section-container .event .content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
.sc-timeline .section-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 23px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media (min-width: 700px) {
  .sc-timeline .section-container .event {
    margin-bottom: 30px;
  }
  .sc-timeline .section-container .event .icon {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }
  .sc-timeline .section-container .event .content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .sc-timeline .section-container .event .content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .sc-timeline .section-container .event .content .date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .sc-timeline .section-container .event:last-child {
    margin-bottom: 0;
  }
  .sc-timeline .section-container .event:nth-child(even) .content {
    float: right;
  }
  .sc-timeline .section-container .event:nth-child(even) .content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .sc-timeline .section-container .event:nth-child(even) .content .date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .sc-timeline .section-container::before {
    left: 50%;
    margin-left: -2px;
  }
}
.sc-i .section-container {
  background-color: #efe;
}
.sc-i .content-main {
  background-color: #fff;
  padding: 1rem;
  float: left;
  width: calc(100% - 400px);
}
.sc-i .content-main ul {
  margin-top: 10px;
  margin-bottom: 10px;
}
.sc-i .content-sub {
  padding: 1rem;
  float: left;
  width: 400px;
}

.sc-i-resource .content-main {
  width: 50%;
}
.sc-i-resource .content-main img {
  width: 100%;
}
.sc-i-resource .content-sub {
  width: 50%;
}

.sc-i-contact {
  margin-bottom: 2rem;
}
.sc-i-contact .depart {
  width: 25%;
  padding: 1rem;
  float: left;
}
.sc-i-contact .depart ul {
  margin-top: 15px;
}
.sc-i-contact .depart li + li {
  margin-top: 10px;
}
.sc-i-contact .depart span {
  display: block;
}
.sc-i-contact .depart span.pname {
  font-weight: 700;
}
.sc-i-contact .depart span.ppos {
  font-style: italic;
}

@media (max-width: 801px) {
  .sc-i .content-main {
    width: 100% !important;
  }
  .sc-i .content-sub {
    width: 100% !important;
  }
}
.sc-news {
  margin-bottom: 30px;
}
.sc-news .post {
  float: left;
  padding-left: 15;
  padding-right: 15;
  min-height: 1px;
  margin-bottom: 30px;
  width: 33.33333%;
}
.sc-news article {
  padding: 15px;
}
.sc-news article h2 {
  font-size: 1.3rem;
  font-weight: 600;
}
.sc-news article .post-photo {
  margin-bottom: 10px;
}
.sc-news article .post-photo img {
  width: 100%;
}
.sc-news article .post-title {
  height: 70px;
  overflow: hidden;
}

@media (max-width: 901px) {
  .sc-news .post {
    width: 50%;
  }
}
@media (max-width: 501px) {
  .sc-news .post {
    width: 100%;
  }
}
.page-footer .ow-links {
  text-align: center;
}
.page-footer .ow-links a {
  color: #eee;
  text-decoration: none;
}
.page-footer .ow-links a:hover {
  color: #fff;
  text-decoration: none;
}
