.sc-organizing-cc h2 {
  text-align: center;
  margin-top: 2rem;
}

.members {
  padding-top: 1rem;
}
.members:after, .members:before {
  content: " ";
  display: table;
}
.members:after {
  clear: both;
}
.members li {
  width: 33.33333%;
  display: block;
  padding: 0 15px;
  float: left;
  text-align: center;
  margin-bottom: 1rem;
}
.members li.center {
  margin: 0 auto 1rem;
  float: none;
}
.members li .name {
  font-weight: 700;
}
.members li .name.big {
  font-size: 1.3rem;
}
.members li .title {
  margin-top: 6px;
  display: inline-block;
  background: #1a77cd;
  color: #fff;
  font-weight: 700;
  padding: 3px 5px;
  border-radius: 3px;
}

@media (max-width: 700px) {
  .members li {
    width: 100%;
  }
}
.list-members {
  padding: 1rem 2rem 0;
}
.list-members li {
  display: block;
  border-top: 1px solid #eee;
}
.list-members li:after, .list-members li:before {
  content: " ";
  display: table;
}
.list-members li:after {
  clear: both;
}
.list-members li span {
  display: block;
  float: left;
  padding: 0.7rem 0;
}
.list-members li span.name {
  width: 30%;
  font-weight: 700;
}
.list-members li span.pos {
  width: 40%;
}
.list-members li span.duty {
  width: 30%;
}

.list-members2 {
  padding: 1rem 2rem 0;
}
.list-members2 li {
  display: block;
  float: left;
  width: 50%;
  padding-bottom: 0.7rem;
  margin-bottom: 0.7rem;
  border-bottom: 1px solid #eee;
}
.list-members2 li:after, .list-members2 li:before {
  content: " ";
  display: table;
}
.list-members2 li:after {
  clear: both;
}
.list-members2 li span.name {
  font-weight: 700;
}

@media (max-width: 1000px) {
  .list-members2 li span {
    display: block;
  }
}
@media (max-width: 650px) {
  .list-members2 li {
    width: 100%;
  }
  .list-members2 li span {
    display: inline;
  }
}
.sc-cfp .download li {
  float: right;
  width: 150px;
  font-weight: 700;
  text-align: center;
  background: #efe;
  padding: 1rem;
}

.sc-important-dates .dates {
  padding: 1rem;
}
.sc-important-dates .dates li .date {
  background: #ccc;
  padding: 8px 8px 6px;
  width: 110px;
  margin-right: 8px;
  display: inline-block;
  font-weight: 700;
}
.sc-important-dates .dates li + li {
  margin-top: 1rem;
}

.sc-subject .note {
  text-align: center;
  padding: 15px;
}
.sc-subject .subjects:after, .sc-subject .subjects:before {
  content: " ";
  display: table;
}
.sc-subject .subjects:after {
  clear: both;
}
.sc-subject .subjects .subject-container {
  float: left;
  width: 50%;
  padding: 15px 30px;
}
.sc-subject .subjects .subject-container ul {
  margin-top: 1rem;
}
.sc-subject .subjects .subject-container ul li + li {
  margin-top: 8px;
  border-top: 1px solid #ccc;
  padding-top: 8px;
}

@media (max-width: 600px) {
  .sc-subject .subjects .subject-container {
    width: 100%;
  }
}
.sc-article-rule .rule-info {
  float: left;
  width: 70%;
}
.sc-article-rule .rule-info p {
  padding: 2rem;
}
.sc-article-rule .template-download {
  padding: 3rem 2rem;
  background: #efe;
  float: left;
  width: 30%;
}
.sc-article-rule .template-download ul li {
  font-weight: 700;
  float: left;
  width: 50%;
  text-align: center;
}

@media (max-width: 1100px) {
  .sc-article-rule .rule-info {
    width: 100%;
  }
  .sc-article-rule .template-download {
    width: 100%;
  }
}
.sc-article-submit .online {
  padding: 2rem;
  float: left;
  width: 70%;
}
.sc-article-submit .offline {
  background: #efe;
  width: 30%;
  float: left;
  padding: 2rem;
}
.sc-article-submit h2 {
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .sc-article-submit .online {
    width: 100%;
  }
  .sc-article-submit .offline {
    width: 100%;
  }
}
.sc-cest .section-container .card_info .card {
  width: 50%;
}
.sc-cest .card > div {
  background-color: #fff;
  padding: 15px;
  position: relative;
}
.sc-cest .card .sub {
  color: #ccc;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
}
.sc-cest .card .sub::after {
  display: block;
  content: ' ';
  border-top: 1px solid #ddd;
  width: 40%;
  margin: 0 auto;
}
.sc-cest .card.intro p,
.sc-cest .card.intro ul, .sc-cest .card.logos p,
.sc-cest .card.logos ul {
  margin-bottom: 10px;
}
.sc-cest .card.logos li {
  float: left;
  width: 33.33333%;
  text-align: center;
  padding: 0 15px;
}
.sc-cest .card.logos li span.logo {
  height: 130px;
  display: block;
  line-height: 130px;
  overflow: hidden;
}
.sc-cest .card.logos li span.logo img {
  width: 50%;
}
.sc-cest .card.logos li span.title {
  font-weight: 700;
}
.sc-cest .card.programs span {
  font-weight: 700;
}
.sc-cest .card.programs li {
  display: block;
  margin-bottom: 6px;
  border-top: 1px solid #eee;
  padding-top: 5px;
  margin-top: 5px;
}
.sc-cest .card.programs li a {
  color: #000;
}

@media (max-width: 801px) {
  .sc-cest .section-container .card_info .card {
    width: 100%;
  }
}
@media (max-width: 521px) {
  .sc-cest .card.logos li {
    width: 100%;
  }
  .sc-cest .card.logos li span.logo {
    height: 130px;
    display: block;
    width: 130px;
    margin: auto;
    overflow: hidden;
  }
  .sc-cest .card.logos li span.logo img {
    width: 70%;
  }
}
.sc-intro .section-container .card_info .card {
  width: 33.33333%;
}
.sc-intro .card > div {
  background-color: #fff;
  padding: 15px;
  position: relative;
}
.sc-intro .card.intro img {
  width: 100%;
  padding-bottom: 20px;
}
.sc-intro .card.members {
  text-align: center;
}
.sc-intro .card.members .sub {
  margin-bottom: 30px;
}
.sc-intro .card.members ul + .sub {
  margin-top: 30px;
}
.sc-intro .card.members .name {
  font-weight: 700;
}
.sc-intro .card.members .name.big {
  font-size: 1.3rem;
}
.sc-intro .card.papers li {
  display: block;
  font-weight: 700;
}
.sc-intro .card.papers li .name {
  font-weight: 300;
  font-style: italic;
}
.sc-intro .card.papers li + li {
  margin-bottom: 6px;
  border-top: 1px solid #eee;
  padding-top: 5px;
  margin-top: 5px;
}
.sc-intro .card .sub {
  color: #ccc;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
}
.sc-intro .card .sub::after {
  display: block;
  content: ' ';
  border-top: 1px solid #ddd;
  width: 40%;
  margin: 0 auto;
}

.sc-news {
  margin-bottom: 30px;
}
.sc-news .post {
  float: left;
  padding-left: 15;
  padding-right: 15;
  min-height: 1px;
  margin-bottom: 30px;
  width: 33.33333%;
}
.sc-news article {
  padding: 15px;
}
.sc-news article h2 {
  font-size: 1.3rem;
  font-weight: 600;
}
.sc-news article .post-photo {
  margin-bottom: 10px;
}
.sc-news article .post-photo img {
  width: 100%;
}
.sc-news article .post-title {
  height: 70px;
  overflow: hidden;
}

.sc-page {
  margin-bottom: 30px;
}

.page-footer .ow-links {
  text-align: center;
  margin-bottom: 15px;
}
.page-footer .ow-links a {
  color: #eee;
  text-decoration: none;
}
.page-footer .ow-links a:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 790px) {
  .page-header .global .intro_text {
    display: none;
  }

  .page-header .global .links {
    float: left;
  }
}
@media (max-width: 770px) {
  .fb .form-booking,
  .fb .form-registration,
  .pr .press-release {
    width: 60%;
  }

  .fb .info,
  .pr .contact {
    width: 40%;
  }
}
@media (max-width: 750px) {
  .sc-intro .section-container .card_info .card {
    width: 100%;
  }
  .sc-intro .section-container .card_info .card + .card {
    margin-top: 30px;
  }

  .page-header .title .header-title span {
    display: none;
  }
}
@media (max-width: 650px) {
  .sc-aciids .section-container .card_info .card {
    width: 100%;
  }
  .sc-aciids .section-container .card_info .card + .card {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .fb .form-booking,
  .fb .form-registration,
  .fb .info,
  .pr .contact,
  .pr .press-release {
    width: 100%;
  }

  .fb .info,
  .pr .contact {
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  .sc-events .section-container .card_info .card {
    width: 100%;
  }
  .sc-events .section-container .card_info .card + .card {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .sc-partners .partners .partner {
    width: 50%;
  }
}
.sc-events + .sc-events {
  margin-bottom: 2rem;
}
.sc-events .hour-events > li {
  padding: 0.5rem 0;
  margin: 0 2rem;
}
.sc-events .hour-events > li + li {
  border-top: 1px solid #eee;
}
.sc-events .hour-events .hour {
  background: #1a77cd;
  color: #fff;
  width: 110px;
  text-align: center;
  font-weight: 700;
  padding: 5px;
  margin-bottom: 0.5rem;
}
.sc-events .hour-events .event h4 {
  font-size: 1.5rem;
}
.sc-events .hour-events .event > span {
  display: block;
}
.sc-events .hour-events .event > span.loc {
  margin-top: 0.4rem;
}
.sc-events .hour-events .event > span.person span.name {
  font-weight: 600;
}
