---
layout: tuyensinh
title: Tuyển sinh 2016
page: index
---

        <div class="container sc-main">
            <div class="row">
                <div class="col-md-4">
                    <div class="flash-card flash-intro">
                        <h1 class="flash-header">Thông báo tuyển sinh 2016</h1>
                        <div class="flash-photo">
                            <img src="/client/tuyensinh/img/flash_info.jpg" alt=""/>
                        </div>
                        <div class="flash-body">
                            <p><strong>Chỉ tiêu tuyển sinh:</strong> 1100 CĐ (toàn quốc)</p>
                            <p><strong>Hình thức tuyển sinh:</strong></p>
                            <ul>
                                <li>Theo kết quả kỳ thi THPT Quốc gia</li>
                                <li>Xét tuyển học bạ THPT</li>
                            </ul>
                            <p><strong>Tổ hợp xét tuyển:</strong></p>
                            <ul>
                                <li>Ngữ văn, Lịch sử, Địa lí (C00)</li>
                                <li>Ngữ văn, Toán, Tiếng Anh (D01)</li>
                                <li>Ngữ văn, Lịch sử, Tiếng Anh (D14)</li>
                                <li>Ngữ văn, Địa lí, Tiếng Anh (D15)</li>
                                <li>Toán, Vật lý, Anh văn (A01)</li>
                                <li>Ngữ văn, Toán, Vật lí (C01)</li>
                                <li>Ngữ văn, Toán, Địa lí (C04)</li>
                                <li>Toán, Ngữ văn, Anh văn (D01)</li>
                            </ul>
                        </div>
                        <div class="flash-detail-link">
                            <a href="thongtin_tuyensinh2016.html"> <span class="glyphicon glyphicon-circle-arrow-right"></span> Xem chi tiết</a>
                            <a href="dkxt_nguyenvong_online.html"> <span class="glyphicon glyphicon-circle-arrow-right"></span> ĐK bằng kq thi</a>
                            <a href="dkxt_hocba_online.html"> <span class="glyphicon glyphicon-circle-arrow-right"></span> ĐK bằng học bạ</a>
                        </div>
                        <!-- <div class="flash-more">
                            <p><b>Thông báo trúng tuyển và nhập học đợt 3 2015</b></p>
                            <ul>
                                <li>DS trúng tuyển: <a href="ds_trungtuyen_dot3.html">Theo kết quả thi và học bạ</a></li>
                                <li><a href="thongbao_nhaphoc_dot3_2015.html">Chi tiết thông báo nhập học</a></li>
                            </ul>
                            <p><b>Cập nhật danh sách đăng ký xét tuyển</b></p>
                            <ul>
                                <li>Theo kết quả thi: <a href="data/ds_xet_tuyen_web_060815.xlsx">16h ngày 20/08/2015</a></li>
                                <li>Theo kết quả học bạ: <a href="data/ds_xet_tuyen_hocba_070815.xls">10h ngày 14/08/2015</a></li>
                            </ul>
                            <p><b><a href="thongbao_diemtrungtuyen_2015.html">Điểm trúng tuyển dự kiến: 12đ</a></b></p>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flash-card flash-majors">
                        <h1 class="flash-header">Các ngành tuyển sinh</h1>
                        <div class="flash-photo">
                            <img src="/client/tuyensinh/img/flash_marjors.jpg" alt=""/>
                        </div>
                        <div class="flash-body">
                            <ul>
                                <li><a href="nganh_dt_tt.html"><span class="glyphicon glyphicon-chevron-right"></span> Công nghệ kĩ thuật điện tử, truyền thông</a></li>
                                <li><a href="nganh_kt.html"><span class="glyphicon glyphicon-chevron-right"></span> Công nghệ kĩ thuật kiến trúc</a></li>
                                <li><a href="nganh_tkdh.html"><span class="glyphicon glyphicon-chevron-right"></span> Thiết kế đồ họa</a></li>
                                <li><a href="nganh_ttdpt.html"><span class="glyphicon glyphicon-chevron-right"></span> Truyền thông đa phương tiện</a>
                                <li><a href="nganh_cntt"><span class="glyphicon glyphicon-chevron-right"></span> Công nghệ thông tin</a>
                                <li><a href="nganh_khmt.html"><span class="glyphicon glyphicon-chevron-right"></span> Khoa học máy tính</a></li>
                                <li><a href="nganh_tt_mmt.html"><span class="glyphicon glyphicon-chevron-right"></span> Truyền thông và mạng máy tính</a>
                                <li><a href="nganh_qtkd.html"><span class="glyphicon glyphicon-chevron-right"></span> Quản trị kinh doanh</a></li>
                                <li><a href="nganh_marketing.html"><span class="glyphicon glyphicon-chevron-right"></span> Marketing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="flash-card flash-about">
                        <h1 class="flash-header">Về trường CĐ CNTT Hữu nghị Việt-Hàn</h1>
                        <div class="flash-video flash-photo embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nL8VT4j2tZc" allowfullscreen></iframe>
                        </div>
                        <div class="flash-body">
                            <p>Trường cao đẳng công nghệ thông tin hữu nghị Việt-Hàn là trường CĐ công lập về CNTT và ứng dụng CNTT chuyên sâu tại Đà Nẵng và miền Trung.</p>
                            <ul>
                                <li><a href="gioithieu_viethan.html"><span class="glyphicon glyphicon-chevron-right"></span> Giới thiệu về trường</a></li>
                                <li><a href="gioithieu_viethan.html"><span class="glyphicon glyphicon-chevron-right"></span> Cơ sở vật chất</a></li>
                                <li><a href="gioithieu_viethan.html"><span class="glyphicon glyphicon-chevron-right"></span> Đối tác và thành tích</a></li>
                            </ul>
                            <p>Học tập tại trường, sinh viên có cơ hội nhận được nhiều chương trình học bổng và cơ hội việc làm sau khi ra trường.</p>
                            <ul>
                                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Chương trình học bổng</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Cơ hội việc làm sau khi ra trường</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container sc-main">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-heading">
                        <h1 class="">Thông tin thêm</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container sc-main">
            <div class="row">
                <div class="col-md-4">
                    <div class="block-info contact-info">
                        <h2 class="">Liên hệ với chúng tôi</h2>
                        <div class="block-info-1">
                            <i class="glyphicon glyphicon glyphicon-earphone"></i> 05113 962 888
                        </div>
                        <div class="block-info-2">
                            <a href="" class="open_send_question" data-target="send_question_modal"><i class="glyphicon glyphicon-pencil"></i> Gửi câu hỏi trực tuyến</a> | <a href="hoidap.html">Mục hỏi đáp</a><br>
                            <i class="glyphicon glyphicon-envelope"></i> tuyensinh@viethanit.edu.vn
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-info exam-info">
                        <h2 class="">Kỳ thi TNPT quốc gia 2016</h2>
                        <div class="block-info-1">
                            <a href="https://www.google.com/maps/place/VIETHANIT/@15.97515,108.253526,17z/data=!3m1!4b1!4m2!3m1!1s0x314210893d968749:0x71ee879c7b27734a"><img src="/client/tuyensinh/img/info_map.png" alt=""/></a>
                        </div>
                        <div class="block-info-2">
                            Thông tin cần biết dành cho thí sinh và phụ huynh về điểm thi trường Việt-Hàn.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-info news-info">
                        <h2 class="">Tin tức</h2>
                        <div class="block-info-2">
                            <ul>
                            {% for post in site.categories.tuyensinh limit:3 %}
                                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% include tuyensinh/ask_question_modal.html %}
