---
layout: tuyensinh
title: Ngành công nghệ kỹ thuật điện tử, truyền thông | Tuyển sinh 20156
header_css: no-banner
major: dt_tt
---

        {% include tuyensinh/major_breadcrumb.html %}

        <div class="container sc-main">
            <div class="row">
                <div class="col-md-4">
                    {% include tuyensinh/admission_card.html %}
                </div>

                <div class="col-md-8">
                    <div class="block_component">

                        <p><img alt="dientutruyenthong" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dttt/dientutruyenthong.jpg" height="221" width="540" /></p>
<p><span style="font-size: 10pt;"><b>1. </b><b>Tổng quan về ngành Công nghệ kỹ thuật Điện tử, Truyền thông </b></span></p>
<ol> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt;">Nhu cầu về thông tin truyền thông của xã hội hiện ngày càng trở nên vô cùng quan trọng. Con người trong thế giới hiện đại không thể sống thiếu các thiết bị phương tiện hỗ trợ thông tin như: các thiết bị thông tin vệ tinh, hệ thống truyền dẫn thông tin quang, di động, phát thanh, truyền hình, máy điện thoại, máy tính cá nhân, máy tính bảng, máy chủ…Tất cả kết nối với nhau tạo thành mạng thông tin toàn cầu. Như vậy có thể nói ngành Công nghệ kỹ thuật Điện tử, Truyền thông (tên gọi cũ là ngành Điện tử-Viễn thông) là ngành sử dụng các công nghệ, kỹ thuật tiên tiến giúp cho việc trao đổi thông tin giữa con người với nhau diễn ra thuận lợi trong những điều kiện không gian và thời gian khác nhau.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Ngành Công nghệ kỹ thuật Điện tử, Truyền thông càng phát triển mạnh mẽ để phục vụ cho nhu cầu sử dụng và truyền dữ liệu của con người đang tăng theo hàm số mũ thì càng là một trong những ngành có nhu cầu nguồn nhân lực lớn nhất hiện nay. Đây là mảnh đất giàu tiềm năng cho những sinh viên đam mê làm việc với công nghệ mới.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Hiện nay ngành Công nghệ kỹ thuật Điện tử, Truyền thông có rất nhiều ứng dụng trong đời sống xã hội cụ thể ở các lĩnh vực như sau:</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Nghiên cứu, sáng tạo công nghệ mới, các thiết bị Điện tử -Viễn thông mới;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Lĩnh vực mạng, viễn thông (như hệ thống truyền dẫn quang, vệ tinh, hệ thống thông tin không dây; các thiết bị định tuyến, chuyển mạch tổng đài…);</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Lĩnh vực định vị dẫn đường;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Lĩnh vực điện tử y sinh;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Lĩnh vực âm thanh, hình ảnh;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Lĩnh vực nhận dạng hình ảnh và tự động điều khiển.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Ở Việt Nam, ngành Công nghệ kỹ thuật Điện tử, Truyền thông đang đóng vai trò quan trọng, tích cực đối với sự phát triển kinh tế xã hội. Chính vì vậy nhu cầu về nhân lực trong ngành không bao giờ thừa.</span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt;"><b>2. </b><b>Những tố chất phù hợp với ngành Công nghệ kỹ thuật Điện tử, Truyền thông</b></span><ol style="text-align: justify;"> </ol>
<p style="text-align: justify;"><img alt="dientutruyenthong1" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dttt/dientutruyenthong1.png" height="372" width="540" /></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Những bạn sinh viên thích hợp với ngành Công nghệ kỹ thuật Điện tử, Truyền thông thường là những người có những tố chất:</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- &nbsp;Sống thực tế, thích hành động;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Thích làm việc với công cụ máy móc, thiết bị hiện đại;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Thích tìm tòi và đam mê cập nhật những tiến bộ mới của thiết bị, công nghệ kỹ thuật số;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Có tư duy logic tốt – đây là một tố chất quan trọng vì điều này cho phép bạn nắm bắt, xử lý thông tin một cách mạch lạc, nhờ đó dễ dàng quản lý, vận hành các hệ thống kỹ thuật phức tạp.</span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt;"><b>3. </b><b>Những lý do chọn Ngành Công nghệ kỹ thuật Điện tử, Truyền thông</b></span><ol style="text-align: justify;"> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt;">Theo thống kê, nhóm ngành Cơ khí - Điện - Điện tử là 1 trong 10 nhóm ngành có nhu cầu tuyển dụng nhân lực đều đặn qua các năm và trong tương lai.&nbsp;Số lượng việc làm dành cho các kỹ sư điện tử, truyền thông đang ngày càng phong phú cùng với mức thu nhập cao và ổn định. Ở Việt Nam, hiện nay tổng số nhân lực của nhóm ngành Điện tử, Truyền thông và Công nghệ thông tin là khoảng  hơn 50.000 người, dự báo đến năm 2020 sẽ cần lượng nhân lực khoảng 700.000 người. Theo trung tâm dự báo nhu cầu nhân lực và thông tin thị trường Thành phố Hồ Chí Minh, nhu cầu nhân lực nhóm ngành nghề này trong giai đoạn 2020-2025 rất lớn, có thể lên đến 16.200 người/năm.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Trước bối cảnh khủng hoảng thừa nguồn nhân lực trong các ngành tài chính, giáo dục, xã hội nhân văn… thì khối ngành kỹ thuật, điển hình như ngành công nghệ Kỹ thuật điện tử, Truyền thông đang là sự lựa chọn hàng đầu cho các bạn sinh viên trẻ, năng động, đam mê công nghệ khoa học kỹ thuật, có sở trường và sở thích là các môn học thuộc khối A: Toán, Vật lý, Hóa học và khối A1: Toán, Vật lý, Anh Văn, khối D1: Toán, Văn, Anh Văn</span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt;"><b>4. </b><b>Chương trình đào tạo Ngành Công nghệ kỹ thuật Điện tử, Truyền thông -&nbsp;Trường cao đẳng công nghệ thông tin Hữu nghị Việt – Hàn</b></span><ol style="text-align: justify;"> </ol>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt;"><b>Chương trình đào tạo:</b></span></li>
</ul>
<p style="text-align: justify;"><img alt="dientutruyenthong2" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dttt/dientutruyenthong2.png" height="425" width="100%" /></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Chương trình đào tạo Ngành Công nghệ kỹ thuật Điện tử, Truyền thông - Trường cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn được các Giáo sư Hàn Quốc tư vấn thiết kế và xây dựng theo chương trình và công nghệ đào tạo tiên tiến của Hàn Quốc nhằm giúp sinh viên nắm vững kiến thức cơ bản và cơ sở ngành, nâng cao khả năng tự học, tư duy sáng tạo, có kỹ năng thực hành nghề nghiệp và kỹ năng sống.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Các kiến thức cơ bản như:&nbsp;Vật lý hiện đại, toán cao cấp,…, các kiến thức về khoa học xã hội và nhân văn, giúp sinh viên có thế giới quan, nhân sinh quan đúng đắn, có khả năng nhận thức, đánh giá các hiện tượng một cách logic và tích cực.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Các kiến thức về ngành điện tử như: Cấu trúc phần cứng của các vi mạch điện tử và máy tính, kỹ năng thiết kế mạch tương tự/số, các nguyên lý lập trình từ cơ bản đến nâng cao, hệ thống nhúng…</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Các kiến thức chuyên sâu về các công nghệ&nbsp;viễn thông như: Hệ thống viễn thông, hệ thống thông tin di động, hệ thống thông tin vi ba-vệ tinh, hệ thống thông tin sợi quang, mạng máy tính và các mạng viễn thông thế hệ mới.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Trong quá trình học tập sinh viên được học và thực hành trên hệ thống các phòng thí nghiệm, thực hành hiện đại gồm: Phòng thực hành vi xử lý; Phòng thực hành vi điều khiển; Phòng thực hành điện tử; Phòng thí nghiệm xử lý tín hiệu và hệ thống nhúng; Phòng thực hành thông tin quang; Phòng thí nghiệm thông tin di động; Phòng thực hành viễn thông.</span></p>
<p style="text-align: justify;"> </p>
<p align="center"><img alt="dientutruyenthong3" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dttt/dientutruyenthong3.jpg" height="441" width="100%" /></p>
<p align="center"><span style="font-size: 10pt;"><i>Sinh viên thực hành môn thông tin vệ tinh</i></span></p>
<p> </p>
<p align="center"><img alt="dientutruyenthong4" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dttt/dientutruyenthong4.jpg" height="442" width="100%" /></p>
<p align="center"><span style="font-size: 10pt;"><i>Phòng thực hành vi xử lý, vi điều khiển</i></span></p>
<p align="center"><span style="font-size: 10pt;"><i><br /></i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Bên cạnh đó, sinh viên được rèn luyện phương pháp tư duy hệ thống và tư duy phân tích, kỹ năng trình bày, kỹ năng giao tiếp và kỹ năng làm việc nhóm hiệu quả, khoa học và chuyên nghiệp.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Ngoài ra hằng năm trường đã tổ chức cho sinh viên đi thực tế để tiếp cận môi trường làm việc, áp dụng các kiến thức đã thu thập được vào công&nbsp;việc thực của một công ty, doanh nghiêp, học hỏi, rèn luyện phong cách làm việc và ứng xử trong các mối quan hệ công tác tại một cơ quan.</span></p>
<p> </p>
<p align="center"><img alt="dientutruyenthong5" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dttt/dientutruyenthong5.jpg" height="634" width="100%" /></p>
<p align="center"><span style="font-size: 10pt;"><i>Sinh viên lớp VT05B đi thực tế tại VNPT Đại Lộc</i></span></p>
<p> </p>
<ul>
    <li style="text-align: justify;"><span style="font-size: 10pt;"><b>Kiến thức đạt được sau khi tốt nghiệp ngành Công nghệ kỹ thuật Điện tử, truyền thông</b></span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 10pt;">Với chương trình đào tạo ngành Công nghệ kỹ thuật Điện tử, Truyền thông của Trường cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn, sau khi tốt nghiệp sinh viên có khả năng:</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Thiết kế, vẽ và mô phỏng mạch điện tử bằng các phần mềm chuyên dụng, thi công các mạch điện tử ứng dụng;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Khai thác, vận hành hệ thống thiết bị điện tử viễn thông;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Bảo trì, sửa chữa các thiết bị điện tử viễn thông và tổ chức triển khai dịch vụ điện tử độc lập tự tạo việc làm;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Thực hiện các khâu thiết kế, sản xuất các thiết bị điện tử viễn thông và chuyển giao công nghệ dưới sự hướng dẫn của kỹ sư chuyên ngành;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Tiếp cận và nắm bắt được các công nghệ điện tử,  tin học- viễn thông mới trên nền tảng các môn học lý thuyết và thực hành từ nhà trường;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Có khả năng đọc, hiểu tài liệu chuyên ngành bằng tiếng Anh;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Làm việc độc lập và theo nhóm.</span></p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt;"><b>Cơ&nbsp;hội  phát triển nghề nghiệp và vị trí việc làm sau tốt nghiệp</b></span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 10pt;">Tỷ lệ sinh viên ngành Công nghệ kỹ thuật Điện tử, Truyền thông có việc làm sau khi ra trường đạt khoảng trên 80% trong vòng 12 tháng. Sinh viên có cơ hội làm việc tại các công ty viễn thông như: Vinaphone,  MobiFone, đài viễn thông, công ty truyền số liệu,&nbsp;Viettel, FPT, các nhà cung cáp dịch vụ Internet, các công ty về phát thanh truyền hình, các đài truyền hình VTC, HTV, SCTV,&nbsp;ETC… Những công ty về sản xuất lắp ráp các thiết bị điện tử trong và ngoài nước như: Samsung, Nokia, HP, Canon… . Được đăng ký học tiếp liên thông đại học tại các trường đại học trên cả nước như: Đại Học Bách Khoa Đà Nẵng, Học Viện Công nghệ Bưu chính Viễn thông, Đại Học Sư Phạm Kỹ Thuật Thành Phố Hồ Chí Minh….</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><b>* Giới thiệu hình ảnh một số sinh viên đã từng học ngành Công nghệ kỹ thuật Điện tử, Truyền thông của trường cao đẳng công nghệ thông tin Hữu nghị Việt – Hàn đang làm việc tại các doanh nghiệp</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><i> </i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><b><i><img style="float: left;" alt="dientutruyenthong6" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dttt/dientutruyenthong6.jpg" height="230" width="155" />Lê Đình Tân - Sinh viên khóa 1 (2008-2011)</i></b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><i>- Năm 2012-2014 học liên thông Đại Học Sư Phạm Kỹ Thuật Thành Phố Hồ Chí Minh.</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><i>- Năm 2014 đến nay: Kỹ Sư Firmware tại Greystone Data Systems Việt Nam.</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><i>Hiện đang theo học chương trình thạc sĩ ngành công nghệ kỹ thuật điện tử, truyền thông Đại Học Sư Phạm Kỹ Thuật Thành Phố Hồ Chí Minh.</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><i><br /></i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><i><br /></i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><b> </b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><b><i> <img style="margin: 5px; float: left;" alt="dientutruyenthong7" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dttt/dientutruyenthong7.jpg" height="219" width="155" />Lâm Quang Cảnh - Sinh viên khóa 2 (2009-2012)</i></b><b> </b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><i> - Năm 2012 đến nay: Nhân viên kỹ thuật công ty VINAPHONE III.</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><b> </b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><b> </b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><b> </b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><b> </b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><b> </b></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><b><i><img style="margin: 5px; float: left;" alt="dientutruyenthong8" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dttt/dientutruyenthong8.jpg" height="122" width="155" />Lê Đình Vang- Sinh viên khóa 3 (2010-2013)</i></b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i>Năm 2013 đến nay: nhân viên công ty Samsung Electronic Viet Nam.</i></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><i><br /></i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><i> </i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><i> </i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><i> </i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><i> </i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><b><i><img style="margin: 5px; float: left;" alt="dientutruyenthong9" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dttt/dientutruyenthong9.jpg" height="207" width="155" />Phan Tấn Đạt- Sinh viên học liên thông khóa 2013-2014</i></b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i>Năm 2014: Làm việc tại công ty truyền hình cáp SCTV Đà Nẵng.</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i>Hiện nay là nhân viên công tác tại VNPT Quảng Trị.</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><b> </b></span></p>
<p style="text-align: justify;"> </p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt;"><b>5. </b><b>Xét tuyển Ngành Công nghệ kỹ thuật Điện tử, Truyền thông</b></span><ol style="text-align: justify;"> </ol>
{% include tuyensinh/admission_footer.html %}
<p style="text-align: justify;"><span style="font-size: 10pt;">Nộp hồ sơ trực tiếp tại Phòng Đào tạo hoặc chuyển phát nhanh qua đường bưu điện theo địa chỉ:</span></p>
<p align="center"><span style="font-size: 10pt;"><b>Phòng Đào tạo - Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn</b></span></p>
<p align="center"><span style="font-size: 10pt;"><b>Số 136 Đường Trần Đại Nghĩa, Quận Ngũ Hành Sơn - Thành phố Đà Nẵng</b></span></p>
<p align="center"><span style="font-size: 10pt;"><b>Điện thoại: 0511.3962888; Website: </b><a href="http://www.viethanit.edu.vn"><b>www.viethanit.edu.vn</b></a></span></p>


                    </div>


                </div>

            </div>
        </div>
