---
layout: tuyensinh
title: Ngành công nghệ thông tin | Tuyển sinh 2017
header_css: no-banner
major: cntt
---

        {% include tuyensinh/major_breadcrumb.html %}

        <div class="container sc-main">
            <div class="row">
                <div class="col-md-4">
                    {% include tuyensinh/admission_card.html %}
                </div>

                <div class="col-md-8">

                    <div class="block_component">
                    <h3>Công nghệ thông tin là gì?</h3>
                    <p>
                         Công nghệ thông tin (CNTT - tiếng Anh là Information Technology hay IT) hiểu theo nghĩa rộng và tổng quát nhất là
                         việc sử dụng công nghệ hiện đại (chủ yếu là máy tính và viễn thông) vào việc tạo ra, lưu trữ, truyền dẫn thông tin,
                         xử lý, khai thác thông tin.
                    </p>
                    <strong>Điều gì khiến CNTT trở nên quan trọng?</strong>
                    <p>
                        Ngày nay, hầu như ngành nghề, lĩnh vực nào trong xã hội hiện đại cũng cần đến sự góp mặt của CNTT như: kinh tế, kỹ thuật,
                        ngân hàng, hàng không, an ninh quốc phòng, y tế, giáo dục...
                    <p>
                    <p>
                        Nhu cầu đối với sản phẩm của ngành CNTT là vô cùng lớn. Một số sản phẩm của ngành CNTT như:
                    </p>
                    <ul>
                        <li>
                            - Phần mềm giúp cho việc quản lý, trao đổi, chia sẻ thông tin trong các doanh nghiệp,
                            giúp cho hoạt động của các doanh nghiệp hiệu quả hơn;
                        </li>
                        <li>
                            - Phần mềm ứng dụng, các chương trình trò chơi (game) được cài đặt trên các thiết bị di động
                            hoặc máy tính cá nhân phục vụ cho nhu cầu giải trí và công việc của mỗi người;
                        </li>
                        <li>- Ứng dụng về thương mại điện tử;</li>
                        <li>- Phần mềm điều khiển các thiết bị (như ATM, người máy, máy chiếu, tên lửa...);</li>
                        <li>- Phần mềm mô phỏng các hoạt động thuộc nhiều lĩnh vực khác nhau (như giao thông, y tế...);</li>
                        <li>- Phần mềm hỗ trợ cho các lĩnh vực nghiên cứu cơ bản (toán học, vật lý, hóa học...);</li>
                        <li>- Phần mềm hỗ trợ cho việc giảng dạy và học tập.</li>
                    </ul>
                    <p>
                        Để có thể vận hành, phát triển các hệ thống và các ứng dụng CNTT đòi hỏi một nguồn nhân lực rất lớn và
                        vẫn còn tiếp tục tăng trong những năm tiếp theo. Theo số liệu khảo sát gần 22.000 người của trang tuyển dụng
                        VietnamWorks trong năm 2014, ngành CNTT đã trở lại top 10 ngành nghề được quan tâm nhất. Mục tiêu của Chính phủ
                        đặt ra là đến năm 2020 Việt Nam cần 1 triệu nhân lực CNTT. Nhưng theo thống kê được thực hiện trong năm 2014 của
                        Vụ CNTT - Bộ Thông tin và Truyền thông đến năm 2020 với 400 trường đại học và cao đẳng chỉ có thể đào tạo khoảng
                        600.000 sinh viên. Các số liệu trên cho thấy đang có một nhu cầu cấp bách về nhân lực CNTT.
                    </p>
                    <h3>Tố chất phù hợp với ngành Công nghệ thông tinh</h3>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>- Tính cẩn thận trong công việc</b>: Vì chỉ cần bất cẩn trong một dòng mã lệnh lập trình, phân tích một vấn đề không hợp lý hay sơ suất nhỏ trong chế tạo, lắp ráp thiết bị cũng có thể gây ảnh hưởng đến một ứng dụng, chương trình hay cả hệ thống, công ty.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- <b>Kiên trì, nhẫn nại:</b> Làm việc trong lĩnh vực CNTT thường xuyên phải đối mặt với những bài toán hóc búa nên rất cần sự nhẫn nại, kiên trì, chịu khó. Nhẫn nại trong ngành CNTT còn có nghĩa là bạn không dễ dàng bỏ cuộc tìm ra giải pháp công nghệ mới dù trước đó có thất bại.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>- Ham học hỏi, trau dồi kiến thức:</b> Công nghệ thay đổi và phát triển liên tục, những kiến thức hôm nay có thể ngay ngày mai đã trở thành lỗi thời. Ngành CNTT do đó cần bạn liên tục trau dồi kiến thức, nâng cao trình độ để không bị tụt hậu so với thế giới.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>- Khả năng làm việc theo nhóm:</b> CNTT là ngành đặc biệt đề cao khả năng làm việc theo nhóm (team-work). Làm việc theo nhóm không những giúp bạn giảm bớt gánh nặng và độ phức tạp của công việc, mà hơn thế còn giúp bạn hoàn thành công việc nhanh hơn, hiệu quả hơn.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>- Kỹ năng ngoại ngữ</b>: Ngành CNTT và mạng Internet mang tính toàn cầu, do đó để trở thành chuyên gia CNTT giỏi, bạn phải khá thông thạo ngoại ngữ, đặc biệt là kỹ năng đọc hiểu.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>- Niềm đam mê Công nghệ thông tin - Tố chất quan trọng nhất:</b> Nếu bạn chẳng ngại ngần gì khi phải ngồi hàng giờ bên máy vi tính để viết một phần mềm, hoàn thiện một giải pháp và càng không ngại ngần khi phải thực hiện lại cả công trình mà bạn đã đổ sức vào đó hàng tháng trời, thì thành công đang chờ đón bạn.</span></p>
                    <h3>Những lý do chọn ngành CNTT</h3>
                    <p>
                        <b>Cơ hội việc làm cao và môi trường làm việc đa dạng:</b><br>
                        CNTT có mặt ở khắp mọi nơi, hiện diện trong mọi lĩnh vực của đời sống xã hội. Hơn thế, CNTT hiện là ngành được
                        đầu tư và chú trọng phát triển ở mọi quốc gia từ những nước nghèo đến các nước công nghiệp phát triển, và tất
                        nhiên trong đó có Việt Nam.<br>
                        Môi trường làm việc trong ngành CNTT rất đa dạng với nhu cầu nhân lực rất lớn. Ngoài những công ty chuyên về
                        tin học, hiện nay hầu như mọi tổ chức, cơ quan đều sử dụng hệ thống máy vi tính và cần người có chuyên môn về CNTT.
                        Ngoài ra, bạn cũng có thể cùng với một số đồng nghiệp khác lập ra một nhóm hay công ty của riêng mình.
                    </p>
                    <p>
                        <b>Luôn được tiếp cận với những tri thức mới:</b><br>
                        Có thể nói không một ngành nghề nào lại liên tục biến đổi và phát triển như CNTT. Bạn có thể thấy những kiến thức,
                        những công nghệ của vài năm trước đây đã hoàn toàn lỗi thời so với hiện tại.<br>
                        Làm việc trong ngành này, bạn sẽ luôn được nắm bắt những tri thức mới nhất, công nghệ hiện đại nhất của nhân loại.
                        Nếu bạn là người say mê khám phá và yêu thích sự mới mẻ, bạn sẽ không bao giờ cảm thấy nhàm chán.
                    </p>
                    <p>
                        <b>Đầy năng động và sáng tạo:</b><br>
                        Phần lớn các nhân viên làm việc trong lĩnh vực CNTT đều còn rất trẻ, đầy tài năng, hoài bão và khát vọng. Làm việc
                        trong một cộng đồng như thế, bạn có thể phát huy hết những tiềm năng và năng lực vốn có của bản thân. Đây sẽ là điều
                        kiện thuận lợi giúp bạn thể hiện tối đa óc sáng tạo.
                    </p>
                    <p>
                        <b>Nhiều thách thức và cơ hội để khẳng định mình:</b></br>
                        CNTT là một trong những ngành có tính cạnh tranh gay gắt và tính đào thải khốc liệt. Bởi đây là lĩnh vực phát triển
                        với tốc độ nhanh nhất và quy tụ nhiều nhất những trí tuệ siêu việt trên thế giới.<br>
                        Tuy nhiên, nếu bạn là người có hoài bão, bạn có thể vượt qua tất cả. Hầu hết những nhân vật nổi tiếng trong ngành
                        CNTT đều khởi đầu từ hai bàn tay trắng, nhưng ngày nay họ được cả thế giới ngưỡng mộ.
                    </p>
                    <p>
                        <b>Nhiều cơ hội thành đạt:</b><br>
                        Các bạn đã nghe nhiều câu chuyện lập nghiệp của các danh nhân ngành CNTT? Những câu chuyện ấy đã trở thành những huyền
                        thoại mới về trí tuệ, sức sáng tạo vô biên và cả sự quả cảm của con người.<br>
                        Chàng trai trẻ Bill Gates bỏ học đại học giữa chừng, từ khởi đầu mong manh lập nên "đế chế" thống trị toàn cầu mang tên Windows.
                        Michael Dell - người được tạp chí Fortune xếp vào danh sách 10 người đàn ông có quyền lực nhất trong kinh doanh năm 2003, chỉ 19 năm
                        trước đó thôi, đã bắt đầu thành lập công ty máy tính Dell với số vốn ít ỏi ban đầu 1000 USD.
                    </p>
                    <h3>Đặc điểm chương trình đào tạo ngành Công nghệ thông tin - Trường cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn</h3>
                    <h4>Đặc điểm chương trình đào tạo</h4>
                    <p>
                        Chương trình đào tạo ngành CNTT - Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt - Hàn được các Giáo sư Hàn Quốc tư vấn thiết
                        kế và xây dựng theo chương trình và công nghệ đào tạo tiên tiến của Hàn Quốc, nhằm giúp sinh viên nắm vững kiến thức cơ bản,
                        cơ sở ngành và chuyên ngành. Nâng cao khả năng tự học, tư duy sáng tạo, có kỹ năng thực hành nghề nghiệp và kỹ năng sống.
                    </p>
                    <h4>Khối kiến thức trong chương trình đào tạo ngành CNTT gồm:</h4>
                    <p>
                        <b><i>Kiến thức giáo dục đại cương:</i></b>
                        Trang bị cho sinh viên các kiến thức giáo dục đại cương về Lý luận của Chủ nghĩa Mác Lênin và Tư tưởng Hồ Chí Minh, đường lối chủ
                        nghĩa xã hội khoa học, khoa học tự nhiên, kiến thức cơ bản về tin học như cách sử dụng hệ điều hành windows và bộ phần mềm Microsoft
                        Office.<br>
                        Ngoài ra, sinh viên được trang bị các kỹ năng mềm, cung cấp kiến thức về ngoại ngữ chuẩn A2 (khung châu âu), giáo dục thể chất.
                    </p>
                    <p>
                        <b><i>Kiến thức cơ sở ngành:</i></b>
                        Trang bị cho sinh viên những kiến thức nền tảng về hệ điều hành, mạng máy tính, cách thức phân tích thiết kế các hệ thống thông tin,
                        kiến thức cơ bản về lập trình, cơ sở dữ liệu…Ngoài ra, sinh viên được trang bị tiếng Anh chuyên ngành để có thể đọc hiểu các tài liệu
                        nước ngoài, cập nhật công nghệ mới.
                    </p>
                    <p>
                        <b><i>Kiến thức ngành:</i></b>
                        Trang bị cho sinh viên những kiến thức chuyên sâu về công nghệ phần mềm, cách tư duy các thuật toán, lập trình theo hai hướng là hướng
                        đối tượng và lập trình trực quan, phân tích thiết kế chương trình theo hướng đối tượng - đây là cách phân tích thiết kế đang được sử dụng
                        phổ biến, xây dựng các ứng dụng web. Ngoài ra, sinh viên có thể lựa chọn học chuyên sâu theo hai hướng Công nghệ phần mềm hoặc Lập trình
                        di động. Đối với mỗi hướng, sinh viên sẽ có các học phần, các chuyên đề riêng, được đi thực tập thực tế, làm các đồ án để hiểu rõ hơn về
                        lĩnh vực mình lựa chọn.<br>
                        Với hệ thống giáo trình hiện đại theo chương trình đào tạo của Hàn Quốc, sau khi tốt nghiệp, sinh viên còn dễ dàng học liên thông
                        lên đại học tại các trường đào tạo CNTT trong nước. Ngoài ra, nhà trường còn có các chương trình hợp tác đào tạo với các trường đại học
                        tại Hàn Quốc như Soongsil, Tongmyong…để sinh viên có thể học tiếp chương trình đại học tại nước ngoài với học bổng hấp dẫn.
                    </p>
                    <h4>Đội ngũ giảng viên và cơ sở vật chất</h4>
                    <p>
                        Đội ngũ giảng viên ngành CNTTđều có trình độ tiến sĩ, thạc sĩ hoặc đang làm nghiên cứu sinh, được đào tạo tại nhiều nước như Anh, Pháp, Ba
                        Lan, Hàn Quốc, Việt Nam... Hàng năm, các giảng viên được tham gia các khóa đào tạo trong và ngoài nước để nâng cao chuyên môn và nghiệp vụ.
                        Các giảng viên có khả năng sư phạm tốt, luôn nhiệt tình giảng dạy đối với sinh viên.
                    </p>
                    <p>
                        Về cơ sở vật chất, nhà trường có 19 phòng thực hành được trang bị các thiết bị hiện đại và đồng bộ, phục vụ nhu cầu giảng dạy, học tập và
                        nghiên cứu khoa học của giảng viên, sinh viên.
                    </p>
                    <p>
                        Hệ thống thông tin của trường được trang bị hiện đại với cơ sở hạ tầng mạng cáp quang, đường truyền internet tốc độ cao, hệ thống máy
                        chủ hiện đại phục vụ tốt nhu cầu nghiên cứu, học tập cũng như tra cứu của sinh viên.
                    </p>
<table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td valign="top" width="620">
                <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b> </b></span></p>
                <img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/cntt/image001.jpg" height="NaN" width="100%" /><br /></td>
        </tr>
        <tr>
            <td valign="top" width="620">
                <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Phòng Hệ thống điện toán đám mây</i></span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="649">
                <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b> </b></span></p>
                <img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/cntt/image002.jpg" height="NaN" width="100%" /></td>
        </tr>
        <tr>
            <td valign="top" width="649">
                <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Phòng giảng dạy &nbsp; thực hành máy tính</i><b> </b></span></p>
            </td>
        </tr>
    </tbody>
</table>
                    <p>
                        Bên cạnh đó, nhà trường còn có trung tâm thông tin tư liệu mở cửa thường xuyên với danh mục giáo trình, tài liệu được cập nhật hàng năm.
                        Hệ thống sân chơi thể thao đáp ứng nhu cầu rèn luyện sức khỏe cho sinh viên, trung tâm y tế hiện đại và ký túc xá khang trang.
                    </p>
                    <h3>Cơ hội và vị trí làm việc sau tốt nghiệp</h3>
                    <p>
                        Với chương trình đào tạo tiên tiến, phòng thực hành hiện đại với thời lượng thực hành cao, đội ngũ giảng viên nhiệt tình, nhiều kinh nghiệm,
                        sinh viên sau khi tốt nghiệp có cơ hội tìm việc cao và có thể đảm nhiệm nhiều vị trí. Các công việc có thể đảm nhiệm cụ thể như:
                    </p>
                    <ul>
                        <li>- Lập trình viên phần mềm;</li>
                        <li>- Chuyên viên phân tích thiết kế hệ thống;<li>
                        <li>- Kiểm duyệt chất lượng phần mềm;<li>
                        <li>- Chuyên viên quản lý dữ liệu;<li>
                        <li>- Chuyên viên đào tạo;<li>
                        <li>- Chuyên viên quản trị mạng, kỹ thuật phần cứng máy tính.<li>
                    </ul>
                    <p>Các công ty mà sinh viên có thể làm việc sau khi tốt nghiệp:</p>
                    <ul>
                        <li>- Các công ty sản xuất phần mềm;</li>
                        <li>- Các công ty chuyên về kiểm thử phần mềm;</li>
                        <li>- Các công ty tư vấn và cung cấp các giải pháp về CNTT;</li>
                        <li>- Các đơn vị đào tạo về CNTT;</li>
                        <li>- Bộ phận quản trị hệ thống mạng tại các công ty (thuộc tất cả các lĩnh vực).</li>
                    </ul>
                    <p>
                        Ngoài ra, các sinh viên yêu thích sự độc lập, không muốn làm việc trong các công ty, có thể đăng ký tham gia các dự án CNTT,
                        hoặc có thể xây dựng các ứng dụng với tư cách cá nhân.
                    </p>
                    <h3>Giới thiệu một số hoạt động của ngành</h3>
                    <h4>Tham gia các cuộc thi</h4>
                    <p>
                        Để phát huy tinh thần học hỏi, nghiên cứu khoa học của sinh viên, nhà trường thường xuyên tạo điều kiện để sinh viên tham gia
                        các cuộc thi như Microsoft Office Champion, Olympic tin học, thi trình diễn pháo hoa trên máy tính, hội thi ngày sáng tạo công
                        nghệ thông tin...
                    </p>
                        <img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/cntt/image003.jpg" width="100%" /><br>
                        <img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/cntt/image001.jpg" width="100%" /><br>
                        Giảng viên và sinh viên tham gia hội thi Ngày sáng tạo công nghệ thông tin
                    </p>
                    <p>
                        <b>Gameshow GalaIT</b><br>
                        Để tạo sân chơi vui và bổ ích cho các sinh viên, hàng năm, nhân dịp kỷ niệm ngày hiến chương các nhà giáo 20/11, gameshow GalaIT
                        được tổ chức như một ngày hội dành cho những người yêu thích CNTT, trí tuệ - hài hước - sáng tạo.<br>
                        <img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/cntt/image005.jpg" width="100%" />
                    </p>
                    <p>
                        <b>Thực tập thực tế </b><br>
                        Nhà trường thường xuyên tổ chức cho sinh viên đi thực tập thực tế tại các doanh nghiệp như: FPT, Logigear, GameLoft, Enclave...
                        để sinh viên dễ dàng định hướng nghề nghiệp trong tương lai.<br>
                        <img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/cntt/image006.jpg" height="NaN" width="100%" /><br>
                        <p><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/cntt/image007.jpg" height="NaN" width="100%" /><br>
                        Hình ảnh đi thực tế của sinh viên
                    </p>
                    <p>
                        <b>Hội thảo và tuyển dụng tại trường</b><br>
                        Để quá trình đào tạo gắn liền với nhu cầu của các doanh nghiệp, nhà trường đã thực hiện vai trò cầu nối giữa sinh viên và các doanh
                        nghiệp thường xuyên có nhu cầu tuyển dụng như: IBM, Samsung, FPT, Logigear, GameLoft, Softech... Sinh viên thường xuyên được tham
                        gia các buổi hội thảo và tuyển dụng của các công ty.<br>
                        Ngoài ra, nhà trường còn tổ chức các buổi hội thảo do các giáo sư đến từ Hàn Quốc trình bày về các vấn đề mới của công nghệ thông tin
                        để các bạn sinh viên được tiếp cận, học hỏi, tìm tòi, sáng tạo và có thể nắm bắt, áp dụng trong quá trình học của mình.<br>
                        <img alt="" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/cntt/image008.jpg" width="100%" /><br>
                        Hình ảnh một buổi hội thảo cho sinh viên
                    </p>
                    <p>
                        <b>Giao lưu văn hóa, thể thao và các hoạt động xã hội khác</b>
                        Hàng năm, sinh viên được tham gia các hoạt động văn nghệ, thể thao như: chào đón tân sinh viên, mừng xuân mới, kỷ niệm ngày 8/3 và 20/10,
                        chào mừng ngày hiến chương các nhà giáo 20/11, hội trại kỷ niệm ngày thành lập đoàn 26/3..<br>
                        Các sinh viên còn tham gia các hoạt động xã hội như: giao lưu với sinh viên Hàn Quốc, mùa hè xanh, chương trình từ thiện...<br>
                        <img alt="image009" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/cntt/image009.jpg" width="100%" /><br>
                        Hình ảnh giao lưu với đoàn sinh viên Hàn Quốc trong chương trình tình nguyện mùa đông
                    </p>
                    <p>
                        Nhà trường cũng thành lập và hỗ trợ hoạt động cho các câu lạc bộ nhằm phát triển các kỹ năng và niềm đam mê cho sinh viên như:
                        câu lạc bộ Vitamin S phát triển các kỹ năng mềm, câu lạc bộ đàn Guitar, câu lạc bộ tiếng Hàn, VietHan Radio...
                    </p>
                    <h3>Một số tâm sự của cựu sinh viên</h3>
<table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td valign="top" width="177">
                <p><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/cntt/image010.jpg" height="273" width="200" /></p>
            </td>
            <td valign="top" width="482">
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Họ   tên:</b> Võ Văn Lợi - Cựu sinh viên Khóa 1</span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Vị   trí công việc:</b> IT - Marketing Online</span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Công   ty:</b> Công ty TNHH thiết bị kỹ thuật Đà Nẵng</span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> Trường Cao đẳng   CNTT Hữu nghị Việt - Hàn là ngôi trường đã để lại cho tôi nhiều kỷ niệm sâu đậm,   khó phai. Tại nơi đây, tôi đã được học tập trong một môi trường được đầu tư   trang thiết bị hiện đại về cơ sở vật chất, cùng với sự hướng dẫn tận tình,   chu đáo của các thầy, cô. đã trang bị một hành trang tốt để tự tin bước vào một môi trường làm việc như   bây giờ.</i><i> </i></span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> Dù đã rời xa mái trường   thân yêu 5 năm rồi, nhưng những kỷ niệm về trường, về thầy, cô, về bạn bè vẫn   in sâu trong tâm trí của tôi mỗi khi nhớ về. Tôi xin chân thành cảm ơn, những   tình cảm các thầy, cô đã dành cho tôi trong suốt 3 năm học tại đây.</i><i> </i></span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="177">
                <p> </p>
            </td>
            <td valign="top" width="482">
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b> </b></span></p>
            </td>
        </tr>
    </tbody>
</table>
<p style="text-align: justify;"> </p>
<table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td valign="top" width="329">
                <p><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/cntt/image011.jpg" height="213" width="316" /></p>
            </td>
            <td valign="top" width="319">
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b> </b></span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Họ tên:</b> Lê Minh Hùng –</span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Cựu   sinh viên Khóa 2</span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Vị   trí làm việc:</b> Test Engineer, core/key team member</span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Công ty:</b> Cty Logigear</span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Chào mọi người, mình là Hùng, là cựu sinh viên Trường Cao đẳng   CNTT Hữu nghị Việt - Hàn khóa 02, hiện đang làm việc tại công ty Logigear. </i></span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b> </b></span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" valign="top" width="648">
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> Đã 4 năm từ khi rời   ghế nhà trường để bắt đầu ngưỡng cửa cuộc đời, bắt đầu công việc đầu tiên tại   Logigear, thật sự là một quãng thời gian không ngắn mà cũng không dài. Trong   ngần ấy thời gian, mình tự thấy đã trưởng thành hơn một ít, học tập được rất   nhiều thứ, không chỉ trong công việc mà lẫn trong cuộc sống. Ngôi trường là   nơi nuôi dưỡng ước mơ, chắp thêm đôi cánh cho chúng ta. Nhưng bay như thế   nào, đi đâu là tùy chúng ta quyết định. Mình cảm thấy thật may mắn khi được   nuôi dưỡng và lớn lên trên chiếc nôi của Trường Cao đẳng CNTT Hữu nghị Việt   Hàn.</i></span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> Mỗi năm có dịp được   về thăm trường, chia sẻ những câu chuyện của mình cho các bạn sinh viên cũng   đang ở trước ngưỡng cửa của cuộc đời, cảm thấy có một chút gì đó vui sướng, một   chút gì đó tự hào. Hy vọng rằng, những năm sau nữa, vẫn được gặp gỡ các bạn tại   trường, được tiếp tục công việc truyền lửa cho các bạn trong cuộc sống, cũng   như đam mê về CNTT.</i></span></p>
            </td>
        </tr>
    </tbody>
</table>
<p style="text-align: justify;"> </p>
<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td valign="top" width="232"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/cntt/image012.jpg" height="222" width="200" /></td>
            <td valign="top" width="407">
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Họ tên:</b> Cao Thanh Tuấn -  Cựu sinh viên Khóa 3</span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Vị trí làm việc: </b>Lập trình viên</span><br /><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"> <b>Công   ty:</b> FPT tại Đà Nẵng</span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> Trường Cao đẳng   CNTT Hữu nghị Việt - Hàn có cơ sở vật chất tốt, đội ngũ giảng viên trẻ, giỏi   và rất nhiệt tình</i><i>.   Giáo trình mới, tập trung đào tạo chuyên sâu,   giúp sinh viên nắm vững các nền tảng và có thể tự tìm hiểu để mở rộng kiến thức   được đào tạo.</i></span></p>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> Khoa có hoạt động   nghiên cứu khoa học giúp sinh viên phát triển một cách độc lập. Điều tôi nhận   được khi học ở trường là sự giúp đỡ nhiệt tình của các thầy, cô mà từ một học   sinh không biết gì về CNTT rồi trở thành một sinh viên giỏi và giờ là một lập   trình viên của FPT.</i></span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" valign="top" width="639">
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Xin chúc thầy, cô   sức khỏe, thành công nhiều hơn. Các bạn sinh viên mới hãy cố gắng lên, được học   tại </i><i>Trường Cao đẳng   CNTT Hữu nghị Việt Hàn cơ hội thành công khi   ra trường làm việc rất nhiều...</i></span></p>
                <table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td valign="top" width="177"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/cntt/image013.jpg" height="240" width="200" /></td>
                            <td valign="top" width="442">
                                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b> </b></span></p>
                                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Họ     tên: </b>Lê Việt Thanh Bình – Cựu sinh viên Khóa 3</span></p>
                                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Vị     trí làm việc: </b>Chuyên Viên Kiểm thử phần mềm (Tester)</span></p>
                                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Công     ty: </b>Công ty Logigear</span></p>
                                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> Trường     Cao đẳng CNTT Hữu nghị Việt Hàn - Nơi đầu tiên chắp cánh cho tôi     trên con đường CNTT. Nơi có các thầy, cô luôn luôn quan tâm dạy bảo tận     tình. Là nơi truyền cho tôi cảm hứng để vững bước trên con đường đời với những     kiến thức đạt được từ nơi đây. Cảm ơn thầy, c</i><i>ô giáo đã dạy dỗ em và cảm ơn     VietHanIT - Một Điểm Tựa ....cho thành công và cho tương lai !</i></span></p>
                                <p> </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b> </b></span></p>
            </td>
        </tr>
    </tbody>
</table>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>7. </b><b>Xét tuyển Ngành Công nghệ Thông tin</b></span><ol style="text-align: justify;"> </ol>
{% include tuyensinh/admission_footer.html %}
<p style="text-align: center;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Nộp hồ sơ trực tiếp tại Phòng Đào tạo hoặc chuyển phát nhanh qua đường bưu điện theo địa chỉ:</span></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Phòng Đào tạo - Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn</b></span></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Số 136 Đường Trần Đại Nghĩa, Quận Ngũ Hành Sơn - Thành phố Đà Nẵng</b></span></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Điện thoại: 0511.3962888; Website: </b><a href="http://www.viethanit.edu.vn"><b>www.viethanit.edu.vn</b></a></span></p>

                    </div>


                </div>

            </div>
        </div>
