---
layout: tuyensinh
title: Ngành khoa học máy tính | Tuyển sinh 2016
header_css: no-banner
major: khmt
---

        {% include tuyensinh/major_breadcrumb.html %}

        <div class="container sc-main">
            <div class="row">
                <div class="col-md-4">
                    {% include tuyensinh/admission_card.html %}
                </div>

                <div class="col-md-8">
                    <div class="block_component">

                        <p align="center"><span style="font-size: 10pt;"><b>GIỚI THIỆU NGÀNH KHOA HỌC MÁY TÍNH</b></span></p>
<p align="center"><span style="font-size: 10pt;"><b>Mã ngành: C480101</b></span></p>
<p align="center"><span style="font-size: 10pt;"><b> </b></span></p>
<ol> </ol><span style="font-size: 10pt;"><b>1. </b><b>Khoa học máy tính là gì?</b></span><ol style="text-align: justify;"> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt;">Khoa học máy tính (Computer Science) là một ngành khoa học nghiên cứu việc xử lý thông tin trên máy tính và ứng dụng vào giải quyết các vấn đề của cuộc sống. Đây là một quá trình nghiên cứu về tính khả thi, cấu trúc dữ liệu, thuật toán, … để xử lý thông tin bằng máy tính.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Ngày nay, Khoa học máy tính được xem là ngành khoa học nền tảng cho các ngành khác trong lĩnh vực Công nghệ thông tin và tập trung vào nghiên cứu các thuật toán, giới hạn của việc tính toán trong việc giải quyết các vấn đề thực tế đang được quan tâm bằng máy tính (bao gồm cả phần cứng và phần mềm).</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Hiện nay, Khoa học máy tính đang tập trung vào hai lĩnh vực nghiên cứu: Nghiên cứu lý thuyết và nghiên cứu ứng dụng. Nghiên cứu lý thuyết trong khoa học máy tính tập trung vào: toán học tính toán, thông tin và mã hoá thông tin, cấu trúc dữ liệu và giải thuật, lý thuyết ngôn ngữ lập trình…</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Song song với nghiên cứu lý thuyết, nghiên cứu ứng dụng tập trung vào giải quyết các vấn đề của cuộc sống hàng ngày như:</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Làm thế nào để máy tính có thể thông minh hơn, xử lý ngôn ngữ tự nhiên, người máy thông minh…</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Làm thế nào để bạn an toàn hơn trên internet, đảm bảo an toàn cho các giao dịch ngân hàng, an ninh mạng, virus máy tính, …</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Trao đổi, chia sẻ thông tin một cách dễ dàng (Facebook, Twitter, …); giúp mọi người làm việc, giải trí mọi lúc mọi nơi (Teamviewer, iCloud, game, video, …).</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Trên thế giới và tại Việt Nam, Khoa học máy tính hiện nay đang là một ngành thu hút được sự quan tâm rất lớn của các bạn học sinh, sinh viên.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Như vậy có thể thấy Ngành Khoa học máy tính là một trong những ngành học quan trọng đào tạo về CNTT. Khoa học máy tính là ngành học dành cho những cá nhân đam mê lĩnh vực nghiên cứu chuyên sâu về CNTT.</span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt;"><b>2. </b><b>Tố chất phù hợp với Ngành Khoa học máy tính</b></span><ol style="text-align: justify;"> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Thông minh và có óc sáng tạo;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Khả năng làm việc dưới áp lực lớn;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Kiên trì, nhẫn nại;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Tính chính xác trong công việc;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Ham học hỏi, trau dồi kiến thức;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Khả năng làm việc theo nhóm: Biết hợp tác với các thành viên khác trong nhóm, biết cách chia sẻ thông tin trong nhóm;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Phẩm chất đạo đức: Có trách nhiệm với công việc, nhiệt tình và say mê với công việc.<b> </b></span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt;"><b>3. </b><b>Những lý do chọn Ngành Khoa học máy tính</b></span><ol style="text-align: justify;"> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Theo tạp chí College Factual đưa ra bảng xếp loại 10 chuyên ngành được trả mức lương cao nhất ở Mỹ trong đó đứng đầu là ngành Kĩ thuật dầu mỏ ngành thứ 2 là khoa học máy tính.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Khoa học máy tính là ngành nghiên cứu chuyên sâu về CNTT. CNTT luôn phát triển từng ngày, từng giờ, với nhu cầu lớn về nhân lực ngành CNTT nói chung và Khoa học máy tính nói riêng nên cơ hội dành cho những người chọn ngành này là rất lớn.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Dù bạn muốn lập trình cái gì đi chăng nữa thì hãy học khoa học máy tính, để có nền tảng thuật toán tốt và hiểu biết đầy đủ về các lĩnh vực đa dạng của máy tính. Sau đó bạn có thể tự tin làm sâu về một mảng nào đó, tất nhiên là bao gồm cả lập trình viên tại các công ty phần mềm. Các kiến thức riêng biệt cho công nghệ phần mềm hoàn toàn có thể học khi đi làm thực tế.</span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt;"><b>4. </b><b>Đặc điểm chương trình đào tạo Ngành Khoa học máy tính-&nbsp;Trường cao đẳng Công nghệ Thông tin Hữu nghị Việt – Hàn.</b></span><ol style="text-align: justify;"> </ol>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt;"><b>Chương trình đào tạo</b></span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 10pt;">Chương trình đào tạo Ngành Khoa học máy tính - Trường Cao đẳng công nghệ thông tin Hữu nghị Việt - Hàn được các Giáo sư Hàn Quốc tư vấn thiết kế và xây dựng theo chương trình và công nghệ đào tạo tiên tiến của Hàn Quốc nhằm giúp sinh viên nắm vững kiến thức cơ bản và cơ sở ngành, nâng cao khả năng tự học, tư duy sáng tạo, có kỹ năng thực hành nghề nghiệp và kỹ năng sống.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Khối kiến thức trong chương trình đào tạo Ngành Khoa học máy tính gồm:</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- <b><i>Kiến thức giáo dục đại cương</i></b>: Trang bị cho sinh viên các kiến thức giáo dục đại cương về Lý luận của Chủ nghĩa Mác Lênin và Tư tưởng Hồ Chí Minh, khoa học xã hội và nhân văn, khoa học tự nhiên, kiến thức cơ bản về tin học như cách sử dụng hệ điều hành Windows và bộ phần mềm Microsoft Office.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Ngoài ra, sinh viên được trang bị các kỹ năng mềm, cung cấp kiến thức về ngoại ngữ chuẩn TOEIC 300, giáo dục thể chất, quốc phòng - an ninh.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- <b><i>Kiến thức cơ sở ngành</i></b>: Trang bị cho sinh viên những kiến thức nền tảng về cơ sở toán trong KHMT, cấu trúc máy tính, cấu trúc dữ liệu và giải thuật, mạng máy tính, hệ điều hành, hệ cơ sở dữ liệu, ngôn ngữ lập trình,… Ngoài ra, sinh viên được trang bị tiếng Anh chuyên ngành để có thể đọc hiểu các tài liệu nước ngoài, cập nhật công nghệ mới.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- <b><i>Kiến thức chuyên ngành</i></b>: Trang bị cho sinh viên những kiến thức chuyên sâu theo định hướng “Các hệ thống thông minh” và “Tương tác người - máy” như trí tuệ nhân tạo, xử lý ngôn ngữ tự nhiên, học máy, nhận dạng mẫu, xử lý tiếng nói, xử lý ảnh, tương tác người - máy tính. Ngoài ra sinh viên được chú trọng đào tạo về kỹ năng lập trình với các ngôn ngữ, môi trường lập trình tiên tiến, tỉ trọng thực hành cao và nhiều bài tập ứng dụng thực tế.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Chương trình đào tạo Ngành Khoa học máy tính giúp sinh viên có các kỹ năng sau:</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Vận dụng tốt các nguyên lý, khái niệm, lý thuyết liên quan tới khoa học máy tính và ứng dụng phần mềm;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Xác định và phân tích yêu cầu đối với các vấn đề cụ thể, lên kế hoạch và tìm giải pháp cho vấn đề;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Đánh giá và thử nghiệm giải pháp;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Vận dụng các công cụ trong việc đặc tả, phân tích, xây dựng, triển khai, bảo trì các hệ thống dựa trên máy tính;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Sinh viên có phương pháp làm việc khoa học và chuyên nghiệp; tư duy hệ thống và tư duy phân tích; khả năng trình bày, khả năng giao tiếp và làm việc hiệu quả trong nhóm, hội nhập được trong môi trường quốc tế.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Với hệ thống giáo trình hiện đại theo chương trình đào tạo của Hàn Quốc, sau khi tốt nghiệp, sinh viên còn dễ dàng học liên thông lên đại học tại các trường đào tạo Công nghệ thông tin trong nước. Ngoài ra, nhà trường còn có các chương trình hợp tác đào tạo với các trường đại học tại Hàn Quốc như Soongsil, Tongmyong…để sinh viên có thể học tiếp chương trình đại học tại nước ngoài với học bổng hấp dẫn.</span></p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt;"><b>Đội ngũ giảng viên và cơ sở vật chất</b></span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 10pt;">Đội ngũ giảng viên Khoa khoa học máy tính có trình độ tiến sĩ, thạc sĩ hoặc đang làm nghiên cứu sinh, được đào tạo tại nhiều nước như Anh, Pháp, Ba Lan, Hàn Quốc, Việt Nam... Hàng năm, các giảng viên được tham gia các khóa đào tạo trong và ngoài nước để nâng cao chuyên môn và nghiệp vụ. Các giảng viên có khả năng sư phạm tốt, luôn nhiệt tình giảng dạy đối với sinh viên.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Các phòng thí nghiệm, thực hành phục vụ giảng dạy và học tập Ngành khoa học máy tính được trang bị hiện đại và đồng bộ, có 29 phòng thực hành máy tính được trang bị máy tính và các thiết bị hiện đại, tất cả các phần mềm đều có bản quyền.</span></p>
<p style="text-align: center;"> </p>
<p style="text-align: center;"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image001.jpg" height="NaN" width="100%" /></p>
<p style="text-align: center;"><span style="font-size: 10pt;"><i>Phòng Hệ thống điện toán đám mây</i></span></p>
<p style="text-align: center;"> </p>
<p style="text-align: center;"><span style="font-size: 10pt;"><i><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image002.jpg" height="NaN" width="100%" /></i></span></p>
<p style="text-align: center;"> </p>
<p style="text-align: center;"><span style="font-size: 10pt;"><i><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image003.jpg" height="NaN" width="100%" /></i></span></p>
<p style="text-align: center;"><span style="font-size: 10pt;"><i>Phòng giảng dạy &nbsp; thực hành máy tính</i></span></p>
<p style="text-align: center;"> </p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Hệ thống thông tin của trường được trang bị hiện đại với cơ sở hạ tầng mạng cáp quang, đường truyền internet tốc độ cao, hệ thống máy chủ hiện đại phục vụ tốt nhu cầu nghiên cứu, học tập cũng như tra cứu của sinh viên.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Bên cạnh đó, nhà trường còn có Trung tâm thông tin tư liệu mở cửa thường xuyên với danh mục giáo trình tài liệu được cập nhật hàng năm, hệ thống sân chơi thể thao đáp ứng nhu cầu rèn luyện sức khỏe cho sinh viên, Trung tâm y tế hiện đại và ký túc xá khang trang.</span></p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt;"><b>Cơ hội và vị trí làm việc sau tốt nghiệp</b></span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 10pt;">Với chương trình đào tạo tiên tiến, thời lượng thực hành cao, các phòng thực hành hiện đại và cộng với đội ngũ giảng viên nhiệt tình, nhiều kinh nghiệm nên sinh viên tốt nghiệp ngành Khoa học máy tính có thể làm việc ở các phạm vi và lĩnh vực khác nhau như:</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Chuyên viên phân tích, thiết kế, cài đặt các đề án công nghệ thông tin đáp ứng các ứng dụng khác nhau trong các cơ quan, công ty, trường học,....</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Chuyên viên lập dự án, lên kế hoạch, hoạch định chính sách phát triển các ứng dụng tin học, hoặc một lập trình viên phát triển các phần mềm.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Làm việc trong các công ty sản xuất, gia công phần mềm trong nước cũng như nước ngoài.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Làm việc tại các công ty tư vấn đề xuất giải pháp, xây dựng và bảo trì các hệ thống thông tin hoặc làm việc tại bộ phận công nghệ thông tin.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Cán bộ nghiên cứu khoa học và ứng dụng Công nghệ thông tin ở các trung tâm nghiên cứu, Sở, Ban, Ngành.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">- Bộ phận Quản trị, bộ phận IT tại các công ty, kể cả công ty hoạt động trong lĩnh vực Công nghệ và các lĩnh vực khác.</span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt;"><b>5. </b><b>Giới thiệu một số hoạt động của ngành Khoa học máy tính</b></span><ol style="text-align: justify;"> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt;">Bên cạnh việc học tập chính khóa, sinh viên còn tham gia các cuộc thi như GALA IT, Olympic tin học, Ngày hội sáng tạo CNTT, Microsoft Office Specialist; các hoạt động văn hóa, thể thao; tham dự các buổi bồi dưỡng về kỹ năng mềm như: Thiết lập mục tiêu và tạo động lực, kỹ năng xin việc,…</span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: center;"><i><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image004.jpg" height="NaN" width="100%" /></i></p>
<p style="text-align: center;"><span style="font-size: 10pt;"><i>Vòng chung kết GALA IT Khoa Khoa học   máy tính</i></span></p>
<p style="text-align: center;"> </p>
<p style="text-align: center;"><i><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image005.jpg" height="NaN" width="100%" /></i></p>
<p style="text-align: center;"><span style="font-size: 10pt;"><i><i>Hội thảo do IBM Việt Nam tổ chức</i></i></span></p>
<p style="text-align: center;"> </p>
<p style="text-align: center;"><i><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image006.jpg" height="NaN" width="100%" /></i></p>
<p style="text-align: center;"><span style="font-size: 10pt;"><i><i><i>Hội thảo do LogiGear tổ chức tại trường</i></i></i></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Trong thời gian học tập sinh viên được tiếp cận với các doanh nghiệp công nghệ thông tin như: Chi nhánh FPT Software Đà Nẵng, LogiGear, Gameloft, Enclave, QGS,….</span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: center;"><i><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image007.jpg" height="NaN" width="100%" /></i></p>
<p style="text-align: center;"><span style="font-size: 10pt;"><i>Thực tập thực tế tại Chi nhánh FPT   Software Đà Nẵng</i></span></p>
<p style="text-align: center;"> </p>
<p style="text-align: center;"><i><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image008.jpg" height="NaN" width="100%" /></i></p>
<p style="text-align: center;"><span style="font-size: 10pt;"><i><i>Thực tập thực tế tại LogiGear</i></i></span></p>
<p style="text-align: center;"> </p>
<p style="text-align: center;"><i><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image009.jpg" height="NaN" width="100%" /></i></p>
<p style="text-align: center;"><span style="font-size: 10pt;"><i><i><i>Thực tập thực tế tại Gameloft DAD   Studio</i></i></i></span></p>
<p style="text-align: center;"> </p>
<p style="text-align: center;"><i><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image010.jpg" height="NaN" width="100%" /></i></p>
<p style="text-align: center;"><span style="font-size: 10pt;"><i><i><i><i>Ngày Hội việc làm tại trường</i></i></i></i></span></p>
<p style="text-align: center;"><span style="font-size: 10pt;"><i><i><i><i><br /></i></i></i></i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Hàng năm có các chương trình giao lưu giữa sinh viên Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn với sinh viên các trường đại học Hàn Quốc. Các em đã giao lưu văn nghệ, học tiếng Hàn, tập võ Taekondo, tham gia các hoạt động xã hội như làm đường giao thông cho các xã nghèo huyện Hòa Vang thành phố Đà Nẵng, nấu cháo cho bệnh nhân tại Bệnh viện Ung thư Đà Nẵng,…..</span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: center;"><i><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image011.jpg" height="NaN" width="100%" /></i></p>
<p style="text-align: center;"><span style="font-size: 10pt;"><i>Giao lưu văn nghệ sinh viên Việt Nam –   Hàn Quốc</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;">Bắt đầu từ năm 2015, sinh viên Khoa Khoa học máy tính được nhà trường hỗ trợ lớp bồi dưỡng tiếng Hàn để đạt chứng chỉ tiếng Hàn TOPIK 2 đủ điều kiện tham dự cuộc thi xét cấp học bổng của Trường Đại học Tong Myong, Hàn Quốc. Trường Đại học Tong Myong hỗ trợ 75% học phí và tiền ký túc xá, sinh viên đóng thêm 25% học phí/học kỳ (tương đương 1000USD).</span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt;"><b>6. </b><b>Tâm sự của </b><b>cựu sinh</b><b> viên</b><b> </b></span><ol style="text-align: justify;"> </ol>
<table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td valign="top" width="194">
                <p><img alt="image012" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image012.jpg" height="293" width="222" /></p>
                <br /></td>
            <td colspan="2" valign="top" width="425">
                <p><span style="font-size: 10pt;"><b> </b></span></p>
                <p><span style="font-size: 10pt;"><b>Họ tên: </b>Nguyễn Tân Bình – Cựu sinh viên Khóa   3, chuyên ngành Hệ thống thông tin</span></p>
                <p><span style="font-size: 10pt;">Vị trí làm việc: Developer</span></p>
                <p><span style="font-size: 10pt;">Công ty: Công   ty FPT Software, CN Đà Nẵng</span></p>
                <p><span style="font-size: 10pt;"><i>Với ngành Khoa học máy tính, chương   trình đào tạo đã phân bổ thời gian giữa lý thuyết và thực hành một cách thích   hợp, đã đem đến cho sinh viên một khối lượng kiến thức từ cơ bản cho đến   chuyên sâu và giúp cho sinh viên hiểu rõ, hiểu sâu hơn về những gì mà mình đã   được học. </i></span></p>
                <p><span style="font-size: 10pt;"><i>Đội ngũ giảng viên của ngành </i><i>Khoa   họ</i><i>c má</i><i>y   tính </i><i>có trình độ từ Thạc </i><i>s</i><i>ĩ   trở lên. Với trình độ chuyên môn và nghiệp vụ cao, cộng thêm lòng yêu nghề và   sự tận tâm thì thầy cô không những truyền đạt những kiến thức cho </i><i>s</i><i>inh viên, mà còn dạy cho </i><i>s</i><i>inh viên cách sống, cách làm người, biết   tiếp xúc trực tiếp với công việc thực tế và là một người truyền lửa, một người   bạn thân thiết đối với </i><i>s</i><i>inh   viên. Cái khoảng cách giữa </i><i>g</i><i>iảng   viên và </i><i>s</i><i>inh   viên dường như không tồn tại ở nơi đây, từng kiến thức, từng kỹ năng – kinh   nghiệm trong học tập cũng như trong cuộc sống đã được thầy cô chia s</i><i>ẻ</i><i> với </i><i>s</i><i>inh   viên. </i></span></p>
                <p><span style="font-size: 10pt;"><i>Các buổi hoạt động ngoại khóa được diễn   ra thường xuyên theo từng chủ đề trong tháng, hầu hết </i><i>s</i><i>inh viên đã thu lượm được khá nhiều kiến   thức, cũng như kinh nghiệm sau các buổi ngoại khóa này. Ngoài ra, quan hệ giữa   nhà trường với doanh nghiệp cũng đã và đang phát triển dựa trên lợi ích của </i><i>s</i><i>inh viên. Đã có rất nhiều buổi tham   quan, kiến tập đến các doanh nghiệp trong khu vực miền </i><i>T</i><i>rung và Tây Nguyên nhằm đem lại cho </i><i>s</i><i>inh viên cái nhìn tổng quan nhất về định   hướng nghề nghiệp sau khi </i><i>s</i><i>inh   viên ra trường, cũng như tạo môi trường giao lưu thực tế giữa </i><i>s</i><i>inh viên – doanh nghiệp – nhà trường</i>.</span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" valign="top" width="236"><img alt="image012" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image013.jpg" height="344" width="261" /></td>
            <td valign="top" width="383">
                <p><span style="font-size: 10pt;"><b>Họ tên:</b> Lý Vinh – Cựu sinh viên Khóa 3,   chuyên ngành Lập trình máy tính</span></p>
                <p><span style="font-size: 10pt;"><b>Vị trí làm việc:</b> Chuyên viên Kiểm   thử phần mềm (Tester)</span></p>
                <p><span style="font-size: 10pt;"><b>Công ty:</b> LogiGear</span></p>
                <p><span style="font-size: 10pt;"><a href="mailto:culy1023@gmail.com">culy1023@gmail.com</a> /   <a href="mailto:vinh.ly@logigear.com">vinh.ly@logigear.com</a></span></p>
                <p><span style="font-size: 10pt;"><i> Trường Cao đẳng CNTT Hữu nghị Việt   – Hàn là ngôi trường mà tôi đã chọn cho quãng đời sinh viên của mình, là nơi   đã cho tôi những kiến thức cần thiết để tôi có được công việc như ngày hôm   nay, những kiến thức mà không chỉ những trường đại học lớn mới có. Trải qua 3   năm học tập tại trường, tôi đã nhận được rất nhiều sự dạy bảo của Thầy, Cô,   không chỉ trong học tập mà còn trong các hoạt động Đoàn, Hội đầy bổ ích. </i></span></p>
                <p><span style="font-size: 10pt;"><i> Ở đây, tôi được học tập trong một   môi trường với cơ sở vật chất đầy đủ và tiên tiến, có điều kiện thực hành sau   mỗi bài học một cách hiệu quả. Trường cũng tạo điều kiện cho tôi có cơ hội   tham gia, tìm hiểu về môi trường làm việc thực tế bằng các buổi tham quan thực   tế, các hội thảo và các cuộc thi IT đầy bổ ích.</i></span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" valign="top" width="236">
                <p><img alt="image014" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image014.jpg" height="276" width="222" /></p>
                <br /></td>
            <td valign="top" width="383">
                <p><span style="font-size: 10pt;"><b>Họ tên: </b>Nguyễn Xuân Lộc – Cựu   sinh viên Khóa 2, chuyên ngành Hệ thống thông tin</span></p>
                <p><span style="font-size: 10pt;"><b>Vị trí làm việc: </b>QA senior bug base</span></p>
                <p><span style="font-size: 10pt;"><b>Công   ty: </b>Gameloft   Đà Nẵng.</span></p>
                <p><span style="font-size: 10pt;"><i>Khi mình bước chân ra khỏi ngôi trường THPT thì mình   không hề nghĩ mình sẽ học một ngành học liên quan đến việc </i><i>xử   lý thông tin trên máy tính</i><i>. Vì hầu như mình   chẳng biết 1 chút gì về nó, thế nhưng từ những bài giảng đầu tiên làm quen với   ngành học này mình đã nghĩ rằng mình không hề chọn sai. Cơ sở vật chất được   trang bị hiện đại, đội ngũ giảng viên của ngành Khoa học máy tính luôn nhiệt   huyết và giúp đỡ sinh viên một cách tận tình, luôn theo sát kèm cặp sinh viên</i></span></p>
                <p><span style="font-size: 10pt;"><i>Bên cạnh   đó, sinh viên năm cuối sẽ thường xuyên được tham gia trải nghiệm làm việc tại   những công ty phần mềm, giúp cho sinh viên có thể định hướng được con đường   tiếp theo mà mình cần theo đuổi học tập, bổ sung thêm kiến thức để được vào   làm những công ty đó. </i></span></p>
                <p><span style="font-size: 10pt;"><i>Đừng   ngần ngại khi lựa chọn ngành học này, bạn sẽ không bị bỏ rơi lại đâu vì bạn sẽ   nhận được rất nhiều sự trợ giúp nhiệt tình từ giảng viên Khoa Khoa học máy   tính, nếu bạn bị rơi lại thì chỉ khi bạn từ chối sự giúp đỡ đó mà thôi. Hãy cố   gắng tìm tòi học hỏi và THÀNH CÔNG sau này!</i></span></p>
            </td>
        </tr>
        <tr height="0">
            <td width="194"><br /></td>
            <td width="42"><br /></td>
            <td width="383"><br /></td>
        </tr>
    </tbody>
</table>
<p style="text-align: justify;"> </p>
<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td valign="top" width="215"><img alt="image015" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/khmt/image015.jpg" height="364" width="222" /></td>
            <td valign="top" width="404">
                <p><span style="font-size: 10pt;"><b>Họ tên:</b> Phan   Thành Phát –   Cựu sinh viên Khóa 4, chuyên ngành Lập trình máy tính</span></p>
                <p><span style="font-size: 10pt;"><b>Vị trí làm việc: </b>Web   Developer</span></p>
                <p><span style="font-size: 10pt;"><b>Công   ty:</b> TNHH Dịch vụ Phát Triển Phần Mềm Trí Tuệ Việt ( TTV Online)</span></p>
                <p> </p>
                <p><span style="font-size: 10pt;"><i> Tôi thấy thật tự hào khi VIETHANIT là một   trong những trường đào tạo tại Việt Nam có trang thiết bị dạy, học hiện đại,   đội ngũ giảng viên giàu kinh nghiệm và các hoạt động ngoại khóa đa dạng,   phong phú. Chính việc học tập trong môi trường năng động này đã giúp tôi   nhanh chóng thích nghi và bắt nhịp với cuộc sống, công việc nhộn nhịp tại thành   phố Hồ Chí Minh. Tôi luôn tự tin khi giới thiệu với bạn bè, đồng nghiệp về   ngôi trường mang tên VIETHANIT.</i></span></p>
                <p> </p>
            </td>
        </tr>
    </tbody>
</table>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt;"><b>7. </b><b>Xét tuyển Ngành Khoa học máy tính</b></span><ol style="text-align: justify;"> </ol>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt;"><b>Hình thức, thời gian và các môn xét tuyển</b></span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 10pt;">Trong năm 2015, Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn tuyển sinh Ngành Khoa học máy tính theo 2 phương thức:</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><b>- Phương thức 1:</b> Tổ chức xét tuyển dựa trên kết quả kỳ thi THPT quốc gia theo phương án do Bộ Giáo dục và Đào tạo quy định gồm 3 tổ hợp: Toán, Vật lý, Hóa học (A00); Toán, Vật lý, Anh văn (A01); Toán, Ngữ văn, Anh văn (D01)<b> </b></span></p>
<div align="center">
    <table border="1" cellpadding="0" cellspacing="0" width="526">
        <tbody>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt;"><b>TT</b></span></p>
                </td>
                <td width="208">
                    <p align="center"><span style="font-size: 10pt;"><b>Đ</b><b>ợt xét</b></span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt;"><b>Th</b><b>ời gian nhận hồ sơ</b></span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt;"><b>Nhập học</b></span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt;">1</span></p>
                </td>
                <td width="208">
                    <p align="center"><span style="font-size: 10pt;">Nguyện vọng 1</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt;">01/08/15 đến 20/08/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt;">03/09/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt;">2</span></p>
                </td>
                <td width="208">
                    <p align="center"><span style="font-size: 10pt;">Nguyện vọng bổ sung đợt 1</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt;">25/08/15 đến 15/09/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt;">18/09/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt;">3</span></p>
                </td>
                <td width="208">
                    <p align="center"><span style="font-size: 10pt;">Nguyện vọng bổ sung đợt 2</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt;">20/09/15 đến 05/10/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt;">09/10/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt;">4</span></p>
                </td>
                <td width="208">
                    <p align="center"><span style="font-size: 10pt;">Nguyện vọng bổ sung đợt 3</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt;">10/10/15 đến 25/10/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt;">30/10/15</span></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p style="text-align: justify;"><span style="font-size: 10pt;"><b>- Phương thức 2:</b> Xét tuyển dựa vào kết quả học tập bậc trung học phổ thông: Xét kết quả học tập của 3 môn học trong 3 năm học THPT (căn cứ theo học bạ) 3 tổ hợp: Toán, Vật lý, Hóa học (A00); Toán, Vật lý, Anh văn (A01); Toán, Ngữ văn, Anh văn (D01).</span></p>
<div align="center">
    <table border="1" cellpadding="0" cellspacing="0" width="415">
        <tbody>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt;"><b>TT</b></span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt;"><b>Đ</b><b>ợt xét</b></span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt;"><b>Th</b><b>ời gian nhận hồ sơ</b></span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt;"><b>Nhập học</b></span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt;">1</span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt;">Đợt 1</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt;">05/07/15 đến 20/08/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt;">03/09/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt;">2</span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt;">Đợt 2</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt;">21/08/15 đến 15/09/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt;">18/09/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt;">3</span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt;">Đợt 3</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt;">16/09/15 đến 05/10/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt;">09/10/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt;">4</span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt;">Đợt 4</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt;">06/10/15 đến 25/10/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt;">30/10/15</span></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p><span style="font-size: 10pt;">Nộp hồ sơ trực tiếp tại Phòng Đào tạo hoặc chuyển phát nhanh qua đường bưu điện theo địa chỉ:</span></p>
<p align="center"><span style="font-size: 10pt;"><b>Phòng Đào tạo - Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn</b></span></p>
<p align="center"><span style="font-size: 10pt;"><b>Số 136 Đường Trần Đại Nghĩa, Quận Ngũ Hành Sơn - Thành phố Đà Nẵng</b></span></p>
<p align="center"><span style="font-size: 10pt;"><b>Điện thoại: 0511.3962888; Website: </b><a href="http://www.viethanit.edu.vn"><b>www.viethanit.edu.vn</b></a></span></p>

                    </div>


                </div>

            </div>
        </div>
