---
layout: tuyensinh
title: Ngành truyền thông và mạng máy tính | Tuyển sinh 2016
header_css: no-banner
major: tt_mmt
---

        {% include tuyensinh/major_breadcrumb.html %}

        <div class="container sc-main">
            <div class="row">
                <div class="col-md-4">
                    {% include tuyensinh/admission_card.html %}
                </div>

                <div class="col-md-8">
                    <div class="block_component">

                         <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>GIỚI THIỆU NGÀNH TRUYỀN THÔNG VÀ MẠNG MÁY TÍNH</b></span></p>
<p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Mã ngành: C320104</b></span></p>
<p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b> </b></span></p>
<ol> </ol><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>1. </b><b>Vai trò của ngành Truyền thông và Mạng máy tính</b></span><ol style="text-align: justify;"> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Hiện nay, mạng máy tính đã trở thành nhân tố quan trọng, là cầu nối trao đổi thông tin giữa các cá nhân, tổ chức và các doanh nghiệp trên phạm vi toàn cầu. Nó đóng vai trò quan trọng không thể thiếu trong quá trình quản trị, điều hành các hoạt động sản xuất kinh doanh của mỗi doanh nghiệp. Hơn nữa, sự phát triển và ứng dụng của Internet đã làm thay đổi mô hình và cách thức hoạt động kinh doanh của doanh nghiệp. Chưa bao giờ công tác xây dựng và quản trị hệ thống mạng doanh nghiệp lại được coi trọng như hiện nay.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Chương trình đào tạo ngành Truyền thông và Mạng máy tính không chỉ cung cấp cho người học kiến thức nền tảng về công nghệ thông tin (CNTT) mà còn cung cấp các kiến thức chuyên sâu trong lĩnh vực Truyền thông và Mạng máy tính. Hiện nay, Ngành này có ảnh hưởng lớn và sâu rộng trong mọi lĩnh vực của đời sống con người, chẳng hạn như: Lĩnh vực truyền thông (Internet, mạng xã hội, báo điện tử,…); Lĩnh vực giải trí (âm nhạc trực tuyến, truyền hình, game,…); Lĩnh vực kinh tế (thương mại điện tử, quảng cáo trực tuyến,…); Lĩnh vực giáo dục (học trực tuyến, giải toán qua mạng,…); Lĩnh vực hành chính (chính phủ điện tử, văn phòng không giấy,…) và nhiều lĩnh vực khác của cuộc sống.</span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>2. </b><b>Tố chất phù hợp với ngành Truyền thông và Mạng máy tính</b></span><ol style="text-align: justify;"> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b> </b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>- Niềm đam mê Công nghệ - Tố chất quan trọng nhất:</b> Nếu bạn chẳng ngại ngần gì khi phải ngồi hàng giờ bên máy vi tính để viết một phần mềm, cấu hình các thiết bị mạng cũng như giám sát hoạt động của hệ thống mạng, không ngại tìm tòi và xử lý các sự cố về bảo mật thì thành công đang chờ đón bạn.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>- Tính cẩn thận trong công việc</b>: Vì chỉ cần bất cẩn trong một dòng mã lệnh lập trình, hoặc cấu hình các thiết bị không hợp lý hay sơ suất nhỏ trong lắp ráp thiết bị cũng có thể gây ảnh hưởng đến một ứng dụng, chương trình hay cả hệ thống của công ty.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- <b>Kiên trì, nhẫn nại:</b> Làm việc trong lĩnh vực CNTT nói chung thường xuyên phải đối mặt với những bài toán hóc búa nên rất cần sự nhẫn nại, kiên trì, chịu khó. Nhẫn nại trong ngành này có nghĩa là bạn không dễ dàng bỏ cuộc mà cần phải quyết tâm đến cùng để tìm ra giải pháp cho dự án đang giang dở, tìm ra giải pháp công nghệ mới dù trước đó có thất bại.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>- Ham học hỏi, trau dồi kiến thức:</b> Công nghệ thay đổi và phát triển liên tục, những kiến thức hôm nay có thể nhanh chóng bị lỗi thời. Ngành Truyền thông và Mạng máy tính đòi hỏi bạn liên tục trau dồi kiến thức, nâng cao trình độ để không bị lạc hậu so với thế giới.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>- Khả năng làm việc theo nhóm: </b>Truyền thông và Mạng máy tính là ngành đặc biệt đề cao khả năng làm việc theo nhóm (team-work). Cụ thể như trong các dự án xây dựng phần mềm, các dự án thiết kế, hay trong xây dựng hệ thống mạng cho doanh nghiệp. Làm việc theo nhóm không những giúp bạn giảm bớt gánh nặng và độ phức tạp của công việc, mà hơn thế còn giúp bạn hoàn thành công việc nhanh hơn, hiệu quả hơn nhờ sự thúc đẩy, khích lệ của người cùng nhóm.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>- Kỹ năng ngoại ngữ</b>: Người làm việc trong ngành Truyền thông và Mạng máy tính thường xuyên phải cập nhật những công nghệ mới trên thế giới, những kiến thức mang tính toàn cầu. Do đó để trở thành chuyên gia Truyền thông và Mạng máy tính giỏi, bạn cần phải thông thạo ngoại ngữ, đặc biệt là kỹ năng đọc hiểu.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b> </b></span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>3. </b><b>Những lý do chọn ngành Truyền thông và Mạng máy tính</b></span><ol style="text-align: justify;"> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b> </b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Khả năng ứng dụng cao</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Ngày nay, mọi lĩnh vực đều phải sử dụng đến hệ thống mạng máy tính để chia sẻ thông tin với nhau giữa các cơ quan, tổ chức, cá nhân,…và đặc biệt với tốc độ phát triển nhanh của mạng Internet, ngày càng nhiều các ứng dụng và dịch vụ được phát triển, từ việc sử dụng các ứng dụng offline đến các ứng dụng online để giải trí, mua sắm, chia sẻ thông tin qua mạng.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Cơ hội việc làm cao và môi trường làm việc đa dạng:</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Mạng máy tính có mặt ở khắp mọi nơi, hiện diện trong mọi lĩnh vực của đời sống xã hội. Hơn thế, Truyền thông và Mạng máy tính hiện là ngành được đầu tư và chú trọng phát triển ở mọi doanh nghiệp, từ những doanh nghiệp vừa và nhỏ đến những tập đoàn lớn trên thế giới.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Môi trường làm việc trong ngành Truyền thông và Mạng máy tính rất đa dạng với nhu cầu nhân lực rất lớn. Ngoài những công ty chuyên về CNTT, hiện nay hầu như mọi tổ chức, cơ quan đều trang bị hệ thống máy tính được kết nối với mạng Internet.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Luôn được tiếp cận với những tri thức mới:</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Có thể nói không một ngành nghề nào lại liên tục biến đổi và phát triển như CNTT nói chung và ngành Truyền thông và Mạng máy tính nói riêng. Bạn có thể thấy những kiến thức, những công nghệ của vài năm trước đây đã hoàn toàn lỗi thời so với hiện tại.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Làm việc trong ngành này, bạn sẽ luôn được nắm bắt những tri thức mới nhất, công nghệ hiện đại nhất của nhân loại. Nếu bạn là người say mê khám phá và thích sự mới mẻ, bạn sẽ không bao giờ cảm thấy nhàm chán.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Đầy năng động và sáng tạo:</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Phần lớn các nhân viên làm việc trong lĩnh vực này đều còn rất trẻ, đầy tài năng, hoài bão và khát vọng. Làm việc trong một cộng đồng như thế, bạn có thể phát huy hết những tiềm năng và năng lực vốn có của bản thân. Đây sẽ là điều kiện thuận lợi giúp bạn thể hiện tối đa óc sáng tạo.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Nhiều thách thức và cơ hội để khẳng định mình:</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">CNTT nói chung là một trong những nghề có tính cạnh tranh gay gắt và tính đào thải khốc liệt. Bởi đây là lĩnh vực phát triển với tốc độ nhanh nhất và quy tụ nhiều những kỹ sư giỏi về CNTT trên thế giới</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Tuy nhiên, nếu bạn là người có hoài bão, bạn có thể vượt qua tất cả khó khăn ban đầu. Hầu hết những nhân vật nổi tiếng trong ngành CNTT đều khởi đầu từ hai bàn tay trắng, nhưng ngày nay họ được cả thế giới ngưỡng mộ.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b> Nhiều cơ hội thành đạt:</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Đây là ngành cho phép bạn phát huy hết trí tuệ, sức sáng tạo vô biên của bản thân để có thể tạo ra các sản phẩm về CNTT, những phần mềm nổi tiếng và được sử dụng rộng rãi trên toàn cầu. Nếu với một sản phẩm nào đó của bạn được cộng đồng đánh giá cao thì tên tuổi sẽ được cả thế giới biết đến (ví dụ facebook đã đưa tên tuổi của Mark Zuckerberg nổi tiếng khắp thế giới và với sản phẩm này đã giúp ông trở thành một trong những tỷ phú của thế giới).</span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>4. </b><b>Đặc điểm chương trình đào tạo ngành Truyền thông và Mạng máy tính-&nbsp;Trường cao đẳng Công nghệ Thông tin Hữu nghị Việt – Hàn.</b></span><ol style="text-align: justify;"> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">v&nbsp; <b>Đặc điểm chương trình đào tạo</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Hiện nay, nhu cầu về nguồn nhân lực công nghệ thông tin và đặc biệt là trong lĩnh vực Truyền thông và Mạng máy tính tại Việt Nam đang là một trong những ngành thu hút nguồn nhân lực lớn nhất trên cả nước. Xác định được tầm quan trọng đó, trong chương trình hợp tác nâng cấp trường Cao đẳng CNTT Hữu nghị Việt - Hàn lên Đại học giữa hai chính phủ Việt Nam và Hàn Quốc, trường Cao đẳng CNTT Hữu nghị Việt - Hàn đã phối hợp với trường Đại Học SoongSil Hàn Quốc xây dựng chương trình đào tạo ngành Truyền thông và Mạng máy tính kết hợp với đầu tư trang thiết bị thực hành đồng bộ với khung chương trình đào tạo.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Chương trình đào tạo ngành Truyền thông và Mạng máy tính của Trường không chỉ cung cấp cho sinh viên các kiến thức nền tảng về công nghệ thông tin mà còn cung cấp các kiến thức chuyên sâu trong lĩnh vực mạng máy tính và truyền thông phù hợp với thực tiễn. Sinh viên sau khi tốt nghiệp ngành này ngoài khả năng nghiên cứu, thiết kế, phát triển và triển khai các ứng dụng về các công nghệ mạng máy tính, về các hệ thống truyền thông dữ liệu, truyền thông đa phương tiện; sinh viên còn có thể phát triển được các dịch vụ truyền thông trên mạng Internet, mạng truyền thông di động, an ninh thông tin và lập trình mạng. Ngành có hai chuyên ngành gồm chuyên ngành Quản  trị mạng và chuyên ngành Lập trình mạng, tùy theo sở thích của mình mà người học có thể chọn một trong hai chuyên ngành trên.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Khối kiến thức trong chương trình đào tạo ngành Truyền thông và Mạng máy tính gồm:</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i>* Kiến thức giáo dục đại cương:</i></b> Trang bị cho sinh viên các kiến thức giáo dục đại cương về Lý luận của Chủ nghĩa Mác Lênin và Tư tưởng Hồ Chí Minh, đường lối chủ nghĩa xã hội khoa học, khoa học tự nhiên.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Ngoài ra, sinh viên được cung cấp kiến thức về ngoại ngữ tiếng Anh trình độ A2 ( theo chuẩn châu Â) và giáo dục thể chất.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i>* Kiến thức cơ sở ngành:</i></b> Trang bị cho sinh viên các kiến thức nền tảng chung nhất về Công nghệ thông tin và Truyền thông và Mạng máy tính như: Nguyên lý hệ điều hành; Kiến trúc máy tính; Cấu trúc dữ liệu; Hệ điều hành Linux; Lý thuyết ngôn ngữ lập trình; Lập trình Java cơ bản; Phân tích và thiết kế hệ thống thông tin; Mạng máy tính; Hệ cơ sở dữ liệu; Kỹ thuật số; … để sinh viên sau đó có thể học tập các kiến thức chuyên ngành và tạo kiến thức nền tảng chung để làm việc trong lĩnh vực CNTT.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i>* Kiến thức ngành:</i></b> Trang bị cho sinh viên các kiến thức và kỹ năng làm việc thực tế trong lĩnh vực Truyền thông và Mạng máy tính như: Chuyển mạch và định tuyến; Truyền thông đa phương tiện; Hệ điều hành Windows Server; Mạng LAN và WAN; Lập trình mạng; Mạng truyền thông và di động; Truyền dữ liệu…</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i>* Kiến thức chuyên ngành Quản trị mạng</i></b> gồm: An ninh mạng; Mạng băng rộng; Giám sát hệ thống mạng; Phân tích thiết kế hệ thống mạng.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i>* Kiến thức chuyên ngành Lập trình mạng</i></b> gồm: Kỹ thuật kiểm thử phần mềm; Lập trình web; Lập trình nhúng; Lập trình trên thiết bị di động..</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Đội ngũ giảng viên và cơ sở vật chất</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Đội ngũ giảng viên của ngành Truyền thông và Mạng máy tính có kiến thức chuyên môn sâu về lý thuyết và thực tiễn. Trong đó có 01 giảng viên có trình độ Tiến sĩ (tốt nghiệp tại Anh Quốc), 03 giảng viên đang Nghiên cứu sinh tại Hàn Quốc, các giảng viên còn lại đều là Thạc sĩ (trong đó có 02 Thạc sĩ tốt nghiệp từ Hàn Quốc).</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Hệ thống trang thiết bị thực hành của chuyên ngành được đầu tư đồng bộ với chương trình khung đào tạo do các giáo sư đến từ trường Đại học Soongsil Hàn Quốc hỗ trợ. Dưới đây là một số hình ảnh trang thiết bị đào tạo của chuyên ngành Truyền thông và Mạng máy tính tại trường Cao đẳng CNTT Hữu nghị Việt - Hàn.</span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: center;"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image001.jpg" height="NaN" width="100%" /></p>
<p style="text-align: center;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Hệ     thống chuyển mạch, định tuyến (được tài trợ từ Hàn Quốc hơn 800.000 USD)</i></span></p>
<p style="text-align: justify;"> </p>
<p align="center"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image002.jpg" height="NaN" width="100%" /></p>
<p align="center"><span style="font-size: 10pt;"><i>Sinh   viên thực tập tại phòng Server</i></span></p>
<p align="center"> </p>
<p align="center"><span style="font-size: 10pt;"><i><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image003.jpg" height="NaN" width="100%" /></i></span></p>
<p align="center"><span style="font-size: 10pt;"><i> </i></span></p>
<p align="center"><span style="font-size: 10pt;"><i>Hệ thống thực hành truyền thông</i></span></p>
<p align="center"><span style="font-size: 10pt;"><i><br /></i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Hệ thống thông tin của trường được trang bị hiện đại với cơ sở hạ tầng mạng cáp quang, đường truyền internet tốc độ cao, hệ thống máy chủ hiện đại phục vụ tốt nhu cầu nghiên cứu, học tập cũng như tra cứu của sinh viên.</span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: center;" align="center"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image004.jpg" height="NaN" width="100%" /></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt;"><i>Sinh   viên thực tập tại phòng Server</i></span></p>
<p style="text-align: center;" align="center"> </p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt;"><i><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image005.jpg" height="NaN" width="100%" /></i></span></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt;"><i> </i></span></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt;"><i>Phòng   thực hành Mạng máy tính</i></span></p>
<p align="center"><i><br /></i></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Bên cạnh đó, nhà trường còn có trung tâm thông tin tư liệu mở cửa thường xuyên với danh mục giáo trình tài liệu được cập nhật hàng năm, hệ thống sân chơi thể thao đáp ứng nhu cầu rèn luyện sức khỏe cho sinh viên, trung tâm y tế hiện đại và ký túc xá khang trang.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Cơ hội và vị trí làm việc sau tốt nghiệp.</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Với chương trình đào tạo tiên tiến, thời lượng thực hành cao, các phòng thực hành hiện đại và cộng với đội ngũ giảng viên nhiệt tình, nhiều kinh nghiệm nên sinh viên tốt nghiệp ngành Truyền thông và Mạng máy tính có thể làm việc ở các phạm vi và lĩnh vực khác nhau như:</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Chuyên viên phân tích, thiết kế, xây dựng các hệ thống mạng.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Chuyên viên tư vấn đề xuất giải pháp, xây dựng và bảo trì các hệ thống thông tin hoặc làm việc tại bộ phận công nghệ thông tin.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Chuyên viên vận hành, quản trị và bảo mật các hệ thống mạng và truyền thông.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Chuyên viên thiết kế và đảm bảo hoạt động các hệ thống mạng trong các doanh nghiệp, cơ quan, trường học…</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Chuyên viên lập trình mạng trong các công ty sản xuất, gia công phần mềm trong nước cũng như nước ngoài.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Ngoài những cơ hội việc làm trên  từ năm 2015, sinh viên Ngành Truyền thông và Mạng máy tính sau khi tốt nghiệp được nhà trường hỗ trợ lớp bồi dưỡng tiếng Hàn để tham dự cuộc thi xét cấp học bổng của Trường Đại học Tong Myong, Hàn Quốc. (Trường Đại học Tong Myong hỗ trợ 75% học phí và tiền ký túc xá, sinh viên đóng thêm 25% học phí/học kỳ (tương đương 1000USD)).</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Trường Cao đẳng CNTT Hữu nghị Việt - Hàn là một trong những trường hợp tác với các trường Đại học của Hàn Quốc như: Đại học Soongsil, Tongmyong để trao đổi chương trình giảng dạy và nâng cao năng lực chuyên môn của sinh viên và đội ngũ giảng viên. Bên cạnh đó các giáo sư Hàn Quốc thường xuyên hỗ trợ chuyên môn và trao học bổng cho các sinh viên đạt kết quả học tập tốt. Ngoài ra Trường còn liên kết chặt chẽ với các doanh nghiệp CNTT tại Việt Nam như: Samsung VINA, Logigear, Gameloft, Enclave, FPT... để cập nhật những nhu cầu thực tiễn của các doanh nghiệp và tạo nhiều cơ hội việc làm cho sinh viên sau khi tốt nghiệp.</span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>5. </b><b>Giới thiệu một số hoạt động của ngành</b></span><ol style="text-align: justify;"> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b> </b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Tham gia các cuộc thi</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Để phát huy tinh thần học hỏi, nghiên cứu khoa học của sinh viên, nhà trường thường xuyên tạo điều kiện để sinh viên tham gia các cuộc thi như Microsoft Office Champion, Olympic tin học, thi trình diễn pháo hoa trên máy tính, hội thi ngày sáng tạo công nghệ thông tin…</span></p>
<p style="text-align: center;" align="center"> </p>
<p style="text-align: center;" align="center"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image006.jpg" height="NaN" width="100%" /></p>
<p style="text-align: center;" align="center"> </p>
<p style="text-align: center;" align="center"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image007.jpg" height="NaN" width="100%" /></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Giảng viên và sinh viên tham gia hội thi Ngày sáng tạo công nghệ thông tin</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Gameshow GalaIT</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Để tạo sân chơi vui và bổ ích cho các sinh viên, hàng năm, nhân dịp kỷ niệm ngày hiến chương các nhà giáo 20/11, gameshow GalaIT được tổ chức như một ngày hội dành cho những người yêu thích công nghệ thông tin, trí tuệ - hài hước - sáng tạo.</span></p>
<p style="text-align: justify;" align="center"> </p>
<p style="text-align: center;" align="center"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image008.jpg" height="NaN" width="100%" /></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>GalaIT năm 2014</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Thực tập thực tế </b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Nhà trường thường xuyên tổ chức cho sinh viên đi thực tập thực tế tại các doanh nghiệp như Fpt, Logigear, GameLoft, Enclave…để sinh viên dễ dàng định hướng nghề nghiệp trong tương lai.</span></p>
<p style="text-align: center;" align="center"> </p>
<p style="text-align: center;" align="center"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image009.jpg" height="NaN" width="100%" /></p>
<p style="text-align: center;" align="center"> </p>
<p style="text-align: center;" align="center"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image010.jpg" height="NaN" width="100%" /></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Hình ảnh đi thực tế của sinh viên</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Hội thảo và tuyển dụng tại trường</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Để quá trình đào tạo gắn liền với nhu cầu của các doanh nghiệp, nhà trường đã thực hiện vai trò cầu nối giữa sinh viên và các doanh nghiệp thường xuyên có nhu cầu tuyển dụng như IBM, Samsung, FPT, Logigear, GameLoft, Softech...Sinh viên thường xuyên được tham gia các buổi hội thảo và tuyển dụng của các công ty. Ngoài ra, còn có các buổi hội thảo do các giáo sư đến từ Hàn Quốc trình bày về các vấn đề nổi bật của công nghệ thông tin.</span></p>
<p style="text-align: justify;" align="center"> </p>
<p style="text-align: center;" align="center"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image011.jpg" height="NaN" width="100%" /></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Hình ảnh một buổi hội thảo cho sinh viên</i></span></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i><br /></i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Giao lưu văn hóa, thể thao và các hoạt động xã hội khác</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Hàng năm, sinh viên được tham gia các hoạt động văn nghệ, thể thao như chào đón tân sinh viên, mừng xuân mới, kỷ niệm ngày 8/3 và 20/10, chào mừng ngày hiến chương các nhà giáo 20/11, hội trại kỷ niệm ngày thành lập đoàn 26/3…</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Các sinh viên còn tham gia các hoạt động xã hội như giao lưu với sinh viên Hàn Quốc, chương trình tình nguyện, mùa hè xanh, chương trình từ thiện…</span></p>
<p> </p>
<p style="text-align: center;" align="center"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image012.jpg" height="NaN" width="100%" /></p>
<p style="text-align: center;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Hình ảnh giao lưu với đoàn sinh viên Hàn Quốc</i></span></p>
<p style="text-align: center;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i><br /></i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Nhà trường cũng thành lập và hỗ trợ hoạt động cho các câu lạc bộ nhằm phát triển các kỹ năng và niềm đam mê cho sinh viên như câu lạc bộ Vitamin S phát triển các kỹ năng mềm, câu lạc bộ đàn Guitar, câu lạc bộ tiếng Hàn, VietHan Radio…</span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>6. </b><b>Một số tâm sự của cựu sinh viên ngành Truyền thông và Mạng máy tính</b><b> </b></span><ol style="text-align: justify;"> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Có thể nói trường Cao đẳng CNTT Hữu nghị Việt - Hàn nói chung và chuyên ngành Truyền thông và Mạng máy tính nói riêng là nơi tốt nhất để chắp cánh ước mơ cho các bạn yêu thích chuyên ngành.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Từ ngày thành lập đến nay, nhiều thế hệ sinh viên của chuyên ngành đã tốt nghiệp và ít nhiều đã gặt hái được thành công trong công việc. Các thế hệ cựu sinh viên đã tham gia vào nhiều công việc khác nhau trong lĩnh vực công nghệ thông tin trong đó không hiếm những cựu sinh viên của chuyên ngành nắm giữ những vai trò then chốt trong doanh nghiệp. Sau đây là một số tâm sự của cựu sinh viên đã tốt nghiệp tại chuyên ngành và đang công tác trong lĩnh vực CNTT.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i><img style="margin: 5px; float: left;" alt="image013" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image013.png" height="164" width="200" />Nguyễn Kim Anh – Cựu sinh viên khóa 1</i></b><i> </i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Vị trí làm việc: Giám đốc công ty KIM ANH Computer &amp; Software, 126 Hàm Nghi Đà Nẵng.Số điện thoại: 0948 589 968</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Email: </i><a href="mailto:kimanhmmt@gmail.com"><i>&nbsp;</i></a><i><a href="mailto:kimanhmmt@gmail.com">kimanhmmt@gmail.com</a></i><i>.</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>“Từ lúc bước chân vào trường Cao Đẳng CNTT Hữu nghị Việt - Hàn. Tôi đã có nhiều cơ hội để tiếp cận với công nghệ Mạng máy tính, từ môi trường học tập, trang thiết bị cơ sở vật chất hiện đại, đội ngũ giảng viên, mọi thứ điều rất tốt. Đó là động lực lớn để tôi luôn cố gắng học tập. Tôi đã theo đuổi đam mê, xây dựng ước mơ từ đó.</i></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Cho đến hôm nay tôi đã đạt được thành công nhất định. Một điều tôi muốn nhắn nhủ với các bạn, để có một thành công, có lẽ các bạn cần phải có đam mê và mục tiêu rõ ràng. Đặc biệt niềm đam mê đó phải được tiếp sức từ môi trường học tập tốt đó là trường Cao Đẳng CNTT Hữu nghị Việt - Hàn. Tôi cũng sẵn sàng hỗ trợ, chia sẻ kinh nghiệm, cho các bạn sinh viên đã, đang và sẽ học tập tại trường. Hiện tại thì đa số nhân viên của tôi đều tốt nghiệp từ trường Cao Đẳng CNTT Hữu nghị Việt - Hàn.”</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i><b><i><img style="margin: 5px; float: left;" alt="image014" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image014.jpg" height="330" width="200" /></i></b>Phạm Hồng Chung - </i></b><b><i>Cựu sinh viên khóa 1</i></b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i> Vị trí công việc hiện tại: </i></b><i>Quản trị hệ thống và phụ trách online business tại công ty BQ Shoes</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i>Email:</i></b><i><a href="mailto:chungph@giaybq.com.vn">chungph@giaybq.com.vn</a></i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>"Cách đây 8 năm, khi được là sinh viên của trường Cao Đẳng CNTT Hữu nghị Việt - Hàn thân yêu, tôi không nghĩ đó là một trong những bước ngoặt lớn thay đổi cuộc đời tôi như hiện tại. Ra trường gần 5 năm, trải qua 3 công ty, với nền tảng kiến thức về mạng máy tính được học từ Trường là hành trang, tôi tự tin mình có thể thích nghi nhanh chóng với các yêu cầu khác nhau trong công việc liên quan đến hệ thống mạng. Ở trường Cao Đẳng CNTT Hữu nghị Việt - Hàn, tôi không chỉ được xây dựng nền tảng kiến thức về nghề Truyền thông và Mạng máy tính mà còn được hoàn thiện nhân cách từ chính những người thầy, người cô mẫu mực và đầy tâm huyết với những thế hệ học trò như chúng tôi.</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> Luôn dám xông pha, luôn dám thử nghiệm, đó là phương châm sống và làm việc của tôi, nó đã kết hợp cùng kiến thức thực tế được thầy cô truyền đạt giúp tôi có những bước tiến dài trong sự nghiệp trong suốt 5 năm qua, và tôi tin tất cả những sinh viên trường Cao Đẳng CNTT Hữu nghị Việt - Hàn đều có thể làm tốt hơn tôi nếu biết kết hợp kiến thức nền tảng đã được học tại Trường cùng với một mục tiêu và định hướng rõ ràng."</i></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i><b><i><b><i><img style="margin: 5px; float: left;" alt="image015" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image015.jpg" height="207" width="200" /></i></b></i></b>Lê Thanh Thương – Cựu sinh viên khóa 2</i></b><i> </i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Vị trí công việc hiên tại: Research And Development Manager tại </i><a href="http://hdviet.com/" target="_blank"><i>HDViet.com</i></a><i>, chuyên thiết kế, xây dựng và phát triển các hệ thống lớn về xử lý dữ liệu, phân tích dữ liệu và tracking data (big data, analytics).</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Điện thoại liên hệ: 0169.309.1115 </i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Email: <a href="mailto:thuonglt001@gmail.com">thuonglt001@gmail.com</a></i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>“Mỗi khi suy nghĩ về trường, tôi cảm thấy rất </i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>hạnh phúc vì đã được sống và học tập trong một môi trường hiện đại và thân thiện. Tôi vẫn luôn mong muốn một ngày gần nhất để được về lại Đà Nẵng, về mái trường thân yêu mà tôi đã gắn bó 3 năm học. Đặc biệt nhớ ơn các Thầy, Cô đã ngày đêm truyền lửa, tạo động lực cho tôi đam mê nghiên </i><i>cứu…Thời gian ấy tuy không quá dài, mà cũng không quá ngắn để tôi có thể có cơ hội học tập và nghiên cứu. Cho đến hôm nay tôi không dám nhận mình là người thành công, nhưng tự nhận thấy tôi đã làm chủ được ngành nghề mà tôi đã chọn”.</i></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i><img style="margin: 5px; float: left;" alt="image016" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image016.jpg" height="254" width="200" />Bùi Tấn Việt – Cựu viên viên khóa 2</i></b><i> </i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Vị trí công tác hiện tại:&nbsp;Trưởng phòng marketing công ty TNHH Lưu Trữ Số (123Host.vn) và Quản lý hệ thống tại Công ty TTV Online (</i><a href="http://ttvonline.com.vn/" target="_blank"><i>ttvonline.com.vn</i></a><i>)</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Điện thoại liên hệ: 0120 592 7892</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Email: </i><a href="mailto:tanviet@123host.vn" target="_blank"><i>&nbsp;</i></a><i><a href="mailto:tanviet@123host.vn">tanviet@123host.vn</a></i><i> </i><i>or </i><a href="mailto:viet.bui@ttvonline.com.vn" target="_blank"><i>&nbsp;</i></a><i><a href="mailto:viet.bui@ttvonline.com.vn">viet.bui@ttvonline.com.vn</a></i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>“Phải nói tôi là một trong số những người may mắn được học tập tại trường Cao đẳng CNTT Hữu nghị Việt - Hàn. Cơ sở vật chất của trường khá hiện đại cùng với đội ngũ giảng viên đầy nhiệt huyết nên đã thúc đẩy niềm đam mê về CNTT trong tôi. Để từ đó khi bước ra với nghề tôi cảm thấy khá tự tin, để rồi hôm nay tôi đã ít nhiều gặt hái được thành công.</i></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><b><i><img style="margin: 5px; float: left;" alt="image017" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/tt_mmt/image017.jpg" height="278" width="200" /></i></b>Lê Minh Tân – Cựu sinh viên khóa 3</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Vị trí công việc hiện tại: Automation Tester Lv3, Công ty Logigear Đà Nẵng</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Số điện thoại liên hệ: 0935857111</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Email: <a href="mailto:tanmle@outlook.com">tanmle@outlook.com</a></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>“Trường Cao Đẳng CNTT Hữu nghị Việt - Hàn được Hàn Quốc đầu tư và xây dựng. Với cơ sở vật chất hiện đại, đội ngũ giảng viên được đào tạo rất bài bản, yêu nghề và đầy nhiệt huyết. Được học dưới ngôi Trường này sinh viên chắc chắn được trang bị những kiến thức vững chắc và sẵn sàng đáp ứng nhu cầu công việc tại các doanh nghiệp. Điển hình như ngành Truyền thông và Mạng máy tính đã đào tạo ra những cử nhân CNTT, đáp ứng được các nhu cầu về mạng, phần mềm, cũng như kiểm thử phần mềm mang lại tính linh hoạt trong sự lựa chọn nghề nghiệp và sinh viên sau khi ra trường như chúng em rất dễ dàng thích ứng với những công việc tại doanh nghiệp thậm chí có những công nghệ em chưa được học tại Trường nhưng với những kiến thức nền tảng em tiếp cận rất nhanh”</i></span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>7. </b><b>Xét tuyển Ngành Truyền thông và Mạng máy tính</b></span><ol style="text-align: justify;"> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Hình thức, thời gian và các môn xét tuyển</b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Trong năm 2015, Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn tuyển sinh Ngành Truyền thông và Mạng máy tính theo 2 phương thức:</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>- Phương thức 1:</b> Tổ chức xét tuyển dựa trên kết quả kỳ thi THPT quốc gia theo phương án do Bộ Giáo dục và Đào tạo quy định gồm 3 tổ hợp: Toán, Vật lý, Hóa học (A00); Toán, Vật lý, Anh văn (A01); Toán, Ngữ văn, Anh văn (D01)<b> </b></span></p>
<div align="center">
    <table border="1" cellpadding="0" cellspacing="0" width="526">
        <tbody>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>TT</b></span></p>
                </td>
                <td width="208">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Đ</b><b>ợt xét</b></span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Th</b><b>ời gian nhận hồ sơ</b></span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Nhập học</b></span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">1</span></p>
                </td>
                <td width="208">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Nguyện vọng 1</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">01/08/15 đến 20/08/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">03/09/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">2</span></p>
                </td>
                <td width="208">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Nguyện vọng bổ sung đợt 1</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">25/08/15 đến 15/09/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">18/09/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">3</span></p>
                </td>
                <td width="208">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Nguyện vọng bổ sung đợt 2</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">20/09/15 đến 05/10/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">09/10/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">4</span></p>
                </td>
                <td width="208">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Nguyện vọng bổ sung đợt 3</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">10/10/15 đến 25/10/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">30/10/15</span></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b> </b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>- Phương thức 2:</b> Xét tuyển dựa vào kết quả học tập bậc trung học phổ thông: Xét kết quả học tập của 3 môn học trong 3 năm học THPT (căn cứ theo học bạ) 3 tổ hợp: Toán, Vật lý, Hóa học (A00); Toán, Vật lý, Anh văn (A01); Toán, Ngữ văn, Anh văn (D01).</span></p>
<div align="center">
    <table border="1" cellpadding="0" cellspacing="0" width="415">
        <tbody>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>TT</b></span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Đ</b><b>ợt xét</b></span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Th</b><b>ời gian nhận hồ sơ</b></span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Nhập học</b></span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">1</span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Đợt 1</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">05/07/15 đến 20/08/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">03/09/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">2</span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Đợt 2</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">21/08/15 đến 15/09/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">18/09/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">3</span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Đợt 3</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">16/09/15 đến 05/10/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">09/10/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">4</span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Đợt 4</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">06/10/15 đến 25/10/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">30/10/15</span></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Nộp hồ sơ trực tiếp tại Phòng Đào tạo hoặc chuyển phát nhanh qua đường bưu điện theo địa chỉ:</span></p>
<p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Phòng Đào tạo - Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn</b></span></p>
<p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Số 136 đường Trần Đại Nghĩa, Quận Ngũ Hành Sơn - Thành phố Đà Nẵng</b></span></p>
<p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Điện thoại: 0511.3962888; Website: </b><a href="http://www.viethanit.edu.vn"><b>www.viethanit.edu.vn</b></a></span></p>

                    </div>


                </div>

            </div>
        </div>
