---
layout: tuyensinh
title: Ngành quản trị kinh doanh | Tuyển sinh 2017
header_css: no-banner
major: qtkd
---

        {% include tuyensinh/major_breadcrumb.html %}

        <div class="container sc-main">
            <div class="row">
                <div class="col-md-4">
                    {% include tuyensinh/admission_card.html %}
                </div>

                <div class="col-md-8">
                    <div class="block_component">
                        <h2>Ngành quản trị kinh doanh</h2>
                        <p>
                            Quản trị kinh doanh nghiệp trong một ngành nào đó. Hoạt động quản trị kinh doanh, mục đích cuối cùng là tạo ra nguồn thu lớn cho doanh nghiệp, phát triển doanh nghiệp và mang lại nhiều giá trị cho xã hội.
                        </p>
                        <p>
                            <img style="margin: 5px; float: left;" alt="dtkd" height="233" width="216" src="/tuyensinh/photos/intro/qtkd/image001.jpg" />
                            Quản trị kinh doanh là một ngành rộng, bao gồm nhiều lĩnh vực, ngành nghề trong xã hội. Có thể chia Quản trị kinh doanh thành nhiều ngành chuyên sâu như: Quản trị kinh doanh du lịch, lữ hành, tài chính, kinh doanh thương mại…Hiện nay, ngành Quản trị kinh doanh của Trường Cao đẳng CNTT Hữu nghị Việt - Hàn được chia thành 4 chuyên ngành. Đó là, chuyên ngành Quan hệ công chúng, Quảng cáo &amp; Truyền thông, Thương mại Điện tử và Quản trị kinh doanh thương mại. Ngay khi trúng tuyển vào ngành Quản trị kinh doanh, tùy theo sở thích và năng lực bản thân, sinh viên có thể được đăng ký theo học một trong bốn chuyên ngành nói trên.
                        </p>

                        <h3>I. CHUYÊN NGÀNH QUAN HỆ CÔNG CHÚNG (PR)</h3>
                        <h4>1. Quan hệ công chúng là gì?</h4>
                        <p>
                            Với sự phát triển mạnh mẽ của truyền thông, “nghề” Quan hệ công chúng (Public Relations - PR) đang dần được xem là một lựa chọn hấp dẫn, đầy tiềm năng với nhu cầu nhân lực tương đối cao như hiện nay. Đây cũng được coi là ngành công nghiệp truyền thông mang tính sáng tạo và tính sáng tạo này được xây dựng trên cơ sở logic, bài bản. Không phải ngẫu nhiên mà PR ngày càng khẳng định được vị trí quan trọng của mình. PR còn giữ vai trò quan trọng trong việc quảng bá và xây dựng thương hiệu. Hoạt đông PR giúp tổ chức, doanh nghiệp tuyền tải các thông điệp để công chúng mục tiêu nhận thức và thấu hiểu.
                        </p>
                        <h4>2. Chương trình đào tạo chuyên ngành Quan hệ công chúng (PR) - Trường cao đẳng công nghệ thông tin hữu nghị Việt Hàn</h4>
                        <p>
                            Chương trình đào tạo chuyên ngành PR được xây dựng dựa trên khung chương trình đào tạo tiên tiến của Hàn Quốc. Chương trình không chỉ cung cấp cho sinh viên các kiến thức nên tảng về kinh doanh, xã hội, mà còn cung cấp các kiến thức chuyên sâu về Truyền thông, PR, giao tiếp phù hợp với thực tiễn.<br><br>
                            Sinh viên sau khi tốt nghiệp chuyên ngành PR, được trang bị đầy đủ những kiến thức về khoa học xã hội, khoa học tự nhiên, kinh doanh, truyền thông, PR, hiểu rõ và vận dụng các kiến thức PR trong hoạt động truyền thông của tổ chức. Sinh viên được rèn luyện và phát triển các kỹ năng lập nghiên cứu, lập kế hoạch truyền thông cho tổ chức; Kỹ năng xây dựng kịch bản và tổ chức sự kiện; Kỹ năng viết và thể hiện thông điệp trên các PTTT; Kỹ năng quản lý vấn đề, xử lý khủng hoảng, kỹ năng trả lời phỏng vấn trước báo giới và xây dựng mối quan hệ với giới truyền thông; Kỹ năng giao tiếp, đàm phán với các đối tượng công chúng khác nhau. Kỹ năng làm việc độc lập, làm việc theo nhóm, thuyết trình hiệu quả.
                        </p>
                        <h4>3. Cơ hội và vị trí làm việc sau khi tốt nghiệp chuyên ngành Quản trị kinh doanh thương mại</h4>
                        <p>
                            Sinh viên chuyên ngành Quan hệ công chúng (PR) sau khi tốt nghiệp sẽ có cơ hội làm việc tại các đơn vị và vị trí như sau:<br><br>
                            <b>Đơn vị làm việc:</b>
                        </p>
                        <ul>
                            <li>Các Công ty Quảng cáo và tổ chức sự kiện.
                            <li>Công ty Truyền thông
                            <li>Tổ chức chính phủ, phi chính phủ, phi lợi nhuận.
                            <li>Phòng tin tức, kinh doanh của các đài truyền hình, cơ quan báo chí.
                            <li>Phòng kinh doanh, marketing, quan hệ công chúng cho các Doanh nghiệp SX,KD.
                        </ul>
                        <p>
                            <b>Vị trí có thể làm việc sau khi tốt nghiệp</b>
                        </p>
                        <ul>
                            <li>Nhân viên kinh doanh, bán hàng; quản lý kinh doanh, quản lý khách hàng.
                            <li>Chuyên viên thiết kế và tổ chức sự kiện.
                            <li>Chuyên viên xây dựng kế hoạch quảng bá và truyền thông cho tổ chức.
                            <li>Chuyên viên PR: phụ trách quan hệ báo chí, quan hệ cộng đồng, tổ chức sự kiện, tổ chức truyền thông nội bộ.
                            <li>Chuyên viên phân tích và tư vấn quan hệ công chúng: trợ lí phân tích và lập báo cáo về môi trường truyền thông đối nội và đối ngoại của đơn vị; trợ lí xây dựng và thực hiện chiến lược truyền thông trong kinh doanh, xây dựng và phát triển thương hiệu.
                            <li>Biên tập viên tại các cơ quan báo, đài, tạp chí, hãng thông tấn.
                            <li>Nghiên cứu và giảng dạy về PR trong các cơ sở giáo dục, tham gia nghiên cứu các vấn đề có liên quan đến truyền thông, quan hệ công chúng, trợ lí giảng dạy.
                        </ul>
                        <p>
                            Cơ hội việc làm luôn rộng mở với sinh viên Chuyên ngành Quảng cáo và Quan hệ công chúng (PR)
                        </p>

                        <h4>4. Một số lý do chọn chuyên ngành PR</h4>
                        <ul>
                            <li>Ngành nghề tiềm năng: PR đang phát triển rất sôi động tại Việt Nam với sự xuất hiện của nhiều tổ chức, công ty truyền thông được xem như một minh chứng cho điều ấy. Nghề PR đang thu hút sự quan tâm của giới trẻ, nhất là những bạn năng động, thích làm việc trong môi trường sáng tạo, môi trường làm việc sôi động, hiện đại.
                            <li>Cơ hội việc làm và thu nhập: Người được đào tạo chuyên ngành PR có thể làm việc ở nhiều lĩnh vực khác nhau như Kinh tế, chính trị, văn hóa, xã hội, giải trí và ở nhiều tổ chức khác nhau từ cơ quan Chính phủ đến các tổ chức Phi chính phủ, tổ chức Phi lợi nhuận (tổ chức xã hội), các tổ chức, đơn vị sản xuất, kinh doanh, cơ quan báo đài, công ty truyền thông,…Đây là nghề phù hợp với giới trẻ, độ tuổi lý tưởng nhất của nghề này nằm trong khoảng 27-35. Theo thống kê mức lương của một PR chuyên nghiệp có thể vài chục triệu hoặc lên đến vài trăm, thậm chí là vài nghìn USD.
                        </ul>

                        <h4>5. Những tố chất phù hợp với chuyên ngành</h4>
                        <ul>
                            <li>Có khả năng tư duy phân tích, tư duy tổng hợp các vấn đề.
                            <li>Đam mê: Làm PR chịu áp lực từ rất nhiều phía như ban lãnh đạo, báo chí, công chúng. Vì vậy, nếu không có đam mê, bạn khó lòng gắn bó với nghề này lâu dài.
                            <li>Giao tiếp tốt: Khả năng giao tiếp khéo léo, truyền đạt bằng văn nói lẫn văn viết vượt trội hơn những người bình thường.
                            <li>Nhạy bén và linh hoạt: Là một nhân viên PR, bạn sẽ phải đối mặt với nhiều tình huống bất ngờ nên khả năng nhạy bén và xử lý linh hoạt là tố chất không thể thiếu.
                            <li>Kiên nhẫn, chịu khó tìm tòi và làm việc với tinh thần cầu thị.
                            <li>Có khả năng sáng tác - tổng hợp, tạo ra được một ý tưởng truyền thông sản phẩm (đồ vật, bài văn, bài nhạc, câu nói, lời nói, bức vẽ…) ý nghĩa từ những nguyên liệu rất bình thường trong cuộc sống.
                            <li>Yêu thích việc đổi mới, học hỏi những điều mới một cách tự nhiên như hơi thở.
                        </ul>
                        <p style="text-align:center">
                            <img style="margin: 5px;" alt="dtkd" width="100%"  src="/tuyensinh/photos/intro/qtkd/image007.png" />
                            <i>Sinh viên chuyên ngành Quảng cáo và PR dẫn chương trình tại Hội thi văn nghệ Trường Việt - Hàn</i>
                        </p>
                        <h4>6. Một số sinh viên đang và đã theo học chuyên ngành Quảng cáo và Quan hệ công chúng</h4>
                        <p>
                            <img style="margin: 5px;" alt="dtkd" width="100%"  src="/tuyensinh/photos/intro/qtkd/image011.png" />
                            Sinh viên Nguyễn Văn Tâm-Khóa 6 chuyên ngành Quảng cáo và PR<br>
                            <i>"Em là sinh viên khóa 6, hiện đang học tại khoa Thương mại điện tử. Nhà Trường đã tạo điều kiện rất tốt cho sinh viên sinh hoạt và học tập. Có nhiều chính sách hỗ trợ học bổng, như: học bổng cho sinh viên khá, giỏi; học bổng từ các chuyên gia Hàn quốc, các công ty Hàn quốc; học bổng khuyến khích học tập cho sinh viên có hoàn cảnh khó khăn. Bên cạnh sự nỗ lực, phấn đấu của chúng em là sự quan tâm của các thầy cô. Thầy cô không những là người trang bị kiến thức, kỹ năng mà còn là chỗ dựa tinh thần, là tấm gương sáng về đạo đức, nhân cách cho mỗi sinh viên chúng em."</i>
                        </p>
                        <p>
                            <img style="margin: 5px;" alt="dtkd" width="100%"  src="/tuyensinh/photos/intro/qtkd/image013.png" />
                            Cựu Sinh viên Lê Phi Long- Khóa 1 chuyên ngành Quảng cáo và PR
                        </p>
                        <ul>
                            <li>Đơn vị công tác: Công ty Vinamilk
                            <li>Bộ phận: Phòng kinh doanh
                            <li>Vị trí: Giám sát nhà phân phối
                        </ul>
                        <p>
                            <i>"Quảng cáo, quan hệ công chúng là ngành hot ở Việt nam, cơ hội việc làm rất lớn. Vì thế, Tôi quyết định tham gia học tập và là lớp sinh viên tốt nghiệp đầu tiên của Trường. Tôi nhận thấy rằng những ai có kỹ năng giao tiếp tốt, năng động thì cơ hội thành công trong công việc lớn. Chính vì thế mà các bạn sinh viên chuyên ngành Quảng cáo và PR hãy rèn luyện để bản thân năng động hơn, tự tin hơn và điều đó sẽ giúp các bạn rất nhiều trong công việc sau này."</i>
                        </p>
                        <p>
                            <img style="margin: 5px;" alt="dtkd" width="100%"  src="/tuyensinh/photos/intro/qtkd/image015.jpg" />
                            Cựu sinh viên Nguyễn Thành Nguyên - Khóa 2 chuyên ngành Quảng cáo và PR
                        </p>
                        <ul>
                            <li>Nơi công tác: Công ty TNHH Tổ chức sự kiện P&amp;Q
                            <li>Địa chỉ: 274 Cống Quỳnh, Quận 1, TP Hồ Chí Minh.
                            <li>Vị trí: Quản lý dự án
                        </ul>
                        <p>
                            <i>"Đẳng cấp của mỗi công ty thể hiện ở chính sự hoàn hảo trong từng tiểu tiết ở mỗi sự kiện họ tổ chức. Người tổ chức sự kiện giỏi chắc chắn không thể thiếu những tố chất như: óc tổ chức tốt, năng động, nhanh nhẹn, kiên nhẫn, có khả năng thiết lập mối quan hệ tốt, có khả năng làm việc theo nhóm, có sức khỏe và niềm đam mê. Nghề tổ chức sự kiện là nghề đòi hỏi người thực hiện cực kỳ bền sức và chịu được áp lực cao, biết cách xoay xở và ứng phó trong mọi tình huống. Rất may mắn những điều này tôi đã có được khi còn là sinh viên ngành Quảng cáo và Quan hệ công chúng tại Khoa Thương mại điện tử-Trường Việt Hàn."</i>
                        </p>

                        <h3>II. CHUYÊN NGÀNH QUẢNG CÁO &amp; TRUYỀN THÔNG</h3>
                        <h4>1. Quảng cáo và truyền thông là gì?</h4>
                        <p>
                            Trong điều kiện cạnh tranh ngày càng gay gắt như hiện nay. Việc thành công hay thất bại của tổ chức, doanh nghiệp phụ thuộc rất lớn vào hình ảnh của họ trong tâm trí của công chúng. Vì thế hoạt động quảng cáo và truyền thông là nhiệm vụ hàng đầu của mỗi một tổ chức, doanh nghiệp. Bởi lẽ nó là công cụ để doanh nghiệp truyền đạt những thông điệp của mình đến công chúng.<br><br>
                            Hiện nay, ngành Quảng cáo (Advertising) và truyền thông (Communication) có thể được xem là ngành kinh tế sáng tạo hay là ngành công nghiệp sáng tạo. Quảng cáo và truyền thông được giới trẻ yêu thích bởi sự năng động và sáng tạo. Các chuyên gia quảng cáo và truyền thông phải là những người tìm kiếm, sáng tạo, lên ý tưởng và hiện thực hóa các chiến dịch quảng cáo, truyền thông.
                        </p>
                        <h4>2. Chương trình đào tạo chuyên ngành Quảng cáo và  Truyền thông - Trường cao đẳng công nghệ thông tin hữu nghị Việt Hàn</h4>
                        <p>
                            Chương trình đào tạo chuyên ngành Quảng cáo và truyền thông đã được sự hỗ trợ rất lớn từ các giáo sư hàng đầu của Hàn Quốc - nơi có hoạt động quảng cáo và truyền thông được đánh giá cao nhất thế giới hiện nay. Chương trình mang đến cho sinh viên những kiến thức chuyên sâu nhất về hoạt động của Ngành Quảng cáo và truyền thông.<br><br>
                            Chương trình sẽ cung cấp cho người học một nền tảng kiến thức hiện đại, hệ thống về lĩnh vực Quảng cáo và truyền thông chuyên nghiệp trong thời đại kỷ nguyên số. Đó là qua quá trình học tập sinh viên sẽ thấu hiểu về ngành nghề, có khả năng phối hợp, xử lý mối quan hệ giữa khách hàng quảng cáo với các công ty cung ứng dịch vụ quảng cáo, sinh viên sẽ có khả năng quan sát thị trường, đánh giá người tiêu dùng, phân tích được ưu nhược điểm trong hoạt động quảng cáo, truyền thông của tổ chức, doanh nghiệp và có khả năng quản trị và tổ chức chương trình quảng cáo, truyền thông hiệu quả. Bên cạnh đó với phương pháp giảng dạy đổi mới, tiên tiến và hiện đại gắn liền hoạt động thực tiễn trong dạy học và sự hỗ trợ của các chuyên gia đến từ Hàn Quốc đảm bảo sinh viên sau khi tốt nghiệp chuyên ngành Quảng cáo và truyền thông hoàn toàn tự tin trong công việc thực tế.<br><br>
                            Ngoài ra đây là chương trình đào tạo đầu tiên tại Việt Nam có sự tích hợp với ngành quản trị kinh doanh. Do đó sinh viên sau khi tốt nghiệp không chỉ trở thành các chuyên gia trong lĩnh vực quảng cáo và truyền thông mà còn có thể trở thành những nhà quản lý cao nhất về quảng cáo và truyền thông.
                        </p>
                        <h4>3. Cơ hội và vị trí làm việc sau khi tốt nghiệp chuyên ngành Quảng cáo và Truyền thông</h4>
                        <p>
                            Sau khi tốt nghiệp sinh viên hoàn toàn có thể tự tin hội nhập và có được vị trí nghề nghiệp vững chắc ở các công ty quảng cáo (Agency), các phòng ban phụ trách hoạt động quảng cáo, truyền thông của các doanh nghiệp (Advertiser, Marketer), các báo, đài, website (Media, TV, Newspaper, Social Media), các nhà cung cấp các dịch vụ như in ấn, thiết kế, nghiên cứu thị trường... Với các vị trí như:
                        </p>
                        <ul>
                            <li>Nhân viên kinh doanh, bán hàng; quản lý kinh doanh, quản lý khách hàng.
                            <li>Chuyên viên quảng cáo, CEO quảng cáo, truyền thông
                            <li>Nghiên cứu và giảng dạy trong các cơ sở giáo dục, các cơ sở nghiên cứu, tham gia nghiên cứu các vấn đề liên quan đến truyền thông, trợ lý giảng dạy, giáo viên dạy các môn học thuộc chuyên ngành kinh tế cụ thể là quảng cáo và truyền thông…triển vọng tương lai có thể trở thành nghiên cứu viên, giáo viên bậc cao hơn.
                        </ul>
                        <h4>4. Một số lý do chọn chuyên ngành Quảng cáo và Truyền thông</h4>
                        <ul>
                            <li>Cơ hội việc làm cao: Theo thống kê về chi phí quảng cáo năm 2014 của Công ty Kantar Media thì tỷ lệ tăng trưởng hàng năm của ngành quảng cáo và truyền thông là 54% và quảng cáo vẫn là vị trí số 1. Như vậy hằng năm các công ty đều chi một số tiền rất lớn trong quỹ truyền thông của mình cho hoạt động quảng cáo. Bên cạnh đó tại khu vực Miền Trung và Tây nguyên thì chỉ duy nhất trường Cao đẳng công nghệ thông tin Hữu nghị Việt Hàn có đào tạo chuyên ngành này.
                            <li>Cơ hội phát triển bản thân: Đối với những vị trí này tổ chức luôn có chế độ đãi ngộ cao, sinh viên có cơ hội phát triển ở nhiều lĩnh vực và tính chất năng động, sáng tạo. Vì thế đây là lựa chọn hàng đầu của các bạn trẻ trên thế giới.
                        </ul>
                        <h4>5. Những tố chất phù hợp với chuyên ngành</h4>
                        <p>
                            Tất cả các tổ chức, doanh nghiệp đều mong muốn hình ảnh của mình in đậm trong lòng công chúng. Vì thế mẫu quảng cáo ấn tượng, khác lạ, độc đáo cùng các hoạt động truyền thông tiêu biểu luôn là đích đến của các tổ chức, doanh nghiệp.
                        </p>
                        <ul>
                            <li>Là những người năng động.
                            <li>Có óc sáng tạo.
                            <li>Có kỹ năng tư duy tốt,
                            <li>Có sức khỏe lành mạnh để có thể làm việc trong môi trường linh hoạt.
                        </ul>
                        <p>
                            <img style="margin: 5px;" alt="dtkd" width="100%"  src="/tuyensinh/photos/intro/qtkd/image009.png" />
                            <i>Sinh viên chuyên ngành Quảng cáo và PR tham gia tư vấn hoạt động tuyển sinh của Trường Việt - Hàn</i>
                        </p>

                        <h3>III. Chuyên ngành Thương mại điện tử:</h3>
                        <h4>1. Thương mại điện tử là gì?</h4>
                        <p>
                            <img style="margin: 5px;" alt="dtkd" width="50%"  src="/tuyensinh/photos/intro/qtkd/image017.jpg" /><br>
                            Ebay.com, Amazon.com,.... rất nhiều những trang web thương mại điện tử được thành lập mỗi ngày. Thương mại điện tử có những ưu điểm vượt trội so với thương mại truyền thống, mang lại nhiều lợi ích không chỉ cho người bán mà còn cho cả người mua.<br><br>
                            Ngày nay, Thương mại điện tử phát triển mạnh mẽ bởi tốc độ sử dụng Internet của người dùng cùng với nhiều công nghệ hiện đại ra đời. Con người ngày càng ưa thích giao dịch dưới hình thức này bởi những thuận lợi mà nó mang lại. Kinh doanh hiện nay và trong tương lai sẽ chuyển dần sang online và chiếm phần lớn doanh thu cũng như thị phần của các ngành nghề kinh doanh.
                        </p>
                        <h4>2. Chương trình đào tạo chuyên ngành Thương mại điện tử - Trường Cao đẳng CNTT Hữu Nghị Việt – Hàn</h4>
                        <p>
                            <img style="margin: 5px;" alt="dtkd" width="100%"  src="/tuyensinh/photos/intro/qtkd/image019.jpg" />
                            <i>Sinh viên chuyên ngành Thương mại điện tử, tham gia tiết học chữ ký điện tử</i><br><br>
                            Chương trình đào tạo chuyên ngành Thương mại điện tử tại trường Cao đẳng CNTT Hữu Nghị Việt – Hàn được các giáo sư Hàn Quốc tư vấn và thiết kế xây dựng theo chương trình đào tạo tiên tiến của Hàn Quốc, nhằm cung cấp cho sinh viên những kiến thức chuyên sâu, những thành tựu mới nhất của ngành Thương mại điện tử.<br><br>
                            Sinh viên sau khi tốt nghiệp chuyên ngành Thương mại điện tử bậc Cao đẳng, được trang bị đầy đủ các kiến thức và kỹ năng cho người kinh doanh trong môi trường truyền thống và môi trường trực tuyến, như: các kiến thức cần thiết về công nghệ thông tin - truyền thông; kiến thức chuyên sâu quản trị kinh doanh của doanh nghiệp Thương mại điện tử; kỹ năng hoạch định và triển khai chiến lược Marketing, mua bán trực tuyến; kỹ năng thiết kế và quản trị Website Thương mại điện tử; triển khai các hoạt động tác nghiệp trong doanh nghiệp ứng dụng thương mại điện tử; sử dụng và khai  thác các phần mềm tác nghiệp thương mại điện tử phổ biến; nâng cao về sử dụng các phần mềm tin học thông dụng và các công cụ của mạng Internet; kỹ năng làm việc nhóm, kỹ năng thuyết trình, kỹ năng giao tiếp;...
                            <img style="margin: 5px;" alt="dtkd" width="100%"  src="/tuyensinh/photos/intro/qtkd/image021.jpg" />
                            <i>Sinh viên chuyên ngành Thương mại điện tử đang tham gia tiết học kinh doanh qua Internet</i><br><br>
                            Các học phần chuyên ngành tiêu biểu: Thương mại điện tử; Marketing; kinh doanh điện tử; thiết kế website; xây dựng website thương mại điện tử; phân tích và thiết kế hệ thống thông tin; phần mềm hoạch định nguồn lực doanh nghiệp; kỹ năng giao tiếp;...
                        </p>
                        <h4>3. Cơ hội và vị trí làm việc sau tốt nghiệp của chuyên ngành Thương mại điện tử</h4>
                        <p>
                            Sau khi tốt nghiệp, sinh viên chuyên ngành Thương mại Điện tử có đủ kiến thức và khả năng làm việc tại: phòng kinh doanh, phòng Marketing, bộ phận bán hàng, bộ phận quản lý nhân sự, bộ phận chăm sóc khách hàng, bộ phận công nghệ thông tin của các doanh nghiệp thuộc mọi thành phần kinh tế.<br><br>
                            Các vị trí có thể đảm đương sau khi tốt nghiệp: chuyên viên quản lý và điều hành kinh doanh qua Internet; chuyên viên xây dựng và thiết kế các Website Thương mại điện tử; chuyên viên mở rộng thị trường Internet; chuyên viên quảng bá-truyền thông Internet; chuyên viên quản lý dự án Công nghệ thông tin; chuyên viên sử dụng hệ thống Công nghệ thông tin phục vụ quản lý, điều hành, kinh doanh cho các tổ chức, doanh nghiệp từ kinh doanh truyền thống đến kinh doanh điện tử,...
                        </p>
                        <h4>4. Những lý do chọn chuyên ngành Thương mại điện tử</h4>
                        <p>
                            <img style="margin: 5px;" alt="dtkd" width="50%"  src="/tuyensinh/photos/intro/qtkd/image023.jpg" /><br>
                            <i>Câu nói nổi tiến của Bill Gates về Thương mại điện tử</i>
                        </p>
                        <ul>
                            <li><b>Sự quan tâm của Đảng, Nhà nước và Chính phủ:</b> Việc Thủ tướng Chính phủ vừa ban hành Quyết định số 689/QĐ-TTg ngày 11 tháng 5 năm 2014 phê duyệt Chương trình phát triển Thương mại điện tử quốc gia giai đoạn 2014 - 2020. Với “Mục tiêu chung của Chương trình là xây dựng các hạ tầng cơ bản và triển khai các giải pháp, hoạt động hỗ trợ phát triển lĩnh vực Thương mại điện tử ở Việt nam, đưa Thương mại điện tử trở thành hoạt động phổ biến, góp phần nâng cao năng lực cạnh tranh của các Doanh nghiệp và năng lực cạnh tranh quốc gia, thúc đẩy quá trình công nghiệp hóa, hiện đại hóa đất nước”. Đây là cơ hội việc làm rất lớn của sinh viên sau khi tốt nghiệp chuyên ngành này.</li>
                            <li><b>Thương mại điện tử – Xu thế của phương thức kinh doanh mới:</b> Thương mại điện tử không chỉ mở ra những cơ hội kinh doanh mới, những sản phẩm và dịch vụ mới, những ngành nghề kinh doanh mới mà bản thân nó thực sự là một phương thức kinh doanh mới. Đó là, phương thức kinh doanh điện tử. Thương mại điện tử chuyển hoá các chức năng kinh doanh, từ nghiên cứu thị trường và sản xuất sản phẩm đến bán hàng, dịch vụ sau bán hàng từ phương thức kinh doanh truyền thống đến phương thức kinh doanh điện tử. Nhiều chuyên gia dự đoán, trong năm 2015 và các năm về sau, Thương mại điện tử sẽ là xu thế kinh doanh của tất cả Doanh nghiệp.</li>
                            <li><b>Cơ hội việc làm và thu nhập cao:</b> Trong thời kỳ bùng nổ Internet như hiện nay, nhu cầu về nhân lực Thương mại điện tử của các doanh nghiệp rất lớn. Theo xu hướng chung, ít nhất mỗi doanh nghiệp phải có một người phụ trách công việc Thương mại điện tử. Vì vậy, sinh viên chuyên ngành Thương mại điện tử sau khi tốt nghiệp cũng không quá khó khăn để tìm được một công việc đúng ngành học và phù hợp. Cơ hội luôn rộng mở trước mắt.</li>
                            <li><b>Được đáp ứng điều kiện tốt trong sinh hoạt, học tập và cơ hội học liên thông bậc Đại học ngay sau khi tốt nghiệp</b>: Trường Cao đẳng CNTT Hữu nghị Việt Hàn là trường công lập, được thành lập dưới sự giúp đỡ của chính phủ Hàn quốc. Đến với ngành Quản trị Kinh doanh, chuyên ngành Thương mại Điện tử, sinh viên sẽ được trải nghiệm chương trình đào tạo tiên tiến của Hàn quốc, với cơ sở vật chất khang trang hiện đại, thầy cô có chuyên môn tốt, nhiệt tình. Sinh viên đóng học phí công lập và thụ hưởng đầy đủ các chính sách hỗ trợ theo quy định của nhà nước và có thể học liên thông bậc Đại học ngay sau khi tốt nghiệp.</li>
                        </ul>
                        <h4>5. Tố chất phù hợp với chuyên ngành Thương mại điện tử</h4>
                        <p>
                            Thương mại điện tử là một lĩnh vực chuyên sâu của ngành Quản trị kinh doanh. Đây &nbsp;là một lĩnh vực mới, dựa trên sự giao thoa và tương tác của nhiều ngành khoa học khác nhau, như: kinh tế, kinh doanh, quản trị, Marketing, công nghệ thông tin, hệ thống thông tin, luật,... Vì vậy, người theo đuổi chuyên ngành này đòi hỏi phải có sự yêu thích đối với các hoạt động quản trị kinh doanh, có khả năng kinh doanh, khả năng quản lý. Bên cạnh đó còn cần phải yêu thích Công nghệ Thông tin để ứng dụng CNTT vào Quản lý và Kinh doanh. Ngoài ra, Thương mại điện tử với đặc thù là kinh doanh toàn cầu, nên thành thạo ngoại ngữ (đặc biệt là Tiếng Anh) là một đòi hỏi cần thiết cho chuyên ngành này.
                        </p>
                        <h4>6. Một số gương mặt cựu sinh viên của chuyên ngành Thương mại điện tử</h4>
                        <p>
                            <img style="margin: 5px;" alt="dtkd" width="30%"  src="/tuyensinh/photos/intro/qtkd/image025.jpg" />
                            <br><i>Cựu sinh viên Đào Văn Ánh- Khóa 1 chuyên ngành Thương mại Điện tử</i>
                        </p>
                        <ul>
                            <li>Nơi công tác: Công ty Nhà thép tiền chế PEB
                            <li>Vị trí: Giám sát công trường
                        </ul>
                        <p>
                            <i>"Theo học ngành Quản trị kinh doanh, chuyên ngành Thương mại điện tử các bạn sinh viên sẽ được trang bị các kiến thức nền tảng liên quan đến lĩnh vực kinh tế, thị trường,&nbsp;môi trường kinh doanh,... Vào chuyên ngành, các bạn sinh viên được cung cấp kiến thức, kỹ năng về phân tích, dự đoán, quản lý và xây dựng kế hoạch, chiến lược kinh doanh trong môi trường truyền thống và trực tuyến.&nbsp;Hiện nay, Tôi đang là một chuyên viên giám sát công trình, vị trí này đòi hỏi người giám sát phải có năng lực khoa học quản trị và nghệ thuật quản trị, cũng như sử dụng công nghệ thông tin trong lập và quản lý dự án. Những kỹ năng này tôi đã có được khi tham gia học ngành Quản trị kinh doanh tại Trường Việt Hàn"</i>
                        </p>
                        <p>
                            <img style="margin: 5px;" alt="dtkd" width="100%"  src="/tuyensinh/photos/intro/qtkd/image027.jpg" />
                            <br><i>Cựu sinh viên Nguyễn Thị Thanh Tâm-Khóa 1 chuyên ngành Thương mại Điện tử</i>
                        </p>
                        <ul>
                            <li>Nơi công tác: Công ty CP Ô tô Trường Hải
                            <li>Vị trí: Trợ lý kinh doanh
                        </ul>
                        <p>
                            <i>"Với công việc Trợ lý kinh doanh, đòi hỏi tôi phải nắm kiến thức rất rộng. Đặc biệt, các phương thức kinh doanh trên Internet, như: giao dịch, mua bán, thanh toán, đặt hàng, quảng cáo và kể cả giao hàng. Những công việc đó hiện nay tôi đảm nhận khá tốt. Điều này là may mắn, những kỹ năng này tôi được đào tạo ở chuyên ngành Thương mại điện tử."</i>
                        </p>
                        <p>
                            <img style="margin: 5px;" alt="dtkd" width="30%"  src="/tuyensinh/photos/intro/qtkd/image029.png" />
                            <br><i>Cựu sinh viên Đinh Thị Thanh Huyền-Khóa 3 chuyên ngành Thương mại Điện tử</i>
                        </p>
                        <ul>
                            <li>Nơi công tác: Công ty Eurowindow Hà Nội
                            <li>Vị trí: Nhân viên kiểm soát kế hoạch
                        </ul>
                        <p>
                            <i>"Là một trong những nhân viên kiểm soát kế hoạch từ những ngày đầu mới làm việc, với kinh nghiệm của mình tôi không chỉ làm kiểm soát kế hoạch, mà còn tư vấn chiến lược việc lập và kiểm soát kế hoạch. Thu nhập của tôi đến từ những nguồn này cũng giúp tôi và gia đình đủ trang trải cuộc sống. Cùng với các kiến thức quản trị kinh doanh, các kỹ năng về Công nghệ thông tin trong thời gian học chuyên ngành Thương mại điện tử tại trường Việt Hàn, tôi dễ dàng sử dụng công cụ Internet như người bạn hỗ trợ trong công việc hằng ngày."</i>
                        </p>

                        <h3>IV. CHUYÊN NGÀNH QUẢN TRỊ KINH DOANH THƯƠNG MẠI</h3>
                        <h4>1. Kinh doanh thương mại là gì?</h4>
                        <p>
                        	Ngày nay, sự hội nhập vào thị trường quốc tế của Việt Nam đã thúc đẩy mạnh mẽ quá trình lưu thông hàng hóa, và kinh doanh thương mại chính là lĩnh vực trọng yếu tạo nên sự phát triển này. Bởi người làm kinh doanh thương mại có khả năng quản trị lực lượng bán hàng, tổ chức và điều hành hoạt động bán lẻ, nắm được tâm lý và hành vi mua của khách hàng, tổ chức hoạt động bán hàng hiệu quả, xây dựng hệ thống chuỗi cung ứng, nắm bắt được các vấn đề liên quan đến môi trường kinh doanh quốc tế, sự năng động và thay đổi nhanh chóng của môi trường, từ đó nhận dạng và định vị hoạt động kinh doanh của công ty sao cho thích ứng với môi trường này.
                        <h4>2. Chương trình đào tạo chuyên ngành Quản trị kinh doanh thương mại – Trường cao đẳng công nghệ thông tin hữu nghị Việt Hàn</h4>
                        </p>
                            Chương trình đào tạo chuyên ngành Quản trị kinh doanh thương mại tại Trường cao đẳng công nghệ thông tin hữu nghị Việt Hàn được xây dựng dựa trên chương trình đào tạo tiên tiến của Hàn Quốc. Chương trình cung cấp cho sinh viên những kiến thức chuyên sâu, rèn luyện và phát triển các kỹ năng nghề nghiệp cần thiết của ngành nghề Kinh doanh thương mại để đáp ứng yêu cầu của thực tiễn xã hội.<br><br>
                            Sinh viên sau khi tốt nghiệp chuyên ngành Quản trị kinh doanh thương mại bậc Cao đẳng, được trang bị đầy đủ những kiến thức về kinh tế thị trường, nắm vững hoạt động kinh doanh thương mại và hoạt động marketing trong kinh doanh thương mại. Sinh viên được rèn luyện và phát triển các kỹ năng phân tích -  giải quyết các tình huống trong kinh doanh thương mại, kỹ năng hoạch định, triển khai và phối hợp các chức năng của doanh nghiệp thương mại, kỹ năng xây dựng -  quản trị hệ thống thông tin hỗ trợ hoạt động quản trị quan hệ khách hàng của DN thương mại, kỹ năng viết và trình bày kế hoạch kinh doanh, kỹ năng thương lượng và đàm phán trong kinh doanh, kỹ năng làm việc độc lập, làm việc nhóm.
                        </p>
                        <h4>3. Cơ hội và vị trí làm việc sau khi tốt nghiệp chuyên ngành Quản trị kinh doanh thương mại</h4>
                        </p>
                            Sau khi tốt nghiệp chuyên ngành Quản trị kinh doanh thương mại - Trường cao đẳng công nghệ thông tin hữu nghị Việt Hàn, sinh viên có đủ kiến thức và khả năng làm việc tại: các công ty sản xuất, kinh doanh thương mại, kinh doanh xuất nhập khẩu, các trung tâm xúc tiến thương mại (hội chợ, triển lãm) hoặc tự tổ chức hoạt động kinh doanh thương mại.<br><br>
                            Vị trí có thể đảm đương sau khi tốt nghiệp: nhân viên kinh doanh, chuyên viên phụ trách xuất nhập khẩu, chuyên viên bộ phận thu mua, trưởng ngành hàng, chuyên viên chăm sóc khách hàng tại các doanh nghiệp sản xuất, thương mại...
                        </p>
                        <h4>4. Một số lý do chọn chuyên ngành Quản trị kinh doanh thương mại</h4>
                        <ul>
                            <li>Kinh doanh thương mại là hoạt động thiết yếu trong nền kinh tế - lưu thông hàng hóa, đưa hàng hóa từ nơi sản xuất đến nơi tiêu dùng thông qua hoạt động mua bán, trao đổi sản phẩm nhằm thỏa mãn nhu cầu của người tiêu dùng.
                            <li>Môi trường làm việc năng động - môi trường kinh doanh luôn biến động và thay đổi, do đó người làm trong lĩnh vực này có rất nhiều cơ hội để trải nghiệm, giúp người trong nghề tích lũy kinh nghiệm, nâng cao trình độ nghề nghiệp và nhanh chóng trưởng thành.
                            <li>Khả năng hội nhập quốc tế cao - Kinh doanh thương mại tại Việt Nam hiện nay đã vươn rất xa, kết nối với nhiều quốc gia trên thế giới. Người làm kinh doanh thương mại còn được trau dồi về văn hóa, mở rộng tầm hiểu biết của bản thân.
                            <li>Thu nhập cá nhân cao - Môi trường làm việc lại thường biến động và đầy thách thức. Nhưng công sức đã bỏ ra sẽ luôn được đền bù xứng đáng bằng các cơ hội thăng tiến, tăng lương và các khoản ngoài lương.
                            <li>Thụ hưởng các điều kiện học tập, sinh hoạt đảm bảo và cơ hội liên thông Đại học ngay sau khi tốt nghiệp
                        </ul>
                        <p>
                            Trường Cao đẳng CNTT Hữu nghị Việt Hàn là trường công lập, được thành lập dưới sự giúp đỡ của chính phủ Hàn quốc. Sinh viên sẽ được trải nghiệm chương trình đào tạo tiên tiến của Hàn quốc, với cơ sở vật chất khang trang hiện đại, thầy cô có chuyên môn tốt, nhiệt tình. Sinh viên đóng học phí công lập và thụ hưởng đầy đủ các chính sách hỗ trợ theo quy định của nhà nước và có thể học liên thông bậc Đại học ngay sau khi tốt nghiệp.
                        </p>

                        <h4>5. Những tố chất phù hợp với chuyên ngành</h4>
                        <ul>
                            <li>Đam mê kinh doanh - Đam mê chính là ngọn nguồn của sự thành công, là chất xúc tác giúp vượt qua mọi khó khăn thử thách gặp phải trong nghề.
                            <li>Linh động trong xử lý tình huống: Môi trường của lĩnh vực kinh doanh thương mại thường biến động, nhu cầu của khách hàng luôn thay đổi, nên doanh nghiệp kỳ vọng nhân viên của mình khi xử lý công việc phải linh hoạt, khôn khéo.
                            <li>Kiên trì theo đuổi mục tiêu: Người làm kinh doanh thương mại cần phải biết mình muốn làm gì và đặt ra mục tiêu để theo đuổi, nhưng phải chắc chắn rằng đó là mục tiêu thiết thực và có thể thực hiện, sau đó kiên trì hành động theo kế hoạch đã đặt ra.
                        </ul>

                        <h3>V. Xét tuyển Ngành Quản trị kinh doanh</h3>
                        {% include tuyensinh/admission_footer.html %}
                        <p>Nộp hồ sơ trực tiếp tại Phòng Đào tạo hoặc chuyển phát nhanh qua đường bưu điện theo địa chỉ: </p>
                        <p><b>Phòng Đào tạo - Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn</b> </p>
                        <p><b>Số 136 Đường Trần Đại Nghĩa, Quận Ngũ Hành Sơn - Thành phố Đà Nẵng</b> </p>
                        <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"> <b>Điện thoại: 0511.3962888;&nbsp; Website: </b><a href="http://www.viethanit.edu.vn/"><b>www.viethanit.edu.vn</b></a></span>

                    </div>


                </div>

            </div>
        </div>
