---
layout: tuyensinh
title: Ngành quản trị kinh doanh | Tuyển sinh 2016
header_css: no-banner
major: qtkd
---

        {% include tuyensinh/major_breadcrumb.html %}

        <div class="container sc-main">
            <div class="row">
                <div class="col-md-4">
                    {% include tuyensinh/admission_card.html %}
                </div>

                <div class="col-md-8">
                    <div class="block_component">

<p><b>Mã ngành:</b><b>:</b> <b>C340101</b> </p>
<p><b> </b> </p>
<b style="font-family: arial, helvetica, sans-serif; font-size: 10pt; text-align: justify; line-height: 1.5;">I. </b><b style="font-family: arial, helvetica, sans-serif; font-size: 10pt; text-align: justify; line-height: 1.5;">Ngành quản trị kinh doanh</b><br /><ol style="text-align: justify;"> </ol>
<p>doanh nghiệp</a> trong một ngành nào đó. Hoạt động quản trị kinh doanh, mục đích cuối cùng là tạo ra nguồn thu lớn cho doanh nghiệp, phát triển doanh nghiệp và mang lại nhiều giá trị cho xã hội. </p>
<img style="margin: 5px; float: left;" alt="dtkd" height="233" width="216" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd.jpg" />
<p>Quản trị kinh doanh là một ngành rộng, bao gồm nhiều lĩnh vực, ngành nghề trong xã hội. Có thể chia Quản trị kinh doanh thành nhiều ngành chuyên sâu như: Quản trị kinh doanh du lịch, lữ hành, tài chính, kinh doanh thương mại…Hiện nay, ngành Quản trị kinh doanh của Trường Cao đẳng CNTT Hữu nghị Việt - Hàn được chia thành 2 chuyên ngành. Đó là, chuyên ngành Quảng cáo và Quan hệ công chúng và chuyên ngành Thương mại Điện tử. Ngay khi trúng tuyển vào ngành Quản trị kinh doanh, tùy theo sở thích và năng lực bản thân, sinh viên có thể được đăng ký theo học một trong hai chuyên ngành nói trên. </p>
<b style="font-family: arial, helvetica, sans-serif; font-size: 10pt; text-align: justify; line-height: 1.5;">II. </b><b style="font-family: arial, helvetica, sans-serif; font-size: 10pt; text-align: justify; line-height: 1.5;">Chuyên ngành Quảng cáo và Quan hệ công chúng</b><br /><b style="font-family: arial, helvetica, sans-serif; font-size: 10pt; text-align: justify; line-height: 1.5;"><i>1. </i></b><b style="font-family: arial, helvetica, sans-serif; font-size: 10pt; text-align: justify; line-height: 1.5;"><i>Quảng cáo và Quan hệ công chúng</i></b><br /><ol style="text-align: justify;"> </ol>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b><i>Quảng cáo là gì?</i></b> </li>
</ul>
<img style="margin: 5px; float: right;" alt="dtkd" height="233"  src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd1.jpg" />
<p>Quảng cáo (Advertising) là việc hướng công chúng về một sản phẩm, dịch vụ hay một tư tưởng. Để từ đó công chúng yêu thích, sử dụng sản phẩm, dịch vụ hay ủng hộ tư tưởng đó. Sản phẩm của quảng cáo là sự thể hiện các ý tưởng quảng cáo. Với sự trợ giúp của phương tiện truyền thông, thông điệp quảng cáo của các sản phẩm quảng cáo sẽ tác động tới hành vi, thói quen mua hàng của khách hàng. </p>
<p>Ngày càng có nhiều sản phẩm quảng cáo xuất hiện trên các phương tiện truyền thông, như: báo, tạp chí, ti vi, internet… để quảng bá sản phẩm, dịch vụ của các doanh nghiệp. Những năm qua, ngành công nghiệp quảng cáo Việt Nam luôn tăng trưởng và đây là một cơ hội lớn về việc làm và nghề nghiệp cho các bạn sinh viên sau khi tốt nghiệp chuyên ngành này. </p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b><i>Quan hệ công chúng là gì?</i></b> </li>
</ul>
<p>doanh nghiệp</a> chủ động quản lý các quan hệ giao tiếp cộng đồng để tạo dựng và giữ gìn một hình ảnh tích cực của mình trước công chúng. Ngày nay, Quan hệ công chúng được xem như là ngành công nghiệp truyền thông mang tính sáng tạo và là một lựa chọn hấp dẫn, đầy tiềm năng với nhu cầu nhân lực tương đối cao. </p>
<p><b>2. Chương trình đào tạo chuyên ngành Quảng cáo và Quan hệ công chúng - Trường Cao đẳng CNTT Hữu Nghị Việt – Hàn</b> </p>
<img style="margin: 5px;" alt="dtkd" width="100%"  src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd2.jpg" />
<p><i>Buổi học thảo luận theo nhóm tại Thư viện Trường Việt - Hàn </i></p>
<p>Chương trình đào tạo chuyên ngành Quảng cáo và Quan hệ công chúng tại trường Cao đẳng CNTT Hữu nghị Việt-Hàn được xây dựng dựa trên chương trình đào tạo tiên tiến của Hàn Quốc. Chương trình cung cấp cho sinh viên các kiến thức nên tảng về kinh doanh, xã hội và các kiến thức chuyên sâu về quảng cáo, quan hệ công chúng đáp ứng nhu cầu thực tiễn công việc. </p>
<p>Sau khi tốt nghiệp chuyên ngành Quảng cáo và Quan hệ công chúng bậc Cao đẳng, sinh viên được trang bị các kiến thức và kỹ năng để trở thành một chuyên gia quảng cáo, quan hệ công chúng. Cụ thể: kiến thức nền tảng về kinh doanh, quan hệ công chúng, quan hệ truyền thông, lập kế hoạch truyền thông đại chúng, kỹ năng giao tiếp, quảng cáo, biên tập quảng cáo, quảng cáo Internet, quản trị thương hiệu,…và các kỹ năng làm việc như: kỹ năng làm việc nhóm, làm việc độc lập; kỹ năng quản lý thời gian; kỹ năng lập kế hoạch, kỹ năng thuyết trình, kỹ năng giao tiếp… </p>
<p><b>3. Cơ hội và vị trí làm việc sau tốt nghiệp chuyên ngành Quảng cáo và quan hệ công chúng</b> </p>
<p>Sau khi tốt nghiệp chuyên ngành Quảng cáo và Quan hệ công chúng-Trường Cao đẳng CNTT Hữu nghị Việt Hàn, sinh viên có đủ kiến thức và khả năng làm việc tại: </p>
<p>Công ty quảng cáo và tổ chức sự kiện; công ty Quảng cáo-Truyền thông; các tổ chức chính phủ, phi chính phủ, phi lợi nhuận; phòng tin tức, kinh doanh, quảng cáo của các đài truyền hình, cơ quan báo chí; phòng kinh doanh, Marketing, quan hệ công chúng của các doanh nghiệp sản xuất, kinh doanh. </p>
<p>Các vị trí có thể đảm đương sau khi tốt nghiệp: chuyên viên quản lý kinh doanh, bán hàng; chuyên viên thiết kế và điều hành các dự án quảng cáo; chuyên viên thiết kế và tổ chức sự kiện; chuyên viên xây dựng kế hoạch quảng bá và truyền thông; phát ngôn viên, thuyết trình viên; chuyên viên Quan hệ công chúng làm các công việc như phụ trách quan hệ báo chí, quan hệ cộng đồng, tổ chức truyền thông nội bộ; chuyên viên phân tích và tư vấn quan hệ công chúng; Biên tập viên tại các cơ quan báo, đài, tạp chí, hãng thông tấn; nghiên cứu và giảng dạy về Quảng cáo, Quan hệ công chúng trong các cơ sở giáo dục. </p>
<p><b>4. Một số lý do chọn chuyên ngành Quảng cáo và Quan hệ công chúng</b> </p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b>Ngành nghề tiềm năng</b> </li>
</ul>
<p>Trong xu thế kinh tế cạnh tranh quyết liệt hiện nay, các doanh nghiệp đều phải đưa ra các chiến lược Marketing hiệu quả nhất nhằm nâng cao thị phần và khẳng định thương hiệu của mình trên thị trường. Quảng cáo hay Quan hệ công chúng là những công cụ hiệu quả hỗ trợ cho hoạt động Marketing. Mặc dù chỉ mới xuất hiện trong những năm gần đây nhưng nghề Quảng cáo và Quan hệ công chúng đang phát triển rất sôi động tại Việt nam, với sự xuất hiện của nhiều công ty Quảng cáo-Truyền thông được xem như một minh chứng cho điều này. </p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b>Cơ hội việc làm và thu nhập</b> </li>
</ul>
<p>Sinh viên được đào tạo chuyên ngành Quảng cáo và Quan hệ công chúng có thể làm việc ở nhiều lĩnh vực khác nhau như: kinh tế, chính trị, văn hóa, xã hội, giải trí và ở nhiều tổ chức khác nhau từ cơ quan Chính phủ đến các tổ chức phi Chính phủ, tổ chức phi lợi nhuận, các tổ chức đơn vị sản xuất, kinh doanh, cơ quan báo đài, công ty truyền thông,…Đây là nghề&nbsp;phù hợp với giới trẻ, độ tuổi lý tưởng nhất của nghề này nằm trong khoảng 27-35. Theo thống kê mức lương của một chuyên viên Quảng cáo hay chuyên viên Quan hệ công chúng có thể lên đến vài trăm, thậm chí là vài nghìn USD. </p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b>Được đáp ứng điều kiện tốt trong sinh hoạt, học tập và cơ hội học liên thông bậc Đại học ngay sau khi tốt nghiệp.</b> </li>
</ul>
<p>Trường Cao đẳng CNTT Hữu nghị Việt Hàn là trường công lập, được thành lập dưới sự giúp đỡ của chính phủ Hàn quốc. Đến với ngành Quản trị Kinh doanh, chuyên ngành Quảng cáo và Quan hệ công chúng, sinh viên sẽ được trải nghiệm chương trình đào tạo tiên tiến của Hàn quốc, với cơ sở vật chất khang trang hiện đại, thầy cô có chuyên môn tốt, nhiệt tình. Sinh viên đóng học phí công lập và thụ hưởng đầy đủ các chính sách hỗ trợ theo quy định của nhà nước và có thể học liên thông bậc Đại học ngay sau khi tốt nghiệp. </p>
<p><b>5. &nbsp;Những tố chất phù hợp với chuyên ngành Quảng cáo và Quan hệ công chúng</b> </p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b>Có khả năng tư duy</b>: bạn phải có tư duy phân tích, tư duy tổng hợp và nhận biết nhu cầu của những người xung quanh một cách tinh tế. </li>
	<img style="margin: 5px;" alt="dtkd" width="100%"  src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd3.jpg" />
<p><i>Sinh viên chuyên ngành Quảng cáo và PR dẫn chương trình tại Hội thi văn nghệ Trường Việt - Hàn</i></p>
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b>Đam mê</b>: chuyên viên Quảng cáo hay chuyên viên Quan hệ công chúng thường chịu áp lực từ rất nhiều phía, như: lãnh đạo công ty, báo chí, công chúng,... Vì vậy, nếu không có đam mê, bạn khó lòng gắn bó với nghề này lâu dài. </li>
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b>Giao tiếp tốt</b>: đặc thù của nghề là khả năng giao tiếp với nhiều đối tượng trong xã hội. Do đó, khả năng giao tiếp tốt sẽ mang lại lợi thế rất lớn cho người làm công tác Quảng cáo hay Quan hệ công chúng. </li>
	<img style="margin: 5px;" alt="dtkd" width="100%"  src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd4.jpg" />
<p><i>Sinh viên chuyên ngành Quảng cáo và PR tham gia tư vấn hoạt động tuyển sinh của Trường Việt - Hàn</i></p>
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b>Nhạy bén, linh hoạt và có trí tưởng tượng tốt</b>: là một chuyên viên Quảng cáo hay chuyên viên Quan hệ công chúng, bạn sẽ phải đối mặt với nhiều tình huống bất ngờ trong quá trình thực hiện công việc, nên khả năng nhạy bén và xử lý linh hoạt là tố chất không thể thiếu. Ngoài ra, khi làm công tác Quảng cáo bạn phải có trí tưởng tượng phong phú, có thể linh hoạt giữa lãng mạn và thực tế để thể hiện tốt các ý tưởng trong các sản phẩm quảng cáo. </li>
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b>Óc thẩm mỹ</b>: Quảng cáo còn ví như là một nghệ thuật thị giác. Nếu bạn có tố chất này, nó giúp ích rất nhiều cho công việc sáng tạo của bạn. Đây là nhân tố vừa là năng khiếu, vừa phải rèn luyện. </li>
</ul>
<p><b>6. Một số sinh viên đang và đã theo học chuyên ngành Quảng cáo và Quan hệ công chúng </b> </p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b>
	<img style="margin: 5px;" alt="dtkd" width="100%"  src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd5.jpg" />Sinh viên Nguyễn Văn Tâm-Khóa 6 chuyên ngành Quảng cáo và PR</b> </li>
</ul>
<p><i>“Em là sinh viên khóa 6, hiện đang học tại khoa Thương mại điện tử. Nhà Trường đã tạo điều kiện rất tốt cho sinh viên sinh hoạt và học tập. Có nhiều chính sách hỗ trợ học bổng, như: học bổng cho sinh viên khá, giỏi; học bổng từ các chuyên gia Hàn quốc, các công ty Hàn quốc; học bổng khuyến khích học tập cho sinh viên có hoàn cảnh khó khăn. Bên cạnh sự nỗ lực, phấn đấu của chúng em là sự quan tâm của các thầy cô. Thầy cô không những là người trang bị kiến thức, kỹ năng mà còn là chỗ dựa tinh thần, là tấm gương sáng về đạo đức, nhân cách cho mỗi sinh viên chúng em.”</i> </p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b><img style="margin: 5px;" alt="dtkd" width="100%"  src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd6.jpg" />Cựu Sinh viên Lê Phi Long- Khóa 1 chuyên ngành Quảng cáo và PR</b> </li>
</ul>
<p>- Đơn vị công tác: Công ty Vinamilk </p>
<p>- Bộ phận: Phòng kinh doanh </p>
<p>- Vị trí: Giám sát nhà phân phối </p>
<p><i> </i><i>“Quảng cáo, quan hệ công chúng là ngành hot ở Việt nam, cơ hội việc làm rất lớn. Vì thế, Tôi quyết định tham gia học tập và là lớp sinh viên tốt nghiệp đầu tiên của Trường. Tôi nhận thấy rằng những ai có kỹ năng giao tiếp tốt, năng động thì cơ hội thành công trong công việc lớn. Chính vì thế mà các bạn sinh viên chuyên ngành Quảng cáo và PR hãy rèn luyện để bản thân năng động hơn, tự tin hơn và điều đó sẽ giúp các bạn rất nhiều trong công việc sau này.”</i> </p>
<img style="margin: 5px;" alt="dtkd" width="100%"  src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd7.jpg" />
<p><b>Cựu sinh viên </b><b>Nguyễn Thành Nguyên-Khóa 2 chuyên ngành Quảng cáo và PR </b> </p>
<p>-Nơi công tác: Công ty TNHH Tổ chức sự kiện P&amp;Q </p>
<p>- Địa chỉ: 274 Cống Quỳnh, Quận 1, TP Hồ Chí Minh. </p>
<p>-Vị trí: Quản lý dự án </p>
<p><i> “Đẳng cấp của mỗi công ty thể hiện ở chính sự hoàn hảo trong từng tiểu tiết ở mỗi sự kiện họ tổ chức. Người tổ chức sự kiện giỏi chắc chắn không thể thiếu những tố chất như: óc tổ chức tốt, năng động, nhanh nhẹn, kiên nhẫn, có khả năng thiết lập mối quan hệ tốt, có khả năng làm việc theo nhóm, có sức khỏe và niềm đam mê. Nghề tổ chức sự kiện là nghề đòi hỏi người thực hiện cực kỳ bền sức và chịu được áp lực cao, biết cách xoay xở và ứng phó trong mọi tình huống. Rất may mắn những điều này tôi đã có được khi còn là sinh viên ngành Quảng cáo và Quan hệ công chúng tại Khoa Thương mại điện tử-Trường Việt Hàn.” </i> </p>
<p><b>III. Chuyên ngành Thương mại điện tử:</b> </p>
<p><b>1. Thương mại điện tử </b><b>là gì?</b> </p>
<img style="margin: 5px;" alt="dtkd" width="100%"  src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd8.jpg" />
<p>ebay.com</a>,.... rất nhiều những trang web thương mại điện tử được thành lập mỗi ngày. Thương mại điện tử có những ưu điểm vượt trội so với thương mại truyền thống, mang lại nhiều lợi ích không chỉ cho người bán mà còn cho cả người mua. </p>
<p>Ngày nay, Thương mại điện tử phát triển mạnh mẽ bởi tốc độ sử dụng Internet của người dùng cùng với nhiều công nghệ hiện đại ra đời. Con người ngày càng ưa thích giao dịch dưới hình thức này bởi những thuận lợi mà nó mang lại. Kinh doanh hiện nay và trong tương lai sẽ chuyển dần sang online và chiếm phần lớn doanh thu cũng như thị phần của các ngành nghề kinh doanh. </p>
<p><b>2. Chương trình đào tạo chuyên ngành Thương mại điện tử - Trường Cao đẳng CNTT Hữu Nghị Việt – Hàn</b> </p>
<img style="margin: 5px;" alt="dtkd" width="100%"  src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd9.jpg" />
<p><i>Sinh viên chuyên ngành Thương mại điện tử, tham gia tiết học chữ ký điện tử</i></p>
<p>Chương trình đào tạo chuyên ngành Thương mại điện tử tại trường Cao đẳng CNTT Hữu Nghị Việt – Hàn được các giáo sư Hàn Quốc tư vấn và thiết kế xây dựng theo chương trình đào tạo tiên tiến của Hàn Quốc, nhằm cung cấp cho sinh viên những kiến thức chuyên sâu, những thành tựu mới nhất của ngành Thương mại điện tử. </p>
<p>Sinh viên sau khi tốt nghiệp chuyên ngành Thương mại điện tử bậc Cao đẳng, được trang bị đầy đủ các kiến thức và kỹ năng cho người kinh doanh trong môi trường truyền thống và môi trường trực tuyến, như: các kiến thức cần thiết về công nghệ thông tin - truyền thông; kiến thức chuyên sâu quản trị kinh doanh của doanh nghiệp Thương mại điện tử; kỹ năng hoạch định và triển khai chiến lược Marketing, mua bán trực tuyến; kỹ năng thiết kế và quản trị Website Thương mại điện tử; triển khai các hoạt động tác nghiệp trong doanh nghiệp ứng dụng thương mại điện tử; sử dụng và khai &nbsp;thác các phần mềm tác nghiệp thương mại điện tử phổ biến; nâng cao về sử dụng các phần mềm tin học thông dụng và các công cụ của mạng Internet; kỹ năng làm việc nhóm, kỹ năng thuyết trình, kỹ năng giao tiếp;… </p>
<img style="margin: 5px;" alt="dtkd" width="100%"  src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd10.jpg" />
<p><i>Sinh viên chuyên ngành Thương mại điện tử đang tham gia tiết học kinh doanh qua Internet</i></p>
<p>Các học phần chuyên ngành tiêu biểu: Thương mại điện tử; Marketing; kinh doanh điện tử; thiết kế website; xây dựng website thương mại điện tử; phân tích và thiết kế hệ thống thông tin; phần mềm hoạch định nguồn lực doanh nghiệp; kỹ năng giao tiếp;... </p>
<p><b>3. Cơ hội và vị trí làm việc sau tốt nghiệp của chuyên ngành Thương mại điện tử</b> </p>
<p>Sau khi tốt nghiệp, sinh viên chuyên ngành Thương mại Điện tử có đủ kiến thức và khả năng làm việc tại: phòng kinh doanh, phòng Marketing, bộ phận bán hàng, bộ phận quản lý nhân sự, bộ phận chăm sóc khách hàng, bộ phận công nghệ thông tin của các doanh nghiệp thuộc mọi thành phần kinh tế. </p>
<p>Các vị trí có thể đảm đương sau khi tốt nghiệp: chuyên viên quản lý và điều hành kinh doanh qua Internet; chuyên viên xây dựng và thiết kế các Website Thương mại điện tử; chuyên viên mở rộng thị trường Internet; chuyên viên quảng bá-truyền thông Internet; chuyên viên quản lý dự án Công nghệ thông tin; chuyên viên sử dụng hệ thống Công nghệ thông tin phục vụ quản lý, điều hành, kinh doanh cho các tổ chức, doanh nghiệp từ kinh doanh truyền thống đến kinh doanh điện tử,… </p>
<p><b>4. Những lý do chọn chuyên ngành Thương mại điện tử</b> </p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b>Sự quan tâm của Đảng, Nhà nước và Chính phủ: </b> </li>
</ul>
<p>Việc Thủ tướng Chính phủ vừa ban hành Quyết định số 689/QĐ-TTg ngày 11 tháng 5 năm 2014 phê duyệt Chương trình phát triển Thương mại điện tử quốc gia giai đoạn 2014 - 2020. Với “Mục tiêu chung của Chương trình là xây dựng các hạ tầng cơ bản và triển khai các giải pháp, hoạt động hỗ trợ phát triển lĩnh vực Thương mại điện tử ở Việt nam, đưa Thương mại điện tử trở thành hoạt động phổ biến, góp phần nâng cao năng lực cạnh tranh của các Doanh nghiệp và năng lực cạnh tranh quốc gia, thúc đẩy quá trình công nghiệp hóa, hiện đại hóa đất nước”. Đây là cơ hội việc làm rất lớn của sinh viên sau khi tốt nghiệp chuyên ngành này.<b>&nbsp;</b> </p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b>Thương mại điện tử – Xu thế của phương thức kinh doanh mới </b> </li>
</ul>
<img style="margin: 5px;" alt="dtkd" width="100%"  src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd11.jpg" />
<p><i>Câu nói nổi tiến của Bill Gates về Thương mại điện tử</i></p>
<p>Thương mại điện tử không chỉ mở ra những cơ hội kinh doanh mới, những sản phẩm và dịch vụ mới, những ngành nghề kinh doanh mới mà bản thân nó thực sự là một phương thức kinh doanh mới. Đó là, phương thức kinh doanh điện tử. Thương mại điện tử chuyển hoá các chức năng kinh doanh, từ nghiên cứu thị trường và sản xuất sản phẩm đến bán hàng, dịch vụ sau bán hàng từ phương thức kinh doanh truyền thống đến phương thức kinh doanh điện tử. Nhiều chuyên gia dự đoán, trong năm 2015 và các năm về sau, Thương mại điện tử sẽ là xu thế kinh doanh của tất cả Doanh nghiệp. </p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b>Cơ hội việc làm và thu nhập cao </b> </li>
</ul>
<p> Trong thời kỳ bùng nổ Internet như hiện nay, nhu cầu về nhân lực Thương mại điện tử của các doanh nghiệp rất lớn. Theo xu hướng chung, ít nhất mỗi doanh nghiệp phải có một người phụ trách công việc Thương mại điện tử. Vì vậy, sinh viên chuyên ngành Thương mại điện tử sau khi tốt nghiệp cũng không quá khó khăn để tìm được một công việc đúng ngành học và phù hợp. Cơ hội luôn rộng mở trước mắt.  </p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"><b>Được đáp ứng điều kiện tốt trong sinh hoạt, học tập và cơ hội học liên thông bậc Đại học ngay sau khi tốt nghiệp</b> </li>
</ul>
<p>Trường Cao đẳng CNTT Hữu nghị Việt Hàn là trường công lập, được thành lập dưới sự giúp đỡ của chính phủ Hàn quốc. Đến với ngành Quản trị Kinh doanh, chuyên ngành Thương mại Điện tử, sinh viên sẽ được trải nghiệm chương trình đào tạo tiên tiến của Hàn quốc, với cơ sở vật chất khang trang hiện đại, thầy cô có chuyên môn tốt, nhiệt tình. Sinh viên đóng học phí công lập và thụ hưởng đầy đủ các chính sách hỗ trợ theo quy định của nhà nước và có thể học liên thông bậc Đại học ngay sau khi tốt nghiệp. </p>
<p><b>5. Tố chất phù hợp với chuyên ngành </b><b>Thương mại điện tử</b> </p>
<p>Thương mại điện tử là một lĩnh vực chuyên sâu của ngành Quản trị kinh doanh. Đây &nbsp;là một lĩnh vực mới, dựa trên sự giao thoa và tương tác của nhiều ngành khoa học khác nhau, như: kinh tế, kinh doanh, quản trị, Marketing, công nghệ thông tin, hệ thống thông tin, luật,... Vì vậy, người theo đuổi chuyên ngành này đòi hỏi phải có sự yêu thích đối với các hoạt động quản trị kinh doanh, có khả năng kinh doanh, khả năng quản lý. Bên cạnh đó còn cần phải yêu thích Công nghệ Thông tin để ứng dụng CNTT vào Quản lý và Kinh doanh. Ngoài ra, Thương mại điện tử với đặc thù là kinh doanh toàn cầu, nên thành thạo ngoại ngữ (đặc biệt là Tiếng Anh) là một đòi hỏi cần thiết cho chuyên ngành này. </p>
<p><b>6. Một số gương mặt cựu sinh viên của </b><b>chuyên ngành Thương mại điện tử</b> </p>
<img style="margin: 5px;" alt="dtkd" width="100%"  src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd12.jpg" />
<p><i>Cựu sinh viên Đào Văn Ánh- Khóa 1 chuyên ngành Thương mại Điện tử </i></p>
<p>- Nơi công tác: Công ty Nhà thép tiền chế PEB </p>
<p>- Vị trí: Giám sát công trường </p>
<p><i>“Theo học ngành Quản trị kinh doanh, chuyên ngành Thương mại điện tử các bạn sinh viên sẽ được trang bị các kiến thức nền tảng liên quan đến lĩnh vực kinh tế, thị trường,&nbsp;môi trường kinh doanh,... Vào chuyên ngành, các bạn sinh viên được cung cấp kiến thức, kỹ năng về phân tích, dự đoán, quản lý và xây dựng kế hoạch, chiến lược kinh doanh trong môi trường truyền thống và trực tuyến.&nbsp;Hiện nay, Tôi đang là một chuyên viên giám sát công trình, vị trí này đòi hỏi người giám sát phải có năng lực khoa học quản trị và nghệ thuật quản trị, cũng như sử dụng công nghệ thông tin trong lập và quản lý dự án. Những kỹ năng này tôi đã có được khi tham gia học ngành Quản trị kinh doanh tại Trường Việt Hàn”</i> </p>
<img style="margin: 5px;" alt="dtkd" width="100%"  src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd13.jpg" />
<p><i>Cựu sinh viên Nguyễn Thị Thanh Tâm-Khóa 1 chuyên ngành Thương mại Điện tử</i></p>
<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nơi công tác: Công ty CP Ô tô Trường Hải </p>
<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Vị trí: Trợ lý kinh doanh </p>
<p><i>“Với công việc Trợ lý kinh doanh, đòi hỏi tôi phải nắm kiến thức rất rộng. Đặc biệt, các phương thức kinh doanh trên Internet, như: giao dịch, mua bán, thanh toán, đặt hàng, quảng cáo và kể cả giao hàng. Những công việc đó hiện nay tôi đảm nhận khá tốt. Điều này là may mắn, những kỹ năng này tôi được đào tạo ở chuyên ngành Thương mại điện tử.”</i> </p>
<img style="margin: 5px;" alt="dtkd" width="100%"  src="http://www.viethanit.edu.vn/images/stories/tuyensinh/dtkd14.jpg" />
<p><i>Cựu sinh viên Đinh Thị Thanh Huyền-Khóa 3 chuyên ngành Thương mại Điện tử</i></p>

<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nơi công tác: Công ty Eurowindow Hà Nội </p>
<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Vị trí: Nhân viên kiểm soát kế hoạch </p>
<p><i>“Là một trong những nhân viên kiểm soát kế hoạch từ những ngày đầu mới làm việc, với kinh nghiệm của mình tôi không chỉ làm kiểm soát kế hoạch, mà còn tư vấn chiến lược việc lập và kiểm soát kế hoạch. Thu nhập của tôi đến từ những nguồn này cũng giúp tôi và gia đình đủ trang trải cuộc sống. Cùng với các kiến thức quản trị kinh doanh, các kỹ năng về Công nghệ thông tin trong thời gian học chuyên ngành Thương mại điện tử tại trường Việt Hàn, tôi dễ dàng sử dụng công cụ Internet như người bạn hỗ trợ trong công việc hằng ngày.”</i><i>&nbsp;</i> </p>
<p><b>7. Xét tuyển Ngành Quản trị kinh doanh (chuyên ngành Thương mại điện tử và chuyên ngành Quảng cáo và Quan hệ công chúng)</b><b></b> </p>
{% include tuyensinh/admission_footer.html %}
<p>Nộp hồ sơ trực tiếp tại Phòng Đào tạo hoặc chuyển phát nhanh qua đường bưu điện theo địa chỉ: </p>
<p><b>Phòng Đào tạo - Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn</b> </p>
<p><b>Số 136 Đường Trần Đại Nghĩa, Quận Ngũ Hành Sơn - Thành phố Đà Nẵng</b> </p>
<span style="font-size: 10pt; font-family: arial, helvetica, sans-serif;"> <b>Điện thoại: 0511.3962888;&nbsp; Website: </b><a href="http://www.viethanit.edu.vn/"><b>www.viethanit.edu.vn</b></a></span>

                    </div>


                </div>

            </div>
        </div>
