---
layout: default
title: Ngành công nghệ kỹ thuật kiến trúc | Tuyển sinh 2016
header_css: no-banner
major: kt
---

        {% include major_breadcrumb.html %}

        <div class="container sc-main">
            <div class="row">
                <div class="col-md-4">
                    {% include admission_card.html %}
                </div>

                <div class="col-md-8">
                    <div class="block_component">
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>1. </b><b>Tổng quan về Ngành Công nghệ kỹ thuật Kiến trúc -&nbsp;Trường cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn</b></span><ol> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Ngành Công nghệ kỹ thuật Kiến trúc là ngành học nhằm trang bị cho sinh viên kỹ năng sử dụng các phần mềm đồ họa ứng dụng và những hiểu biết để có thể cảm thụ nghệ thuật, tư duy thẩm mỹ, thiết kế kỹ thuật liên quan đến công việc thiết kế kiến trúc, nội thất công trình.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Sinh viên tốt nghiệp ngành học này sẽ trở thành họa viên kiến trúc triển khai các bản vẽ kiến trúc dưới sự chủ trì của các Kiến trúc sư hoặc các CIO(Chief Information Office) xây dựng chiến lược chính sách, kế hoạch ứng dụng CNTT trong lĩnh vực kiến trúc, xây dựng...</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Chương trình đào tạo Ngành Công nghệ kỹ thuật Kiến trúc - Trường Cao đẳng công nghệ thông tin Hữu nghị Việt - Hàn được kết hợp với chương trình đào tạo tiên tiến của Hàn Quốc.</span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>2. </b><b>Chương trình đào tạo</b></span><ol style="text-align: justify;"> </ol>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i>Các học phần thuộc khối Kiến thức cơ sở ngành gồm:</i></b> Hình học họa hình; Lý thuyết màu và trộn màu; Vẽ kiến trúc;AutoCAD; Vật lý kiến trúc; Kiến trúc dân dụng; Cấu tạo kiến trúc...</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i>Các học phần thuộc khối Kiến thức chuyên ngành gồm:</i></b> Hình thể và không gian; Mô hình kiến trúc; 3D StudioMax;Revit; Sketch-up;Photoshop; Đồ án cấu tạo kiến trúc; Đồ án kiến trúc dân dụng; Đồ án thiết kế nội thất; Cơ học và kết cấu công trình;Hệ thống tiện nghi công trình; Qui hoạch đô thị; Vật liệu xây dựng; Kỹ thuật thi công; Thiết kế nội thất...</span></p>
<p style="text-align: center;" align="center"> </p>
<p style="text-align: center;" align="center"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/kientruc/image001.jpg" height="NaN" width="100%" /></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Một góc trưng bày sản phẩm của sinh viên trong triễn lãm thiết kế ứng dụng năm 2014</i></span></p>
<p style="text-align: center;" align="center"> </p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/kientruc/image002.jpg" height="NaN" width="100%" /></i></span></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Mô hình kiến trúc tổng thể Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn (theo dự án nâng cấp trường lên Đại học) được thực hiện bởi sinh viên ngành Công nghệ kỹ thuật Kiến trúc</i></span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>3. </b><b>Mục tiêu đào tạo</b></span><ol style="text-align: justify;"> </ol>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Về kiến thức</b></span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Nắm vững các kiến thức cơ bản về khoa học xã hội và nhân văn trong khung chương trình dành cho khối các ngành khoa học xã hội nhân văn và nghệ thuật;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Nắm được các nguyên lý cơ bản và biết áp dụng các kiến thức kỹ thuật cơ sở, chuyên ngành vào chuyên môn của ngành kiến trúc công trình;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Thiết kế kiến trúc được các công trình thông dụng, quy mô vừa và nhỏ;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Biết phân tích, đánh giá phương án thiết kế kiến trúc của các công trình kiến trúc dân dụng;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">-&nbsp;Triển khai hồ sơ thiết kế các công trình kiến trúc dân dụng;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Thiết kế cấu tạo được các bộ phận thông dụng của một hạng mục, công trình xây dựng dân dụng;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Nắm được nguyên lý thiết kế tính toán và kiểm tra các hệ kết cấu xây dựng dân dụng thông dụng, đơn giản dùng vật liệu bê tông cốt thép.Đảm bảo đủ kiến thức để tiếp tục học tập liên thông ở bậc đào tạo cao hơn.</span></p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Về kỹ năng</b></span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Sử dụng thành thạo các phần mềm đồ họa ứng dụng như: AUTOCAD, 3DSMAX, SKETCH - UP, REVIT, PHOTOSHOP để thể hiện các bản vẽ trong hồ sơ thiết kế;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Kỹ năng đọc, hiểu, triển khai và thể hiện các bản vẽ kỹ thuật công trình xây dựng dân dụng thông dụng, đơn giản;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Kỹ năng diễn họa một đồ án thiết kế kiến trúc bằng các phần mềm đồ họa chuyên ngành;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Kỹ năng làm việc theo nhóm khi thiết kế, triển khai và hướng dẫn họa viên triển khai bản vẽ thiết kế các công trình dân dụng;</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Kỹ năng làm mô hình kiến trúc thủ công và sử dụng máy cắt laser.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><br /></span></p>
<p style="text-align: center;"><img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/kientruc/image003.jpg" height="NaN" width="100%" /></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Đồ án tốt nghiệp của sinh viên Phạm Hồ Chư khóa 2011-2014</i></span></p>
<p style="text-align: center;">&nbsp;<img alt="image001" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/kientruc/image004.jpg" height="NaN" width="100%" /></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Giờ thực hành Mô hình kiến trúc và học phần 3Dstudio Max của sinh viên khóa 2013-2016</i></span></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i><br /></i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Ngoài các kỹ năng trên sinh viên tốt nghiệp còn có khả năng tham gia hoạt động nghiên cứu khoa học, phân tích, đánh giá các công trình thực tế, làm việc nhóm, giao tiếp, thuyết trình và soạn thảo văn bản.&nbsp;Đạt trình độ tiếng Anh mức A2 (theo khung tham chiếu Châu Âu); có khả năng sử dụng tiếng Anh trong giao tiếp, tham khảo tài liệu chuyên ngành.</span></p>
<p style="text-align: center;"> </p>
<p style="text-align: center;"><span style="text-decoration: underline;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><img alt="image005" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/kientruc/image005.jpg" height="436" width="962" /></span></span></p>
<p style="text-align: center;"><span style="text-decoration: underline;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></span></p>
<p style="text-align: center;"><span style="text-decoration: underline;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></span></p>
<p style="text-align: center;"><span style="text-decoration: underline;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></span></p>
<p style="text-align: center;"><span style="text-decoration: underline;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></span></p>
<p style="text-align: center;"><span style="text-decoration: underline;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></span></p>
<p style="text-align: center;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Chuyến thực tế của sinh viên khóa 2012-2015 tại Thánh địa Mỹ Sơn năm 2014</i></span></p>
<p style="text-align: center;"> </p>
<p style="text-align: center;"><img alt="image005" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/kientruc/image009.jpg" height="NaN" width="100%" /></p>
<p style="text-align: center;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></p>
<p style="text-align: center;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></p>
<p style="text-align: center;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></p>
<p style="text-align: center;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></p>
<p style="text-align: center;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>Hội thảo Kiến trúc và đô thị Nhật Bản cùng GS Ishikawa Tsuneo của Đại học công nghệ Maeashi, Nhật Bản,năm 2014</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i><span style="text-decoration: underline;"><br /></span></i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>4. </b><b>Cơ hội phát triển nghề nghiệp và vị trí làm việc sau tốt nghiệp</b></span><ol style="text-align: justify;"> </ol>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Vị trí làm việc</b></span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Sau khi tốt nghiệp cao đẳng Ngành Công nghệ kỹ thuật Kiến trúc sinh viên có thể đảm đương các chức danh sau:</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- CIO (Chief Information Office) xây dựng chiến lược, chính sách, kế hoạch ứng dụng CNTT vào lĩnh vực kiến trúc xây dựng tại các công ty Kiến trúc xây dựng.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Họa viên kiến trúc triển khai các bản vẽ thiết kế kiến trúc (2D &amp; 3D) dưới sự chủ trì của KTS.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Nhân viên thiết kế các dự án hoặc các hạng mục xây dựng có quy mô vừa &amp; nhỏ</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Thành lập và điều hành hoạt động công ty với chức năng “gia công” bản vẽ thiết kế cho các công ty kiến trúc trên toàn cầu.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Chuyên viên ở các ban quản lý dự án, các sở, phòng quản lý đô thị, kiến trúc, xây dựng, cơ sở hạ tầng, giao thông vận tải...</span></p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Cơ hội phát triển</b></span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Sinh viên tốt nghiệp có thể học liên thông lên đại học tại các trường đại học trong và ngoài nước.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Sinh viên có thể học thêm ngành thứ 2 phù hợp với ngành đào tạo.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Có khả năng tự học để thích ứng với môi trường làm việc và khả năng học tập suốt đời.</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Giới thiệu về vị trí làm việc sau khi tốt nghiệp ngành Công nghệ kỹ thuật Kiến trúc và cơ hội phát triển nghề nghiệp của 1 vài sinh viên tiêu biểu </b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><img style="margin: 5px; float: left;" alt="image006" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/kientruc/image006.jpg" height="232" width="155" /></b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i> </i></span></p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i>Nguyễn Minh Anh – cựu sinh viên khóa 2 ngành Công nghệ kỹ thuật Kiến trúc</i></b></span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>- Năm 2011: Họa viên kiến trúc tại công ty tư vấn thiết kế Nhẫn Đạt, KDC Bình Lợi, Bình Thạnh, Thành phố Hồ Chí Minh </i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>- Năm 2013 đến nay: Chuyên viên Thiết kế Kiến trúc - tham gia thiết kế các dự án Bất động sản vừa và nhỏ trên cả nước</i></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;"><img style="margin: 5px; float: left;" alt="image007" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/kientruc/image007.jpg" height="155" width="155" /></p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i>Lê Bích Ngọc, cựu sinh viên khóa 1 ngành Công nghệ kỹ thuật Kiến trúc</i></b></span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>- Năm 2011 đến nay: Cán bộ kỹ thuật Ban Quản lý Dự án Đầu tư &amp; Xây dựng thị xã Quảng Trị, tỉnh Quảng Trị</i></span></p>
<p style="text-align: justify;"> </p>
<p style="text-align: justify;">&nbsp;<img style="margin: 5px; float: left;" alt="image008" src="http://www.viethanit.edu.vn/images/stories/tuyensinh/kientruc/image008.jpg" height="189" width="155" /></p>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b><i>Đinh Tuyên Hoàng, cựu sinh viên khóa 3 ngành Công nghệ kỹ thuật Kiến trúc</i></b></span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>- Năm 2012- 2014: Họa viên tại công ty Tư vấn thiết kế TiTan, số 42 Nguyễn Văn Trỗi, thành phố Hồ Chí Minh</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>- Năm 2012: Học liên thông chuyên ngành Thiết kế nội thất tại Đại học Công nghệ Sài Gòn</i></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><i>- Năm 2014- nay: Nhân viên Thiết kế nội thất tại công ty Tư vấn thiết kế TiTan </i></span></p>
<p style="text-align: justify;"> </p>
<ol style="text-align: justify;"> </ol><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>5. </b><b> Xét tuyển ngành Công nghệ kỹ thuật kiến trúc</b></span><ol style="text-align: justify;"> </ol>
<ul style="text-align: justify;">
    <li><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Hình thức, thời gian và các môn xét tuyển </b></span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Trong năm 2015, Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn tuyển sinh Ngành Công nghệ kỹ thuật Kiến trúc theo 2 phương thức:</span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>- Phương thức 1:</b> Tổ chức xét tuyển dựa trên kết quả kỳ thi THPT quốc gia theo phương án do Bộ Giáo dục và Đào tạo quy định gồm 3 tổ hợp: Toán, Vật lý, Hóa học (A00); Toán, Vật lý, Anh văn (A01); Toán, Ngữ văn, Anh văn (D01)<b> </b></span></p>
<div style="text-align: center;" align="center">
    <table border="1" cellpadding="0" cellspacing="0" width="450">
        <tbody>
            <tr>
                <td width="26">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>TT</b></span></p>
                </td>
                <td width="178">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Đ</b><b>ợt xét</b></span></p>
                </td>
                <td width="162">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Th</b><b>ời gian nhận hồ sơ</b></span></p>
                </td>
                <td width="84">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Nhập học</b></span></p>
                </td>
            </tr>
            <tr>
                <td width="26">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">1</span></p>
                </td>
                <td width="178">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Nguyện vọng 1</span></p>
                </td>
                <td width="162">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">01/08/15 đến 20/08/15</span></p>
                </td>
                <td width="84">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">03/09/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="26">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">2</span></p>
                </td>
                <td width="178">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Nguyện vọng bổ sung đợt 1</span></p>
                </td>
                <td width="162">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">25/08/15 đến 15/09/15</span></p>
                </td>
                <td width="84">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">18/09/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="26">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">3</span></p>
                </td>
                <td width="178">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Nguyện vọng bổ sung đợt 2</span></p>
                </td>
                <td width="162">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">20/09/15 đến 05/10/15</span></p>
                </td>
                <td width="84">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">09/10/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="26">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">4</span></p>
                </td>
                <td width="178">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Nguyện vọng bổ sung đợt 3</span></p>
                </td>
                <td width="162">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">10/10/15 đến 25/10/15</span></p>
                </td>
                <td width="84">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">30/10/15</span></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p style="text-align: center;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b> </b></span></p>
<p style="text-align: justify;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>- Phương thức 2:</b> Xét tuyển dựa vào kết quả học tập bậc trung học phổ thông: Xét kết quả học tập của 3 môn học trong 3 năm học THPT (căn cứ theo học bạ) 3 tổ hợp: Toán, Vật lý, Hóa học (A00); Toán, Vật lý, Anh văn (A01); Toán, Ngữ văn, Anh văn (D01)</span></p>
<div style="text-align: center;" align="center">
    <table border="1" cellpadding="0" cellspacing="0" width="415">
        <tbody>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>TT</b></span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Đ</b><b>ợt xét</b></span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Th</b><b>ời gian nhận hồ sơ</b></span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Nhập học</b></span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">1</span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Đợt 1</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">05/07/15 đến 20/08/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">03/09/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">2</span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Đợt 2</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">21/08/15 đến 15/09/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">18/09/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">3</span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Đợt 3</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">16/09/15 đến 05/10/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">09/10/15</span></p>
                </td>
            </tr>
            <tr>
                <td width="38">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">4</span></p>
                </td>
                <td width="97">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">Đợt 4</span></p>
                </td>
                <td width="185">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">06/10/15 đến 25/10/15</span></p>
                </td>
                <td width="95">
                    <p align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">30/10/15</span></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p style="text-align: center;"> </p>
<p style="text-align: center;"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">- Nộp hồ sơ trực tiếp tại Phòng Đào tạo hoặc chuyển phát nhanh qua đường bưu điện theo địa chỉ:</span></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Phòng Đào tạo - Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn</b></span></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>136 Đường Trần Đại Nghĩa, Quận Ngũ Hành Sơn - Thành phố Đà Nẵng</b></span></p>
<p style="text-align: center;" align="center"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;"><b>Điện thoại: 0511.3962888; Website: </b><a href="http://www.viethanit.edu.vn"><b>www.viethanit.edu.vn</b></a></span></p>

                    </div>


                </div>

            </div>
        </div>
