---
layout: tuyensinh
title: Thông tin tuyển sinh | Tuyển sinh 2017
header_css: no-banner
---

<div class="container sc-breadcrumb">
    <div>
        <ol class="breadcrumb">
            <li><a href="/tuyensinh/index.html">Trang tuyển sinh 2017</a></li>
            <li class="active">Thông tin tuyển sinh 2017</li>
        </ol>
    </div>
</div>

<div class="container sc-main">
    <div class="row">
        <div class="col-md-4">
            <div class="block_component admission_card">
                <a href="dkxt_online.html" class="btn btn-danger btn-lg btn-block">Đăng ký xét tuyển trực tuyến</a>
            </div>
        </div>

        <div class="col-md-8">
            <div class="block_component">
                <p class="alert alert-info">Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt - Hàn công bố phương án tuyển sinh năm 2017 như sau</p>
                <h3>Phương thức tuyển sinh</h3>
                <p>
                    Trong năm 2017, Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn tuyển sinh 1.200 chỉ tiêu hệ Cao đẳng và Trung cấp theo phương thức:
                </p>
                <ul>
                    <li>Đối với trình độ cao đẳng: xét tuyển dựa vào kết quả học tập THPT.</li>
                    <li>Đối với trình độ trung cấp: xét tuyển dựa vào kết quả học tập THCS/THPT.</li>
                </ul>
                <h3>Ngành nghề xét tuyển</h3>
		        <h4>Cao đẳng</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã</th>
                            <th>Tên ngành</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for major in site.data.tuyensinh.nganh_cd_2017 %}
                        <tr>
                            <th scope="row">{{ forloop.index }}</th>
                            <td>{{ major[1].code }}</td>
                            <td>{{ major[1].title }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h4>Trung cấp</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã</th>
                            <th>Tên ngành</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for major in site.data.tuyensinh.nganh_tc_2017 %}
                        <tr>
                            <th scope="row">{{ forloop.index }}</th>
                            <td>{{ major[1].code }}</td>
                            <td>{{ major[1].title }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h3>Đối tượng tuyển sinh</h3>
                <ul>
                    <li>Đối với trình độ cao đẳng: học sinh đã tốt nghiệp THPT và tương đương trở lên.</li>
                    <li>Đối với trình độ trung cấp: học sinh đã tốt nghiệp THCS và tương đương trở lên.</li>
                </ul>
                <h3>Thời gian tuyển sinh</h3>
                <ul>
                    <li>Đợt 1: Tháng 3 - tháng 4.</li>
                    <li>Đợt 2: Tháng 7 - tháng 8.</li>
                    <li>Đợt 3: Tháng 11 - tháng 12.</li>
                </ul>
                <h3>Hồ sơ dự tuyển</h3>
                <ul>
                    <li>Phiếu đăng ký dự tuyển theo mẫu của Trường phát hành (<a href="/tuyensinh/data/Mau xet tuyen_CDVH_2017.doc">Thí sinh nhận phiếu đăng ký dự tuyển tại Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn hoặc tải về từ đây</a>).</li>
                    <li>Bản sao có công chứng Bằng tốt nghiệp THPT hoặc giấy chứng nhận tốt nghiệp tạm thời hoặc bằng tốt nghiệp THCS;</li>
                    <li>Bản sao có công chứng Học bạ THPT/bổ túc THPT hoặc tương đương;</li>
                    <li>Giấy chứng nhận đối tượng ưu tiên (nếu có);</li>
                    <li>02 phong bì dán tem ghi rõ họ tên, điạ chỉ đầy đủ của thí sinh gồm số nhà, đường, khu phố, phường/xã, quận/huyện/thị xã, tỉnh/thành phố để trường gửi kết quả xét tuyển/Giấy báo nhập học.</li>
                </ul>
                <h3>Lệ phí xét tuyển</h3>
                <p>30.000 ngàn đồng</p>
                <h3>Chính sách học bổng</h3>
                <p>Cấp học bổng hỗ trợ học tập học kỳ đầu tiên cho các sinh viên có hộ khẩu thường trú tại khu vực 1, khu vực 2 nông thôn và khu vực 2 (không tính học phần Giáo dục Quốc phòng – An ninh), với các mức học bổng cụ thể như sau:</p>
                <ul>
                    <li>Sinh viên có hộ khẩu thường trú tại khu vực 1: Học bổng tương đương 75% học phí;</li>
                    <li>Sinh viên có hộ khẩu thường trú tại khu vực 2 nông thôn: Học bổng tương đương 50% học phí;</li>
                    <li>Sinh viên có hộ khẩu thường trú tại khu vực 2: Học bổng tương đương 25% học phí;</li>
                </ul>
                <h3>Địa chỉ nộp hồ sơ</h3>
                <p>Thí sinh nộp hồ sơ trực tiếp tại Phòng Đào tạo hoặc chuyển phát nhanh qua đường bưu điện theo địa chỉ:</p>
                <p class="alert alert-danger">
                    Phòng Đào tạo - Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn<br>
                    136 Trần Đại Nghĩa - Phường Hòa Quý - Quận Ngũ Hành Sơn - Thành phố Đà Nẵng<br>
                    Điện thoại: 0236.3962.888; Fax: 0236.3962.976; Email: tuyensinh@viethanit.edu.vn; Website: <a href="http://www.viethanit.edu.vn">http://www.viethanit.edu.vn</a>
                </p>
            </div>
        </div>
    </div>
</div>
