---
layout: tuyensinh
title: Tin tức | Tuyển sinh 2017
header_css: no-banner
---

        <div class="container sc-breadcrumb">
            <div>
                <ol class="breadcrumb">
                    <li><a href="index.html">Trang tuyển sinh 2017</a></li>
                    <li class="active">Tin tức</li>
                </ol>
            </div>
        </div>

        <div class="container sc-main">
            <div class="row">
                <div class="col-md-4 pull-right">
                    {% include tuyensinh/news_card.html %}
                </div>

                <div class="col-md-8 pull-left">

                    <div class="block_component">
                        <div class="questions-list">
                            {% for post in site.categories.tuyensinh %}
                            <article>
                                <h2>
                                  <a href="{{ post.url }}">{{ post.title }}</a>
                                </h2>

                                {{ post.excerpt }}
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
