
                    <div class="block_component admission_card" data-spy="affix" data-offset-top="80">
                        <p><strong>Chỉ tiêu tuyển sinh:</strong> 1200 CĐ &amp; TC (toàn quốc)</p>
                        <p><strong>Hình thức tuyển sinh:</strong></p>
                        <ul>
                            <li>Hệ cao đẳng: Xét tuyển theo kết quả học THPT</li>
                            <li>Hệ trung cấp: Xét tuyển theo kết quả học THCS/THPT</li>
                        </ul>
                        <p class="alert alert-info">Thí sinh xét tuyển ngành này bằng cách <strong><a href="dkxt_online.html">đăng ký online ngay bây giờ</a></strong> hoặc tìm hiểu thêm về <a href="thongtin_tuyensinh2017.html">thông tin tuyển sinh 2017 tại đây</a>.</p>
                        <a href="dkxt_online.html" class="btn btn-primary btn-lg btn-block">Đăng ký xét tuyển online</a>
                    </div>
