
                    <div class="block_component admission_card" data-spy="affix" data-offset-top="80">
                        <p><strong>Chỉ tiêu tuyển sinh:</strong> 1200 CĐ &amp; TC (toàn quốc)</p>
                        <p><strong>Hình thức tuyển sinh:</strong></p>
                        <ul>
                            <li>Hệ cao đẳng: Xét tuyển theo kết quả học THPT</li>
                            <li>Hệ trung cấp: Xét tuyển theo kết quả học THCS/THPT</li>
                        </ul>
                        <p class="alert alert-info">Thí sinh xét tuyển ngành này bằng cách <strong><a href="dkxt_online.html">đăng ký online ngay bây giờ</a></strong> hoặc tìm hiểu thêm về <a href="thongtin_tuyensinh2017.html">thông tin tuyển sinh 2017 tại đây</a>.</p>
                        <a href="dkxt_online.html" class="btn btn-primary btn-lg btn-block">Đăng ký xét tuyển online</a>
                        <p><br><b>Địa chỉ nộp hồ sơ</b></p>
                        <p class="alert alert-warning alert-address">
                            Địa chỉ 1:<br>
                            <strong>Phòng Đào tạo - Trường Cao đẳng CNTT Hữu nghị Việt – Hàn<br>
                            136 Trần Đại Nghĩa - Phường Hòa Quý - Quận Ngũ Hành Sơn - Thành phố Đà Nẵng</strong><br>
                            <br>
                            Địa chỉ 2:<br>
                            <strong>Văn phòng đại diện bộ Thông tin - Truyền Thông tại Miền Trung Tây Nguyên<br>
                            42 Trần Quốc Toản - Quận Hải Châu - Thành phố Đà Nẵng</strong>
                        </p>
                    </div>
