{% assign major = site.data.majors[page.major] %}
                        <p>Trong năm 2016, Trường Cao đẳng Công nghệ thông tin Hữu nghị Việt – Hàn tuyển sinh ngành {{ major.title }} theo 2 phương thức</p>
                        <table class="table table-bordered">
                            <thead style="background-color: #d9534f; color: #fff">
                                <tr>
                                    <th>PHƯƠNG THỨC TUYỂN SINH</th>
                                    <th>TỔ HỢP MÔN XÉT TUYỂN</th>
                                    <th>THỜI GIAN XÉT TUYỂN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width: 45%">
                                        <ul>
                                            <li>Phương thức 1: Xét tuyển dựa trên kết quả kỳ thi THPT quốc gia.</li>
                                            <li>Phương thức 2: Xét tuyển dựa trên kết quả học tập Trung học phổ thông.</li>
                                        </ul>
                                    </td>
                                    <td style="width: 30%">
                                        <ul>
{% if page.major == 'dt_tt' or page.major == 'khmt' or page.major == 'cntt' or page.major == 'tt_mmt' %}
                                            <li>Toán, Vật lý, Anh văn (A01)</li>
                                            <li>Ngữ văn, Toán, Vật lí (C01)</li>
                                            <li>Ngữ văn, Toán, Địa lí (C04)</li>
                                            <li>Toán, Ngữ văn, Anh văn (D01)</li>
{% else %}
                                            <li>Ngữ văn, Lịch sử, Địa lí (C00)</li>
                                            <li>Ngữ văn, Toán, Tiếng Anh (D01)</li>
                                            <li>Ngữ văn, Lịch sử, Tiếng Anh (D14)</li>
                                            <li>Ngữ văn, Địa lí, Tiếng Anh (D15)</li>
{% endif %}
                                        </ul>
                                    </td>
                                    <td>
                                        05/07/16 – 15/11/16
                                    </td>
                                </tr>
                            </tbody>
                        </table>
