                    <div class="block_component">
                        <h4>Học bổng</h4>
                        <ul>
                            <li><a href="hocbong_2017.html">Chế độ ưu đãi với sinh viên trúng tuyển TS 2017</a></li>
                            <li><a href="hocbong_hoctapchosv.html">Học bổng học tập cho sinh viên</a></li>
                            <li><a href="hocbong_td_sunny.html">Học bổng của tập đoàn Sunny</a></li>
                            <li><a href="hocbong_gs_cho.html">Học bổng của Giáo sư Cho Jae Hoon</a></li>
                            <li><a href="hocbong_gs_kim.html">Học bổng của Giáo sư Kim Jang Woon</a></li>
                        </ul>
                    </div>
