                        <nav class="main-menu">
                            <ul>
                                <li><a href="/10-nam/">Trang chủ</a></li>
                            </ul>
                        </nav>
                        <nav class="main-menu right">
                            <!-- <ul>
                                <li><a href="/cest-2017/thumoi_vietbai.html">Thư mời viết bài</a></li>
                                <li><a href="/cest-2017/guibai.html">Gửi bài</a></li>
                            </ul> -->
                        </nav>
                        <nav id="top-menu" class="top-menu for-md layer-container">
                            <ul>
                                <li><a href="/">viethanit.edu.vn</a></li>
                            </ul>
                        </nav>
