                        <nav class="main-menu">
                            <ul>
                                <li><a href="/10-nam/">Trang chủ</a></li>
                                <li><a href="/10-nam/10nam.html">Viethanit 10 Năm</a></li>
                                <li><a href="/10-nam/hoatdong.html">Hoạt động</a></li>
                                <li><a href="/10-nam/lekyniem.html">Lễ kỷ niệm</a></li>
                                <!-- <li><a href="/10-nam/kyyeu.html">Kỷ yếu</a></li> -->
                                <li><a href="/10-nam/tintuc.html">Tin tức</a></li>
                                <!-- <li><a href="/10-nam/hinhanh.html">Hình ảnh</a></li> -->
                            </ul>
                        </nav>
                        <nav class="main-menu right">
                            <ul>
                                <li><a href="/10-nam/thongtin.html">Thông tin liên hệ</a></li>
                            </ul>
                        </nav>
                        <nav id="top-menu" class="top-menu for-md layer-container">
                            <ul>
                                <li><a href="/">viethanit.edu.vn</a></li>
                                <li><a href="https://www.facebook.com/viethanicu/" target="_blank">Facebook</a></li>
                            </ul>
                        </nav>
