                        <nav class="main-menu">
                            <ul>
                                <li><a href="/aciids-2016/">Giới thiệu</a></li>
                                <li><a href="/aciids-2016/tintuc.html">Tin tức</a></li>
                                <li><a href="/aciids-2016/thongcaobaochi.html">Thông cáo báo chí</a></li>
                                <li><a href="/aciids-2016/thuvienanh.html">Thư viện ảnh</a></li>
                                <li><a href="/aciids-2016/datphong.html">Đặt phòng</a></li>
                                <li><a href="/aciids-2016/dangky-hoian.html">Đăng ký tham quan Hội An</a></li>
                            </ul>
                        </nav>
                        <nav class="main-menu right">
                            <ul>
                                <li><a href="/aciids-2016/{{ page.link_en }}">English</a></li>
                                <li><a href="https://aciids.pwr.edu.pl/">Web chính thức</a></li>
                            </ul>
                        </nav>
                        <nav id="top-menu" class="top-menu for-md layer-container">
                            <ul>
                                <li><a href="/">viethanit.edu.vn</a></li>
                            </ul>
                        </nav>
