                        <nav class="main-menu">
                            <ul>
                                <li><a href="/aciids-2016/en">About ACIIDS</a></li>
                                <li><a href="/aciids-2016/en/news.html">News</a></li>
                                <li><a href="/aciids-2016/en/pressrelease.html">Press Release</a></li>
                                <li><a href="/aciids-2016/en/gallery.html">Gallery</a></li>
                                <li><a href="/aciids-2016/en/booking.html">Booking</a></li>
                                <li><a href="/aciids-2016/en/hoian-registration.html">Hoian Tour Registration</a></li>
                            </ul>
                        </nav>
                        <nav class="main-menu right">
                            <ul>
                                <li><a href="/aciids-2016/{{ page.link_vi }}">Tiếng Việt</a></li>
                                <li><a href="https://aciids.pwr.edu.pl/">Official Website</a></li>
                            </ul>
                        </nav>
                        <nav id="top-menu" class="top-menu for-md layer-container">
                            <ul>
                                <li><a href="/en">viethanit.edu.vn</a></li>
                            </ul>
                        </nav>
