                        <nav class="main-menu">
                            <ul>
                                <li><a href="/cest-2017/">Giới thiệu</a></li>
                                <li><a href="/cest-2017/hoidong.html">Hội đồng</a></li>
                                <li><a href="/cest-2017/thoigian.html">Thời gian</a></li>
                                <li><a href="/cest-2017/chude.html">Chủ đề</a></li>
                                <li><a href="/cest-2017/chuongtrinh.html">Chương trình</a></li>
                            </ul>
                        </nav>
                        <nav class="main-menu right">
                            <ul>
                                <li><a href="/cest-2017/guibai.html">Gửi bài</a></li>
                            </ul>
                        </nav>
                        <nav id="top-menu" class="top-menu for-md layer-container">
                            <ul>
                                <li><a href="/">viethanit.edu.vn</a></li>
                            </ul>
                        </nav>
