
                        <nav class="main-menu">
                            <ul>
                                <li>
                                    <a href="#">Giới thiệu</a>
                                    <!-- <div class="menu-panel">
                                        <div style="width: 20%">
                                            <ul>
                                                <li><a href="">Lịch sử hình thành</a></li>
                                                <li><a href="">Sứ mệnh</a></li>
                                                <li><a href="">Chiến lược phát triển</a></li>
                                            </ul>
                                        </div>
                                        <div style="width: 20%">
                                            <ul>
                                                <li><a href="">Ban giám hiệu</a></li>
                                                <li><a href="">Khoa đào tạo</a></li>
                                                <li><a href="">Trung tâm và phòng ban</a></li>
                                            </ul>
                                        </div>
                                        <div style="width: 20%">
                                            <ul>
                                                <li><a href="">Ban giám hiệu</a></li>
                                                <li><a href="">Khoa đào tạo</a></li>
                                                <li><a href="">Trung tâm và phòng ban</a></li>
                                            </ul>
                                        </div>
                                    </div> -->
                                </li>
                                <li><a href="#">Đào tạo</a>
                                    <!-- <div class="menu-panel for-education">
                                        <div style="width: 25%">
                                            <ul>
                                                <li><a href="">Tuyển sinh 2016</a></li>
                                                <li><a href="">Ngành đào tạo</a></li>
                                                <li><a href="">Chuẩn đầu ra</a></li>
                                            </ul>
                                        </div>
                                        <div style="width: 25%">
                                            <ul>
                                                <li><a href="">Cơ sở vật chất</a></li>
                                                <li><a href="">Học bổng</a></li>
                                                <li><a href="">Trung tâm và phòng ban</a></li>
                                            </ul>
                                        </div>
                                        <div style="width: 25%">
                                            <ul>
                                                <li><a href="">Khoa Công nghệ Điện tử - Viễn thông</a></li>
                                                <li><a href="">Khoa Công nghệ Điện tử - Viễn thông</a></li>
                                                <li><a href="">Khoa Công nghệ Điện tử - Viễn thông</a></li>
                                            </ul>
                                        </div>
                                        <div style="width: 25%">
                                            <ul>
                                                <li><a href="">Các khóa đào tạo ngắn hạn</a></li>
                                                <li><a href="">Hồ sơ năng lực</a></li>
                                            </ul>
                                        </div>
                                    </div> -->
                                </li>
                                <li><a href="#">Nghiên cứu</a>
                                    <!-- <div class="menu-panel for-coop">
                                        <div style="width: 20%">
                                            <ul>
                                                <li><a href="">Nghiên cứu khoa học</a></li>
                                                <li><a href="">Sinh viên NCKH</a></li>
                                                <li><a href="">Học bổng nghiên cứu</a></li>
                                            </ul>
                                        </div>
                                        <div style="width: 20%">
                                            <ul>
                                                <li><a href="">Hội thảo hội nghị</a></li>
                                                <li><a href="">Bài báo khoa học</a></li>
                                                <li><a href="/nckh/lylich-khoahoc.html">Lý lịch nhà khoa học</a></li>
                                            </ul>
                                        </div>
                                        <div style="width: 20%; margin: 20px;">
                                            <img src="http://viethanit.edu.vn/images/stories/DataImage/tapsan/Tapsan.jpg" height="200px">
                                        </div>
                                    </div> -->
                                </li>
                                <li><a href="#">Hợp tác</a></li>
                            </ul>
                        </nav>
                        <nav class="main-menu right">
                            <ul>
                                <li><a href="#">Phụ huynh - Học sinh</a></li>
                                <li><a href="#">Sinh viên</a></li>
                                <li><a href="#">Cựu Sinh Viên</a></li>
                                <li><a href="#">Doanh nghiệp</a></li>
                            </ul>
                        </nav>
                        <nav id="top-menu" class="top-menu for-md layer-container">
                            <ul>
                                <!-- <li><a href="/tintuc/"><span></span>Tin tức</a></li> -->
                                <li><a href="https://mail.viethanit.edu.vn" target="_blank">Mail</a></li>
                                <li><a href="http://mvh.viethanit.edu.vn">Nội bộ</a></li>
                                <li><a href="https://www.facebook.com/viethanicu/" target="_blank">Facebook</a></li>
                                <li><a href="en/"><span><img src="/client/img/flag_gb.png"></span><span class="text"> English</a></a></li>
                                <li><a href="ko/"><span><img src="/client/img/flag_kr.png"></span><span class="text"> 한국어</a></a></li>
                            </ul>
                        </nav>
