                        <nav class="main-menu">
                            <ul>
                                <li><a href="/icist-2017/en">About ICIST</a></li>
                                <li><a href="/icist-2017/en/news.html">News</a></li>
                                <li><a href="/icist-2017/en/pressrelease.html">Press Release</a></li>
                                <li><a href="/icist-2017/en/gallery.html">Gallery</a></li>
                                <!-- <li><a href="/icist-2017/en/booking.html">Booking</a></li> -->
                                <li><a href="/icist-2017/en/hoian-registration.html">Hoian Tour Registration</a></li>
                            </ul>
                        </nav>
                        <nav class="main-menu right">
                            <ul>
                                <li><a href="/icist-2017/{{ page.link_vi }}">Tiếng Việt</a></li>
                                <li><a href="https://conference.cs.cityu.edu.hk/icist/">Official Website</a></li>
                            </ul>
                        </nav>
                        <nav id="top-menu" class="top-menu for-md layer-container">
                            <ul>
                                <li><a href="/en">viethanit.edu.vn</a></li>
                            </ul>
                        </nav>
