                        <nav class="main-menu">
                            <ul>
                                <li><a href="/thuvien/">Trang chủ</a></li>
                                <li><a href="/thuvien/thuvien.html">Thư viện</a></li>
                                <li><a href="/thuvien/thuvienso.html">Thư viện số</a></li>
                                <li><a href="/thuvien/dichvu.html">Dịch vụ</a></li>

                            </ul>
                        </nav>
                        <nav id="top-menu" class="top-menu for-md layer-container">
                            <ul>
                                <li><a href="/">viethanit.edu.vn</a></li>
                            </ul>
                        </nav>
