
                        <nav class="main-menu">
                            <ul>
                                <li><a href="/index.php">Tiếng việt</a></li>
                                <li><a href="/en">English</a></li>
                                <li><a href="/ko">한국어</a></li>
                            </ul>
                        </nav>
                        <nav class="main-menu right">
                            <ul>

                            </ul>
                        </nav>
                        <nav id="top-menu" class="top-menu for-md layer-container">
                            <ul>
                                <!-- <li><a href="/tintuc/"><span></span>Tin tức</a></li> -->
                                <li><a href="https://mail.viethanit.edu.vn" target="_blank">Mail</a></li>
                                <li><a href="http://mvh.viethanit.edu.vn">Nội bộ</a></li>
                                <li><a href="https://www.facebook.com/viethanicu/" target="_blank">Facebook</a></li>
                            </ul>
                        </nav>
