

                <nav class="main-menu right fixed-right">
                    <ul>
                        <li><a href="/index.php"><span class="flag"><img src="/client/img/flag_vn.png"></span> Tiếng Việt</a></li>
                        <li><a href="en/"><span class="flag"><img src="/client/img/flag_gb.png"></span> English</a></li>
                        <li><a href="ko/"><span class="flag"><img src="/client/img/flag_kr.png"></span> 한국어</a></li>
                    </ul>
                </nav>
                <nav id="top-menu" class="top-menu for-md layer-container">
                    <ul>
                        <!-- <li><a href="/tintuc/"><span></span>Tin tức</a></li> -->
                        <li><a href="https://mail.viethanit.edu.vn" target="_blank">Hộp thư công vụ</a></li>
                        <li><a href="http://mvh.viethanit.edu.vn" target="_blank">Trang nội bộ</a></li>
                        <li><a href="http://doc.viethanit.edu.vn" target="_blank">Trang đào tạo</a></li>
                        <li><a href="http://viethanit.edu.vn/tuyensinh">Trang tuyển sinh</a></li>
                        <li><a href="https://www.facebook.com/viethanicu/" target="_blank">Facebook</a></li>

                    </ul>
                </nav>
