                        <nav class="main-menu">
                            <ul>
                                <li><a href="/thethao2018/">Trang chủ</a></li>
                                <li><a target="_blank" href="http://viethanit.edu.vn/dao-tao/">Bóng đá</a></li>
                                <li><a target="_blank" href="http://viethanit.edu.vn/dao-tao/">Bóng chuyển</a></li>
                                <li><a target="_blank" href="http://viethanit.edu.vn/dao-tao/">Cầu lông</a></li>
                                <li><a target="_blank" href="http://viethanit.edu.vn/dao-tao/">Đi bộ</a></li>
                            </ul>
                        </nav>
                        <nav class="main-menu right">
                        </nav>
                        <nav id="top-menu" class="top-menu for-md layer-container">
                            <ul>
                                <li><a href="/">viethanit.edu.vn</a></li>
                                <li><a href="https://www.facebook.com/viethanicu/" target="_blank">Facebook</a></li>
                            </ul>
                        </nav>
