                        <nav class="main-menu">
                            <ul>
                                <li><a href="/tuyensinh/">Trang chủ</a></li>
                                <li><a href="/tuyensinh/10nam.html">Tuyển sinh 2018</a></li>
                                <li><a href="/tuyensinh/hoatdong.html">Các ngành đào tạo</a></li>
                                <li><a href="/tuyensinh/lekyniem.html">Cơ sở vật chất</a></li>
                                <li><a href="/tuyensinh/lekyniem.html">Tin tức</a></li>
                                <li><a href="/tuyensinh/lekyniem.html">Hỏi đáp</a></li>
                                <li><a href="/tuyensinh/tintuc.html">Tin tức</a></li>
                            </ul>
                        </nav>
                        <nav class="main-menu right">
                            <ul>
                                <li><a href="/10-nam/thongtin.html">Đăng ký trực tuyến</a></li>
                            </ul>
                        </nav>
                        <nav id="top-menu" class="top-menu for-md layer-container">
                            <ul>
                                <li><a href="/">viethanit.edu.vn</a></li>
                                <li><a href="https://www.facebook.com/viethanicu/" target="_blank">Facebook</a></li>
                            </ul>
                        </nav>
