                        <nav class="main-menu">
                            <ul>
                                <li><a href="/tuyensinh/">Trang chủ</a></li>
                                <!--<li><a href="/tuyensinh/10nam.html">Tuyển sinh 2018</a></li>-->
                                <li><a href="http://ko.viethanit.edu.vn/dao-tao/">Các ngành đào tạo</a></li>
                                <li><a href="http://ko.viethanit.edu.vn/2017/12/07/co-so-vat-chat/">Cơ sở vật chất</a></li>
                                <li><a href="/tuyensinh/tintuc.html">Tin tức</a></li>
                                <li><a href="/tuyensinh/hoidap.html">Hỏi đáp</a></li>
                            </ul>
                        </nav>
                        <nav class="main-menu right">
                            <ul>
                                <li><a href="/tuyensinh/dkxt_online.html">Đăng ký trực tuyến</a></li>
                            </ul>
                        </nav>
                        <nav id="top-menu" class="top-menu for-md layer-container">
                            <ul>
                                <li><a href="/">viethanit.edu.vn</a></li>
                                <li><a href="https://www.facebook.com/viethanicu/" target="_blank">Facebook</a></li>
                            </ul>
                        </nav>
