// color
$primary-color: #1a77cd;
$primary-bg-color: #1a77cd;
$body-bg-color: #e8e8e8;
$section-bg-color: #fff;
$container-bg-color: #fff;

// width
$container-width: 1180px;

// font color
$primary-bg-font-color: #fff;

// size
$grid-gutter: 15px;

// clearfix
@mixin clearfix {
    &:after,
    &:before {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

// grid, row, col, size ...
// grid
@mixin row($gutter) {
    margin-left: $gutter / -1;
    margin-right: $gutter / -1;
    @include clearfix;
}

@mixin col($gutter) {
    float: left;
    padding-left: $gutter;
    padding-right: $gutter;
    min-height: 1px;
}

@function -col-width($blocks, $block-width, $gutter-width) {
    @return $block-width * $blocks + ($blocks - 1) * $gutter-width * 2;
}

@function -col-percent-width($blocks, $total) {
    @return $blocks / $total * 100%;
}
