/**
 * SITE CSS
 */

* {
    box-sizing: border-box;
    font-size: 13px;
}

body {
    background-color: $body-bg-color;

    &.fixed-header-global {
        margin-top: 30px;

        header {
            .global {
                position: fixed;
                top: 0px;
                left: 0px;
                width: 100%;
                z-index: 20;
            }
        }
    }
}

.container {
    width: $container-width;
    margin: 0 auto;
}

header {
    position: relative;
    background-color: #fff;

    .container {
        background-color: $container-bg-color;
        position: relative;
    }

    .global {
        height: 30px;
        padding-top: 7px;
        background-color: $primary-color;
        overflow: hidden;
        color: $primary-bg-font-color;

        .intro_text {
            width: 50%;
            float: left;

            span {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 18px;
            }
        }

        a {
            color: $primary-bg-font-color;
        }

        .container {
            background-color: $primary-color;
        }

        .links {
            float: right;
            ul {
                li {
                    display: block;
                    float: left;
                    text-transform: uppercase;
                    font-weight: 700;
                    line-height: 18px;

                    + li {
                        margin-left: 20px;
                    }

                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .title {
        margin-top: 5px;
        border-bottom: 1px solid #eee;

        .header-main {
            font-family: 'Roboto', sans-serif;
            padding: 10px 0;
        }

        .header-title {
            background: url(../img/logo.png) 0 0 no-repeat;
            background-size: 50px 47px; /* 100 94 */
            padding-top: 8px;
            padding-left: 63px;
            margin: 0;
            font-size: 27px;
            color: $primary-color;
            height: 50px;
            text-transform: uppercase;
        }
    }

    .header-menu {
        @include clearfix;
        // border-top: 1px solid #ddd;
        position: relative;

        .main-menu {
            > ul {
                > li {
                    padding: 8px 0;
                    display: block;
                    float: left;
                    margin-right: 20px;

                    > a {
                        color: #000;
                        text-transform: uppercase;
                        font-size: 15px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 700;
                    }

                    &:hover {
                        .menu-panel {
                            display: block;
                        }
                    }
                }
            }

            &.right {
                float: right;
                > ul {
                    > li {
                        margin-right: 0px;
                        margin-left: 20px;
                    }
                }
            }

            .menu-panel {
                display: none;
                position: absolute;
                top: 33px;
                left: 0px;
                width: 100%;
                background-color: $section-bg-color;
                border-top: 3px solid $primary-color;
                border-bottom: 3px solid $primary-color;
                z-index: 19;
                height: 300px;
            }
        }
    }

    a, a:visited, a:hover, a:active {
        text-decoration: none;
    }
}

.section {
    .section-header {
        h2 {
            font: 'Roboto', sans-serif;
            font-size: 18px;
            color: #000;
        }
    }

    .section-container {
        background-color: $section-bg-color;
    }
}

.slider {
    padding-top: 5px;

    .container {
        height: 300px;
        overflow: hidden;
    }
}
