@import "modules/base";

.btn {
    display: inline-block;
    padding: 8px 15px 6px 15px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
      touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.btn.disabled,
.btn[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: .65;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #000;
    text-decoration: none;
}

.btn-default {
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus {
    color: #fff;
    text-decoration: none;
}

.btn-default.inactive {
    background-color: #8a8a8a;
}



.sc-scv {
    .card {
        width: -col-percent-width(1, 3);
        text-align: center;

        > div.cv-container {
            height: 380px;
            overflow: hidden;
            padding-top: 30px !important;
            position: relative;
            margin-bottom: 30px;
        }

        a {
            color: $primary-bg-color;

            &:hover {
                text-decoration: none;
            }

            &:focus {
                text-decoration: none;
            }
        }

        .photo {
            margin-bottom: 30px;

            .photo-container {
                width: 100px;
                height: 100px;
                overflow: hidden;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }
        }

        .title-name {
            margin-bottom: 30px;
            small {
                font-weight: normal;
            }
        }

        .title-work {
            // height: 50px;
        }

        .field {
            width: auto;
            position: absolute;
            bottom: 15px;
            left: 0;
            text-align: center;
            width: 100%;

            span {
                display: inline-block;
                background: #ce352c;
                color: #fff;
                padding: 5px 8px 3px 8px;
                border-radius: 2px;
            }
        }
    }
}

.scv-info {
    @include clearfix;

    .photo {

        width: 150px;
        height: 150px;
        padding: 15px;
        float: left;

        .photo-container {
            width: 120px;
            height: 120px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }

    .bio {
        float: left;
        padding: 15px;

        h2 {
            color: $primary-bg-color;
        }

        .field {
            margin-top: 10px;
            span {
                display: inline-block;
                margin-right: 5px;
                background: #ddd;
                padding: 3px 6px 1px 6px;
                border-radius: 2px;

                &.mainfield {
                    background: #ce352c;
                    color: #fff;
                }
            }
        }
    }

    .more {
        float: right;
        padding: 15px;
        width: 280px;
    }
}

.scv-works {
    margin-bottom: 30px;

    .works-list {
        width: calc(100% - 400px);
        float: left;

        .works-group {
            h2 {
                font-size: 24px;
                margin-bottom: 10px;
            }

            + .works-group {
                margin-top: 2px;
            }

            .works {
                .work {
                    .title {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .works-fields {
        width: 400px;
        float: left;
    }
}

.sc-search {
    .search {
        padding: 15px;
    }

    .type-container {
        margin-bottom: 15px;

        span {
            display: inline-block;
            background: #ddd;
            padding: 8px 10px 4px 10px;
            text-transform: uppercase;
            cursor: pointer;
            font-weight: 700;

            &.active {
                background: $primary-bg-color;
                color: #fff;
            }
        }
    }

    .scientist-container, .work-container {
        margin-bottom: 15px;
    }

    .form_row {
        label {
            display: block;
            margin-bottom: 3px;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 4px 5px 2px 4px;
        }

        & + .form_row {
            margin-top: 5px;
        }
    }
}

#search-result {
    margin-top: 15px;
}
