{% assign major = site.data.majors[page.major] %}
                    <div class="block_component admission_card" data-spy="affix" data-offset-top="80">
                        <p><strong>Ngành {{ major.title }}</strong>, mã ngành <strong>{{ major.code }}</strong> </p>
                        <p>Hình thức tuyển sinh:</p>
                        <ul>
                            <li>Theo kết quả kỳ thi THPT Quốc gia</li>
                            <li>Xét tuyển học bạ THPT</li>
                        </ul>
                        <p>Tổ hợp xét tuyển:</p>
                        <ul>
                            <li>Ngữ văn, Lịch sử, Địa lí (C00)</li>
                            <li>Ngữ văn, Toán, Tiếng Anh (D01)</li>
                            <li>Ngữ văn, Lịch sử, Tiếng Anh (D14)</li>
                            <li>Ngữ văn, Địa lí, Tiếng Anh (D15)</li>
                            <li>Toán, Vật lý, Anh văn (A01)</li>
                            <li>Ngữ văn, Toán, Vật lí (C01)</li>
                            <li>Ngữ văn, Toán, Địa lí (C04)</li>
                            <li>Toán, Ngữ văn, Anh văn (D01)</li>
                        </ul>
                        <!-- <p>Thời gian tuyển sinh:</p>
                        <ul>
                            <li>Đợt 1: 05/07/15 đến 20/08/15</li>
                            <li>Đợt 2: 21/08/15 đến 15/09/15</li>
                            <li>Đợt 3: 16/09/15 đến 05/10/15</li>
                            <li>Đợt 4: 06/10/15 đến 25/10/15</li>
                        </ul> -->
                        <p class="alert alert-info">Thí sinh xét tuyển ngành này theo kết quả học bạ có thể <strong><a href="dkxt_hocba_online.html">đăng ký online ngay bây giờ</a></strong> hoặc tìm hiểu thêm về <a href="thongtin_tuyensinh2016.html">thông tin tuyển sinh 2016 tại đây</a>.</p>
                        <a href="dkxt_hocba_online.html" class="btn btn-primary btn-lg btn-block">Đăng ký xét tuyển bằng học bạ</a>
                    </div>
