<!doctype html>
<html lang="{{ site.data.site[page.site].locale }}">
    <!-- Behind the scene : https://github.com/VHMIS/VHIT-Web -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page.meta_title }}</title>
        <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}{% else %}{{ site.data.site[page.site].meta_description }}{% endif %}">

        <!-- Social sharing -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{% if page.tw_title %}{{ page.tw_title }}{% else %}{{ page.meta_title }}{% endif %}">
        <meta name="twitter:description" content="{% if page.tw_description %}{{ page.tw_description }}{% elsif page.meta_description %}{{ page.meta_description }}{% else %}{{ site.data.site[page.site].meta_description }}{% endif %}">
        <meta name="twitter:image" content="http://viethanit.edu.vn{% if page.tw_image %}{{ page.tw_image }}{% else %}{{ site.data.site[page.site].meta_tw_image }}{% endif %}">
{% if page.og_title %}        <meta property="og:title" content="{{ page.og_title }}">{% endif %}
{% if page.og_description %}        <meta property="og:description" content="{{ page.og_description }}">{% endif %}
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://viethanit.edu.vn{{ page.url }}" />
        <meta property="og:image" content="http://viethanit.edu.vn{% if page.og_image %}{{ page.og_image }}{% else %}{{ site.data.site[page.site].meta_og_image }}{% endif %}" />

        <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
        <link rel="icon" type="image/png" href="/client/img/logo.png" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=vietnamese" rel="stylesheet">
        <link rel="stylesheet" href="/client/css/font_icon.css">
        <link rel="stylesheet" href="/client/css/main.css">
{% for css in site.data.site[page.site].css %}
        <link rel="stylesheet" href="/client/css/{{ css }}.css?20180207103000">
{% endfor %}
        <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    </head>
    <body>
        <header class="page-header" role="banner">
            <div class="global">
                <div class="container">
                </div>
            </div>
            <div class="title">
                <div class="container">
                    <div class="header-main">
                        <a href="{{ site.data.site[page.site].index }}">
                            <span class="header-title">
                                {{ site.data.site[page.site].title }}
                            </span>
                            {% if site.data.site[page.site].title2 %}
                            <span class="header-title2">
                                {{ site.data.site[page.site].title2 }}
                            </span>
                            {% endif %}
                        </a>
                        <div class="intro_text">
                            <span class="intro_text_1">{{ site.data.site[page.site].sub_title }}</span>
                        </div>
                    </div>
                    <div id="open-menu-button" class="open-menu-button" role="button">
                        <span class="ic-navicon"></span>
                    </div>
                    <div id="quickmenu-button" class="quickmenu-button layer-toggle" data-layer="#top-menu" role="button">
                        <span>Liên kết nhanh</span>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="container">
                    <div class="header-menu">
{% include header_menu/{{ page.site }}.html %}
                        <span id="close-menu-button" class="close-menu-button" role="button">&times;</span>
                    </div>
                </div>
            </div>
        </header>

{{ content }}

        <footer class="page-footer">
            <div class="container">
{% include footer/{{ page.site }}.html %}
            </div>
        </footer>

        <script src="/client/js/main.js"></script>
{% for js in site.data.site[page.site].js %}
        <script src="/client/js/{{ js }}.js"></script>
{% endfor %}
{% include ga.html %}
    </body>
</html>
