<!DOCTYPE html>
<html lang="en">
    <!-- Behind the scene : https://github.com/VHMIS/VHIT-Web -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/client/tuyensinh/img/logo.png" />
        <meta name="description" content="Chuyên trang tuyển sinh 2016 của trường CĐ CNTT Hữu Nghị Việt Hàn">
        <meta name="author" content="ViethanIT">
        <title>{{ page.title }} | Trường CĐ CNTT Hữu Nghị Việt Hàn</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
        <link href="/client/tuyensinh/css/bootstrap.min.css" rel="stylesheet">
        <link href="/client/tuyensinh/css/main.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            var w_page = '{{ page.page }}'
        </script>
    </head>

    <body>
        <div class="container sc-header">
            <!-- Header -->
            <header class="">
                <div class="row">
                    <div class="col-md-9">
                        <div class="ministry_text">Bộ Thông tin và Truyền thông</div>
                        <a href="/tuyensinh/index.html">
                            <h1 class="header-title">
                                <small>Trường Cao đẳng Công nghệ Thông tin Hữu nghị Việt - Hàn</small><br>
                                Trang tuyển sinh 2016
                            </h1>
                        </a>
                    </div>
                </div>
            </header>
            <!-- Nav -->
            <nav class="navbar navbar-default navbar-s1">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/tuyensinh/index.html"></a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="/tuyensinh/thongtin_tuyensinh2016.html">Thông tin tuyển sinh <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/tuyensinh/thongtin_tuyensinh2016.html">Thông tin tuyển sinh 2016</a></li>
                            <li><a href="/tuyensinh/ds_trungtuyen_tracuu.html">Tra cứu kết quả trúng tuyển</a></li>
                            <!-- <li><a href="/tuyensinh/thongbao_nhaphoc_dot3_2015.html">Thông báo trúng tuyển và nhập học đợt 3</a></li> -->
                            <!-- <li><a href="/tuyensinh/#">Danh sách xét tuyển nguyện vọng bổ sung đợt 2</a></li> -->
                            <!-- <li><a href="/tuyensinh/#">Danh sách xét tuyển học bạ đợt 3</a></li> -->
                            <!-- <li><a href="/tuyensinh/thongbao_diemtrungtuyen_2015.html">Điểm trúng tuyển dự kiến</a></li> -->
                            <!-- <li><a href="/tuyensinh/ds_trungtuyen_dot2.html">Danh sách trúng tuyển đợt 2</a></li> -->
                            <!-- <li><a href="/tuyensinh/ds_trungtuyen.html">Danh sách trúng tuyển theo kết quả thi (toàn bộ)</a></li> -->
                            <!-- <li><a href="/tuyensinh/ds_trungtuyen_hocba.html">Danh sách trúng tuyển theo học bạ (toàn bộ)</a></li> -->
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">Giới thiệu ngành đào tạo <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/tuyensinh/nganh_dt_tt.html">Công nghệ kĩ thuật điện tử, truyền thông</a></li>
                            <li><a href="/tuyensinh/nganh_kt.html">Công nghệ kĩ thuật kiến trúc</a></li>
                            <li><a href="/tuyensinh/nganh_tkdh.html">Thiết kế đồ họa</a></li>
                            <li><a href="/tuyensinh/nganh_ttdpt.html">Truyền thông đa phương tiện</a>
                            <li><a href="/tuyensinh/nganh_cntt.html">Công nghệ thông tin</a>
                            <li><a href="/tuyensinh/nganh_khmt.html">Khoa học máy tính</a></li>
                            <li><a href="/tuyensinh/nganh_tt_mmt.html">Truyền thông và mạng máy tính</a>
                            <li><a href="/tuyensinh/nganh_qtkd.html">Quản trị kinh doanh</a></li>
                            <li><a href="/tuyensinh/nganh_marketing.html">Marketing</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/tuyensinh/hocbong.html">Học bổng - Cơ hội việc làm</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/tuyensinh/hocbong.html">Học bổng</a></li>
                            <li><a href="/tuyensinh/miengiam_hocphi.html">Miễn giảm học phí</a></li>
                            <li><a href="/tuyensinh/cohoivieclam_duankhoinghiep.html">Cơ hội việc làm</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/tuyensinh/dkxt_hocba_online.html">Đăng ký xét tuyển trực tuyến<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/tuyensinh/dkxt_hocba_online.html">Xét tuyển học bạ THPT</a></li>
                            <li><a href="/tuyensinh/dkxt_nguyenvong_online.html">Xét tuyển bằng kết quả kỳ thi THPT Quốc gia</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/tuyensinh/tintuc.html">Tin tức tuyển sinh</a>
                    </li>
                    <li>
                        <a href="/tuyensinh/hoidap.html">Hỏi đáp</a>
                    </li>
                </ul>
            </nav>
            <div class="spec_ontop"></div>
        </div>

        {{ content }}

        <footer class="container">
                <div class="row">
                    <div class="col-md-6">
                        &#169; 2016 - <a href="http://viethanit.edu.vn">Trường Cao Đẳng  CNTT Hữu nghị Việt - Hàn</a><br>
                    </div>
                    <div class="col-md-6 text-right">
                        Thiết kế và phát triển bởi TT CNTT
                    </div>
                </div>
        </footer>

        <div class="totop">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/client/tuyensinh/js/bootstrap.min.js"></script>
        <script src="/client/tuyensinh/js/main.js"></script>

        {% include tuyensinh/ga.html %}
    </body>
</html>
