---
site: cest
meta_title: Hội đồng | CEST 2017
layout: default
---

        <section class="section sc-general-cc">
            <div class="container">
                <div class="section-header">
                    <h1>Đồng chủ tịch</h1>
                </div>
                <div class="section-container">
                    <ul class="members">
                        <li><span class="name big">TS. Hoàng Bảo Hùng</span><br>Hiệu trưởng<br>Trường Cao đẳng CNTT Hữu nghị Việt-Hàn (VHIT)</li>
                        <li><span class="name big">TS. Cung Trọng Cường</span><br>Hiệu trưởng<br>Trường Cao đẳng Công nghiệp Huế (HUEIC)</li>
                        <li><span class="name big">TS. Hồ Văn Thành</span><br>Hiệu trưởng<br>Trường Cao đẳng Sư phạm Thừa Thiên Huế (HCE)</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="section sc-organizing-cc">
            <div class="container">
                <div class="section-header">
                    <h1>Ban tổ chức</h1>
                </div>
                <div class="section-container">
                    {% for board in site.data.cest2017.org_b %}
                    <h2>{{ board.title }}</h2>
                    <ul class="list-members">
                        {% for member in board.members %}
                        <li>
                            <span class="name">{{ member.name }}</span>
                            <span class="pos">{{ member.pos }}</span>
                            <span class="duty">{{ member.note }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="section sc-programme-cc last">
            <div class="container">
                <div class="section-header">
                    <h1>Ban chương trình</h1>
                </div>
                <div class="section-container">
                    <ul class="list-members2">
                        {% for member in site.data.cest2017.pro_b %}
                        <li>
                            <span class="name">{{ member.name }}</span>
                            <span class=""> - {{ member.field }} ({{ member.col }})</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
