@font-face {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: 400;
    src: url("../font/pn_400.woff?6vot21") format("woff");
}

@font-face {
    font-family: "ProximaNova";
    font-style: italic;
    font-weight: 400;
    src: url("../font/pn_400_i.woff?6vot21") format("woff");
}

@font-face {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: 600;
    src: url("../font/pn_600.woff?6vot21") format("woff");
}

@font-face {
    font-family: "ProximaNova";
    font-style: normal;
    font-weight: 700;
    src: url("../font/pn_700.woff?6vot21") format("woff");
}

@font-face {
    font-family: "ProximaNova";
    font-style: italic;
    font-weight: 700;
    src: url("../font/pn_700_i.woff?6vot21") format("woff");
}
