/**
 * SITE CSS
 */

body {
    background-color: $body-bg-color;

    &.fixed-header-global {
        margin-top: 30px;

        header {
            .global {
                position: fixed;
                top: 0px;
                left: 0px;
                width: 100%;
                z-index: 20;
            }
        }
    }

    &.show_left_menu {}

    &.splash {
        background-color: #fff;
    }
}

.container {
    width: $container-width;
    margin: 0 auto;
}

@media (max-width: 1179px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.page-header {
    position: relative;
    background-color: #fff;

    .container {
        background-color: $container-bg-color;
        position: relative;
    }

    .global {
        height: 30px;
        padding-top: 7px;
        background-color: $primary-color;
        overflow: hidden;
    }

    .title {
        margin-top: 5px;

        .header-main {
            padding: 12px 0;
            position: relative;
        }

        .header-title {
            display: block;
            font-weight: 700;
            background: url(../img/logo.png) 0 5px no-repeat;
            background-size: 50px 47px; /* 100 94 */
            padding-top: .3rem;
            padding-left: 67px;
            padding-right: 67px;
            margin: 0;
            font-size: 2rem;
            color: $primary-color;
            height: 55px;
            text-transform: uppercase;

            @include text-truncate;
        }

        .header-title2 {
            display: block;
            font-weight: 700;
            font-size: 1.5rem;
            color: $primary-color;
            height: 50px;
            text-transform: uppercase;
            @include text-truncate;
            padding-top: .3rem;
            padding-left: 67px;
            padding-right: 67px;
        }

        .intro_text {
            position: absolute;
            top: -31px;
            left: 0;
            color: $primary-bg-font-color;
            width: 100%;
            @include text-truncate;

            span {
                font-size: .8rem;
                // display: block;
                // float: left;
                text-transform: uppercase;
                font-weight: 700;
            }
        }

        .open-menu-button {
            position: absolute;
            right: 10px;
            top: 22px;
            display: none;

            span {
                display: block;
                font-size: 28px;
            }
        }

        .quickmenu-button {
            position: absolute;
            top: -31px;
            right: 15px;
            color: $primary-bg-font-color;
            display: none;

            span {
                font-size: .8rem;
                // display: block;
                // float: left;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }

    .header-menu {
        @include clearfix;
        border-top: 1px solid #eee;
        position: relative;

        .main-menu {
            > ul {
                > li {
                    padding: 12px 0 5px 0;
                    float: left;
                    margin-right: 20px;
                    border-bottom: 3px solid #fff;

                    > a {
                        color: #000;
                        text-transform: uppercase;
                        font-weight: 700;
                    }

                    &:hover {
                        border-bottom: 3px solid $primary-bg-color;
                        .menu-panel {
                            display: block;
                        }

                        > a {
                            color: $primary-color;
                        }
                    }

                    .flag img {
                        margin-top: -3px;
                    }
                }
            }

            &.right {
                float: right;
                > ul {
                    > li {
                        margin-right: 0px;
                        margin-left: 20px;
                    }
                }
            }

            .menu-panel {
                display: none;
                position: absolute;
                top: 43px;
                left: 0px;
                width: 100%;
                background-color: $section-bg-color;
                z-index: 19;
                box-shadow: 0 5px 10px rgba(0,0,0,0.3);

                &::before {
                    content: '';
                    position: absolute;
                    top: -17px;
                    left: 32px;
                    height: 0;
                    width: 0;
                    border: 7px solid transparent;
                    border-bottom: 7px solid $primary-bg-color;
                }

                &.for-education {
                    &::before {
                        left: 115px;
                    }
                }

                &.for-coop {
                    &::before {
                        left: 225px;
                    }
                }

                > div {
                    float: left;

                    ul {
                        margin: 20px;

                        li {
                            font-size: 1.1rem;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }

        .top-menu {
            position: absolute;
            top: -109px;
            right: 0;

            &.has-title2 {
              top: -159px;
            }

            ul {
                li {
                    display: block;
                    font-size: .8rem;
                    float: left;
                    text-transform: uppercase;
                    font-weight: 700;
                    @include text-truncate;

                    + li {
                        margin-left: 20px;
                    }

                    [class^="ic-"], [class*=" ic-"] {
                        font-size: 14px;
                    }
                }
            }

            a {
                color: $primary-bg-font-color;
            }
        }

        .close-menu-button {
            position: absolute;
            right: 15px;
            top: -35px;
            color: #fff;
            display: none;
            font-size: 2rem;
            font-weight: 700;
        }
    }

    a, a:visited, a:hover, a:active {
        text-decoration: none;
    }
}

@media (max-width: 970px) {
    .page-header {
        .title {
            .header-title {
                span {
                    display: none;
                }
            }
        }

        .header-menu {
            .main-menu {
                @include clearfix;
                float: none;
                // width: 100%;

                &.right {
                    float: none;
                    // width: 100%;

                    > ul {
                        > li {
                            margin-right: 20px;
                            margin-left: 0px;
                        }
                    }
                }

                &.right.fixed-right {
                    float: right;
                    // width: 100%;

                    > ul {
                        > li {
                            margin-right: 0px;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 501px) and (max-width: 810px) {
    .page-header {
        .title {
            .quickmenu-button {
                display: block;
            }
        }

        .header-menu {
            .top-menu.for-md {
                top: -85px;
                width: 120px;
                visibility: hidden;
                opacity: 0;
                transition: top 0.3s ease 0s, opacity 0.6s ease 0s;

                &::before {
                    content: '';
                    position: absolute;
                    top: -14px;
                    left: 52px;
                    height: 0;
                    width: 0;
                    border: 7px solid transparent;
                    border-bottom: 7px solid #fff;
                }

                ul {
                    background: #fff;
                    border-radius: 2px;
                    box-shadow: 0 2px 4px rgba(0,0,0,.36),0 0 0 1px rgba(0,0,0,.06);
                    padding: 10px;

                    li {
                        float: none;
                        margin-left: 0px;

                        + li {
                            margin-top: 8px;
                        }
                    }
                }

                a {
                    color: #000;
                }

                &.active {
                    visibility: visible;
                    opacity: 1;
                    top: -80px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    body {
        &.show_left_menu {
            overflow-y: hidden;

            .page-header {
                .header-menu {
                    left: 0%;
                    opacity: 1;
                }
            }
        }
    }

    .page-header {
        .title {
            .open-menu-button {
                display: block;
            }
        }

        .header-menu {
            top: 0px;
            left: -100%;
            opacity: 1;
            transition: left 0.6s ease 0s, opacity 0.6s ease 0s;
            position: fixed;
            top: 0px;
            background-color: #fff;
            width: 100%;
            min-height: 100%;
            z-index: 20;
            border-top: 30px solid $primary-color;
            padding-left: 10px;

            .main-menu {
                display: block;
                float: none !important;

                > ul {
                    > li {
                        float: none;
                        margin-right: 0px !important;
                        margin-left: 0px !important;
                    }
                }
            }

            .top-menu {
                top: -23px;
                left: 10px;
                // z-index: 22px;

                .text {
                    display: none;
                }
            }

            .close-menu-button {
                display: block;
            }
        }
    }
}

.section {
    &.last {
        margin-bottom: 2rem;
    }

    .section-header {
        padding: 23px 0 18px 0;
        text-align: center;

        h1 {
            text-transform: uppercase;
            color: #000;
        }
    }

    .section-container {
        background-color: $section-bg-color;
        overflow: hidden;

        &.empty_with_note {
            padding: 15px;
        }

        &.for_card {
            background-color: $body-bg-color;
        }

        .card_info {
            @include row($grid-gutter);

            .card {
                @include col($grid-gutter);

                > div {
                    background-color: $section-bg-color;
                    padding: 15px;
                    position: relative;
                    width: 100%;
                }
            }
        }
    }
}

.sc-coming-soon {
    padding-top: 30px;
    margin-bottom: 30px;

    .container {
        padding: 15px;
        background-color: #fff;
    }
}
