/**
 * SITE CSS
 */

body {
    background-color: $body-bg-color;

    &.fixed-header-global {
        margin-top: 30px;

        header {
            .global {
                position: fixed;
                top: 0px;
                left: 0px;
                width: 100%;
                z-index: 20;
            }
        }
    }

    &.show_left_menu {}
}

.container {
    width: $container-width;
    margin: 0 auto;
}

@media (max-width: 1179px) {
    .container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.page-header {
    position: relative;
    background-color: #fff;

    .container {
        background-color: $container-bg-color;
        position: relative;
    }

    .global {
        height: 30px;
        padding-top: 7px;
        background-color: $primary-color;
        overflow: hidden;
    }

    .title {
        margin-top: 5px;

        .header-main {
            padding: 12px 0;
            position: relative;
        }

        .header-title {
            background: url(../img/logo.png) 0 0 no-repeat;
            background-size: 50px 47px; /* 100 94 */
            padding-top: .3rem;
            padding-left: 67px;
            padding-right: 67px;
            margin: 0;
            font-size: 2rem;
            color: $primary-color;
            height: 50px;
            text-transform: uppercase;

            @include text-truncate;
        }

        .intro_text {
            position: absolute;
            top: -31px;
            left: 0;
            color: $primary-bg-font-color;
            width: 100%;
            @include text-truncate;

            span {
                font-size: .8rem;
                // display: block;
                // float: left;
                text-transform: uppercase;
                font-weight: 700;
            }
        }

        .open-menu-button {
            position: absolute;
            right: 10px;
            top: 22px;
            display: none;

            span {
                display: block;
                font-size: 28px;
            }
        }
    }

    .header-menu {
        @include clearfix;
        border-top: 1px solid #eee;
        position: relative;

        .main-menu {
            > ul {
                > li {
                    padding: 12px 0 8px 0;
                    float: left;
                    margin-right: 20px;

                    > a {
                        color: #000;
                        text-transform: uppercase;
                        font-weight: 700;
                    }

                    &:hover {
                        .menu-panel {
                            display: block;
                        }
                    }
                }
            }

            &.right {
                float: right;
                > ul {
                    > li {
                        margin-right: 0px;
                        margin-left: 20px;
                    }
                }
            }

            .menu-panel {
                display: none;
                position: absolute;
                top: 33px;
                left: 0px;
                width: 100%;
                background-color: $section-bg-color;
                border-top: 3px solid $primary-color;
                border-bottom: 3px solid $primary-color;
                z-index: 19;
                height: 300px;
            }
        }

        .top-menu {
            position: absolute;
            top: -104px;
            right: 0;

            ul {
                li {
                    display: block;
                    font-size: .8rem;
                    float: left;
                    text-transform: uppercase;
                    font-weight: 700;

                    + li {
                        margin-left: 20px;
                    }

                    [class^="ic-"], [class*=" ic-"] {
                        font-size: 14px;
                    }
                }
            }

            a {
                color: $primary-bg-font-color;
            }
        }

        .close-menu-button {
            position: absolute;
            right: 10px;
            top: -30px;
            color: #fff;
            display: none;
            font-size: 2rem;
            font-weight: 700;
        }
    }

    a, a:visited, a:hover, a:active {
        text-decoration: none;
    }
}

@media (max-width: 400px) {
    body {
        &.show_left_menu {
            overflow-y: hidden;

            .page-header {
                .header-menu {
                    left: 0%;
                    opacity: 1;
                }
            }
        }
    }

    .page-header {
        .title {
            .open-menu-button {
                display: block;
            }
        }

        .header-menu {
            top: 0px;
            left: -100%;
            opacity: 1;
            transition: left 0.6s ease 0s, opacity 0.6s ease 0s;
            position: fixed;
            top: 0px;
            background-color: #fff;
            width: 100%;
            min-height: 100%;
            z-index: 20;
            border-top: 30px solid $primary-color;
            padding-left: 10px;

            .main-menu {
                display: block;
                float: none !important;

                > ul {
                    > li {
                        float: none;
                        margin-right: 0px !important;
                        margin-left: 0px !important;
                    }
                }
            }

            .top-menu {
                top: -23px;
                left: 10px;
                // z-index: 22px;
            }

            .close-menu-button {
                display: block;
            }
        }
    }
}

.section {
    .section-header {
        padding: 23px 0 18px 0;
        text-align: center;

        h1 {
            font-size: 2.2rem;
            text-transform: uppercase;
            color: #000;
        }
    }

    .section-container {
        background-color: $section-bg-color;
        overflow: hidden;

        &.for_card {
            background-color: $body-bg-color;
        }

        .card_info {
            @include row($grid-gutter);

            .card {
                @include col($grid-gutter);
            }
        }
    }
}

.sc-coming-soon {
    padding-top: 30px;
    margin-bottom: 30px;

    .container {
        padding: 15px;
        background-color: #fff;
    }
}

.slider {
    padding-top: 5px;

    .container {
        height: 300px;
        overflow: hidden;
    }
}

.page-footer {
    padding-top: 30px;
    background-color: $primary-bg-color;
    color: #eee;
    padding-bottom: 30px;

    h2 {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        color: #fff;
        text-transform: uppercase;
    }

    .links {
        @include clearfix;
        @include row($grid-gutter);

        .group {
            @include col($grid-gutter);
            width: -col-percent-width(1, 5);

            ul {
                margin-bottom: 20px;
            }
        }
    }

    .slogan {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    .copyright {
        text-align: center;
    }
}
