.section-about {
    .about {
        .field {
            @include clearfix;

            .title {
                width: 25%;
                float: left;

                h3 {
                    font-size: 15px;
                    font-weight: 700;
                    color: $primary-color;
                    margin: 0px;
                    padding: 0px;
                }
            }

            .info {
                width: 75%;
                float: left;

                ul {
                    list-style: none;

                    li {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
