.sc-admission {
    .section-container {
        .card_info {
            .card {
                width: -col-percent-width(1, 3)
            }
        }
    }

    .card {
        > div {
            background-color: $section-bg-color;
            padding: 15px;
            position: relative;
            width: 100%;
        }

        .sub {
            color: #ccc;
            text-transform: uppercase;
            font-size: 12px;
            text-align: center;
            margin-bottom: 15px;
            font-weight: 700;

            &::after {
                display: block;
                content: ' ';
                border-top: 1px solid #ddd;
                width: 40%;
                margin: 0 auto;
            }
        }

        div.under_sub {
            position: absolute;
            left: 0px;
            top: 62px;
            width: 100%;

            .sub {
                margin: 0 auto;
                width: 200px;
                padding: 4px 0 1px 0;
                color: #fff;
                border: 1px solid #fff;
                background-color: #d9534f;

                &::after {
                    display: none;
                }
            }
        }

        .number {
            font-size: 2rem;
            font-weight: 700;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
            padding-top: 30px;
            padding-bottom: 30px;
            margin-bottom: 10px;
            text-align: center;
            background: url(../img/sub_tuyensinh.jpg) center center;
        }

        h2 {
            border-bottom: 2px solid #d9534f;
            margin-bottom: 10px;
            color: #d9534f;
            font-size: 16px;
        }

        &.info {
            li {
                display: block;
                margin-bottom: 6px;
                border-bottom: 1px solid #eee;
                padding-bottom: 5px;
                margin-bottom: 5px;

                a {
                    color: #000;
                }
            }
        }

        &.majors {
            li {
                display: block;
                margin-bottom: 6px;
                border-bottom: 1px solid #eee;
                padding-bottom: 5px;
                margin-bottom: 5px;

                a {
                    color: #000;
                }
            }
        }

        .phone {
            background-color: #4CA9F4;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            height: 60px;
            padding-top: 15px;
            text-align: center;
            margin-bottom: 20px;
        }

        &.links {
            .infolink {
                padding: 20px 0 22px;
                text-align: center;
            }
            ul.register_button {
                @include clearfix;
                background-color: $primary-color;
                color: #fff;

                li {
                    float: left;
                    display: block;
                    width: 50%;
                    height: 45px;
                    padding: 15px;
                    font-size: 15px;
                    font-weight: 700;
                    text-align: center;

                    + li {
                        border-left: 1px solid #fff;
                    }

                    a {
                        color: #fff;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 999px) {
    .sc-admission {
        .section-container {
            .card_info {
                .card {
                    width: -col-percent-width(1, 2);

                    &.links {
                        width: -col-percent-width(1, 1);
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .sc-admission {
        .section-container {
            .card_info {
                .card {
                    width: -col-percent-width(1, 1);

                    &.majors {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}
